Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-06, with the labels that each got.

#6746 minor correction
  windows/security/information-protection/bitlocker/bitlocker-basic-deployment.md
Labels: bitlocker

#6849 Update offboard-machine-api.md
  windows/security/threat-protection/microsoft-defender-atp/offboard-machine-api.md
Labels: Microsoft submitter

#6869 updating filter type
  windows/security/threat-protection/microsoft-defender-atp/get-alerts.md
Labels: Microsoft submitter

#6854 Corrected "Allow Secure Boot for integrity validation"
  windows/security/information-protection/bitlocker/bitlocker-group-policy-settings.md
Labels: Microsoft submitter, bitlocker

#6852 added example for blocking device classes
  windows/security/threat-protection/device-control/control-usb-devices-using-intune.md
  windows/security/threat-protection/device-control/images/Add-device-setup-class-to-prevent-list.png
Labels: threat-protection

#6831 adding surface go 2 SKU
  devices/surface/documentation/surface-system-sku-reference.md
Labels: devices

#6875 Security/Threat protection: password length values
  windows/security/threat-protection/security-policy-settings/minimum-password-length.md
Labels: threat-protection

#6868 Update faq-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/faq-wd-app-guard.md
Labels: windows defender application guard

#6866 Update faq-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/faq-wd-app-guard.md
Labels: windows defender application guard

#6861 Update wd-app-guard-overview.md
  windows/security/threat-protection/windows-defender-application-guard/wd-app-guard-overview.md
Labels: windows defender application guard

#6862 Update reqs-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/reqs-wd-app-guard.md
Labels: windows defender application guard

#6864 Update configure-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/configure-wd-app-guard.md
Labels: windows defender application guard

#6867 Update configure-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/configure-wd-app-guard.md
Labels: windows defender application guard

#6865 Update test-scenarios-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/test-scenarios-wd-app-guard.md
Labels: windows defender application guard

#6863 Update install-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/install-wd-app-guard.md
Labels: windows defender application guard

#6699 fixed markup
  windows/security/identity-protection/hello-for-business/hello-cert-trust-validate-pki.md
Labels: hello-for-business

#6882 Updated faq
  windows/deployment/windows-autopilot/autopilot-faq.md
Labels: Microsoft submitter

#6310 added missing SAN to the instruction
  windows/security/identity-protection/hello-for-business/hello-cert-trust-adfs.md
Labels: hello-for-business

#6751 change confusing note
  windows/client-management/troubleshoot-inaccessible-boot-device.md
Labels: client management

#6821 Update wd-app-guard-overview.md
  windows/security/threat-protection/windows-defender-application-guard/wd-app-guard-overview.md
Labels: windows defender application guard

#6830 change the wording
  windows/security/threat-protection/microsoft-defender-atp/advanced-hunting-overview.md
Labels: microsoft defender atp

#6859 Update faq-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/faq-wd-app-guard.md
Labels: windows defender application guard

#6889 Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Labels: Microsoft submitter

#6895 added Windows Server 2019
  windows/security/threat-protection/security-policy-settings/network-access-restrict-clients-allowed-to-make-remote-sam-calls.md
Labels: policy settings, threat-protection

#6894 Added configuration for passiveMode
  windows/security/threat-protection/microsoft-defender-atp/mac-resources.md
Labels: Microsoft submitter, microsoft defender atp

#6907 Update tvm-software-inventory.md
  windows/security/threat-protection/microsoft-defender-atp/tvm-software-inventory.md
Labels: Microsoft submitter, microsoft defender atp

#6795 changed incorrect sections
  windows/security/threat-protection/security-policy-settings/network-security-ldap-client-signing-requirements.md
Labels: policy settings, threat-protection

#6890 MRC voice command updates for Windows 10, version 2004
  devices/hololens/change-history-hololens.md
  devices/hololens/holographic-photos-and-videos.md
Labels: Microsoft submitter, devices

#6836 Update hololens2-autopilot.md
  devices/hololens/hololens2-autopilot.md
Labels: Microsoft submitter, devices

#6843 Minor changes in to update the signup process
  store-for-business/sign-up-microsoft-store-for-business.md
Labels: store for business

#6827 Update hololens-multiple-users.md
  devices/hololens/hololens-multiple-users.md
Labels: Microsoft submitter, devices

#6910 Edit pass for work item 4001116 Windows Defender articles DO NOT MERGE
  windows/security/threat-protection/microsoft-defender-antivirus/antivirus-false-positives-negatives.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-extension-file-exclusions-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: windows defender antivirus

#6905 Removed statement about no conflicts in line 41
  windows/security/threat-protection/microsoft-defender-atp/configure-machines-security-baseline.md
Labels: microsoft defender atp

#6829 Update hololens-multiple-users.md
  devices/hololens/hololens-multiple-users.md
Labels: Microsoft submitter, devices

#6919 Adding "endpoint security" to product description
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-advanced-threat-protection.md
Labels: Microsoft submitter

#6949 Updated Defender alternatives
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter, deployment

#6961 Update manage-indicators.md
  windows/security/threat-protection/microsoft-defender-atp/manage-indicators.md
Labels: Microsoft submitter, microsoft defender atp

#6964 Update configure-endpoints-vdi.md
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi.md
Labels: Microsoft submitter, microsoft defender atp

#6955 MDATP/Onboarding issues: Localization adaptations
  windows/security/threat-protection/microsoft-defender-atp/troubleshoot-onboarding.md
Labels: microsoft defender atp

#6930 Copy edits for 401116 DO NOT MERGE
  devices/surface-hub/appendix-a-powershell-scripts-for-surface-hub.md
  mdop/appv-v5/app-v-50-prerequisites.md
  mdop/mbam-v1/known-issues-in-the-mbam-international-release-mbam-1.md
  mdop/mbam-v2/mbam-20-privacy-statement-mbam-2.md
  windows/client-management/mdm/certificate-authentication-device-enrollment.md
  windows/client-management/mdm/federated-authentication-device-enrollment.md
  windows/client-management/mdm/mobile-device-enrollment.md
  windows/client-management/mdm/on-premise-authentication-device-enrollment.md
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-security-center-antivirus.md
Labels: devices

#6970 Update mac-install-manually.md
  windows/security/threat-protection/microsoft-defender-atp/mac-install-manually.md
Labels: microsoft defender atp

#6980 Update policy-conflicts.md
  windows/deployment/windows-autopilot/policy-conflicts.md
Labels: Microsoft submitter

#6984 Certificate Indicator GA
  windows/security/threat-protection/microsoft-defender-atp/manage-indicators.md
Labels: Microsoft submitter

#6991 Additional benefits to calibration
  devices/hololens/hololens-calibration.md
Labels: Microsoft submitter

#6959 Update mac-exclusions.md
  windows/security/threat-protection/microsoft-defender-atp/mac-exclusions.md
Labels: microsoft defender atp

#6938 Update index.md
  windows/security/information-protection/index.md
Labels: Microsoft submitter

#6935 replaced invalid link to correct link
  windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction.md
Labels: broken link/type/formatting

#6994 Update TOC.md
  windows/security/information-protection/TOC.md
Labels: Microsoft submitter

#7000 Correcting spacing within info boxes
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-security-center-antivirus.md
Labels: Microsoft submitter

#6947 minPwdLength > 14 is not supported at this time
  windows/security/threat-protection/security-policy-settings/minimum-password-length.md
Labels: policy settings, threat-protection

#7008 Rephrase a confusing double negative
  windows/deployment/windows-autopilot/windows-autopilot-reset.md
Labels: deployment

#6979 updated may 2020 admx files link
  windows/security/threat-protection/microsoft-defender-antivirus/use-powershell-cmdlets-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#7001 Update minimum-requirements.md
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
Labels: Microsoft submitter, microsoft defender atp

#7007 Update post-ti-indicator.md
  windows/security/threat-protection/microsoft-defender-atp/post-ti-indicator.md
Labels: Microsoft submitter, microsoft defender atp

#6937 Light editing
  windows/privacy/manage-windows-2004-endpoints.md
Labels: privacy

#6950 Edit pass for Policy CSP - UserRights. DO NOT MERGE.
  windows/client-management/mdm/policy-csp-userrights.md
Labels: mdm

#6916 Edit pass for surface book gpu overview DO NOT MERGE
  devices/surface/surface-book-gpu-overview.md
Labels: devices

#6958 Updated OneNote & WIP blurb to simplify steps
  windows/security/information-protection/windows-information-protection/limitations-with-wip.md
Labels: Microsoft submitter, information protection

#6942 Clarified key trust & 2016 DC's within AD site
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-prereqs.md
Labels: Microsoft submitter

#6857 Adding BYO VPN documentation
  windows/deployment/windows-autopilot/user-driven.md
Labels: Microsoft submitter, deployment

#6948 Update credential-guard-requirements.md
  windows/security/identity-protection/credential-guard/credential-guard-requirements.md
Labels: microsoft defender credential guard

#7024 Update configure-network-connections-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-network-connections-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#6971 Update configure-endpoints-vdi.md
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi.md
Labels: microsoft defender atp

#7037 Characters need to be escaped so tags are displayed
  windows/client-management/mdm/applicationcontrol-csp.md
Labels: mdm

#6986 Update manage-protection-updates-microsoft-defender-antivirus.md. DO NOT MERGE.
  windows/security/threat-protection/microsoft-defender-antivirus/manage-protection-updates-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#6967 Update configure-extension-file-exclusions-microsoft-defender-antivirus.md. DO NOT MERGE.
  windows/security/threat-protection/microsoft-defender-antivirus/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#6952 Edit pass for Update mac-support-install.md. DO NOT MERGE.
  windows/security/threat-protection/microsoft-defender-atp/mac-support-install.md
Labels: microsoft defender atp

#7047 Update update-compliance-monitor.md
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter

#7041 Update microsoft-defender-antivirus-compatibility.md
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter, microsoft defender antivirus

#7025 Update waas-wu-settings.md
  windows/deployment/update/waas-wu-settings.md
Labels: deployment

#7050 Fix typo
  windows/whats-new/whats-new-windows-10-version-2004.md
Labels: broken link/type/formatting

#7032 added link for Security Monitoring Recommendations
  windows/security/threat-protection/auditing/audit-kerberos-service-ticket-operations.md
Labels: auditing

#7051 updated VPN Q&A for accuracy
  windows/deployment/update/waas-delivery-optimization.md
Labels: Microsoft submitter, deployment

#7052 MD-ATP/Exclusions: avoid translation of keywords
  windows/security/threat-protection/microsoft-defender-antivirus/configure-server-exclusions-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#7055 #7048: link to the Microsoft Defender ATP portal, and reformat Ansible
  windows/security/threat-protection/microsoft-defender-atp/linux-install-with-ansible.md
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-linux.md
Labels: microsoft defender atp, threat-protection

#7064 Update manage-protection-updates-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-protection-updates-microsoft-defender-antivirus.md
Labels: Microsoft submitter
