Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-03, with the labels that each got.

#6152 added link to URL list
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-linux.md
Labels: microsoft defender atp

#6155 Update troubleshooting.md
  windows/deployment/windows-autopilot/troubleshooting.md
Labels: deployment

#6059 Adding Feb 2020 CU to Surface Hub update history
  devices/surface-hub/surface-hub-update-history.md
Labels: devices

#6151 Documented filename levels options for -SpecificFileName
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, windows defender application control

#6157 Update known-issues.md
  windows/deployment/windows-autopilot/known-issues.md
Labels: Microsoft submitter, deployment

#6146 fixed broken link for VBS
  windows/security/threat-protection/windows-defender-system-guard/system-guard-secure-launch-and-smm-protection.md
Labels: threat-protection

#6156 Fixing steps to pad hash - formatting correction
  windows/deployment/windows-autopilot/troubleshooting.md
Labels: deployment

#6144 Unite the bold text of a selected option
  windows/security/identity-protection/hello-for-business/hello-key-trust-validate-pki.md
Labels: hello-for-business

#6065 Fix typo
  devices/surface-hub/surface-hub-2s-whats-new.md
Labels: devices

#6057 Addition of a question
  windows/security/identity-protection/hello-for-business/hello-faq.md
Labels: hello-for-business

#6160 add Mac quarantine location
  windows/security/threat-protection/microsoft-defender-atp/mac-resources.md
Labels: microsoft defender atp

#6159 update linux-install-manually.md
  windows/security/threat-protection/microsoft-defender-atp/linux-install-manually.md
Labels: microsoft defender atp

#6161 Update troubleshooting.md
  windows/deployment/windows-autopilot/troubleshooting.md
Labels: deployment

#6166 Update command-line-arguments-windows-defender-antivirus.md
  windows/security/threat-protection/windows-defender-antivirus/command-line-arguments-windows-defender-antivirus.md
Labels: windows defender antivirus

#6079 Add reference to a workaround for issue on 1903/1909
  windows/deployment/windows-autopilot/existing-devices.md
Labels: deployment

#6080 Advise that issue affecting 1903 also affects 1909
  windows/deployment/windows-autopilot/known-issues.md
Labels: deployment

#6176 updated docs with announcements on perspectives and wdav reporting retirement
  windows/deployment/update/update-compliance-monitor.md
  windows/deployment/update/update-compliance-perspectives.md
  windows/deployment/update/update-compliance-wd-av-status.md
Labels: Microsoft submitter

#6180 Putting WDAV page back, accidentally replaced with content from Perspectives page
  windows/deployment/update/update-compliance-wd-av-status.md
Labels: Microsoft submitter

#6188 Update mac-preferences.md
  windows/security/threat-protection/microsoft-defender-atp/mac-preferences.md
Labels: Microsoft submitter, microsoft defender atp

#6201 Quick adjustment per customer feedback
  windows/security/threat-protection/windows-defender-smartscreen/windows-defender-smartscreen-overview.md
Labels: Microsoft submitter

#6193 Migrate original get-started landing page to new card-based landing page
  devices/surface/TOC.md
  devices/surface/get-started.md
  devices/surface/get-started.yml
Labels: devices

#6178 Migrate original landing page to hub page
  devices/surface-hub/index.md
  devices/surface-hub/index.yml
Labels: devices

#6149 Document DeviceEnroller.exe behavior when local admin already exists
  windows/client-management/mdm/policy-csp-restrictedgroups.md
Labels: client management

#6207 Update minimum-requirements.md
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
Labels: Microsoft submitter

#6204 fix spacing and lint the document
  windows/security/threat-protection/microsoft-defender-atp/information-protection-in-windows-overview.md
Labels: microsoft defender atp

#6199 Correct added in for few policies
  windows/client-management/mdm/policy-csp-update.md
Labels: Microsoft submitter, client management

#6219 added dg readiness tool link
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
Labels: windows defender credential guard

#6212 Update basic-firewall-policy-design.md
  windows/security/threat-protection/windows-firewall/basic-firewall-policy-design.md
Labels: windows firewall

#6211 Update administer-security-policy-settings.md
  windows/security/threat-protection/security-policy-settings/administer-security-policy-settings.md
Labels: policy settings, threat-protection

#6210 Update security-policy-settings.md
  windows/security/threat-protection/security-policy-settings/security-policy-settings.md
Labels: policy settings, threat-protection

#6220 replaced invalid link to new link
  windows/security/identity-protection/hello-for-business/hello-how-it-works-technology.md
Labels: hello-for-business

#6179 Update feature-multifactor-unlock.md
  windows/security/identity-protection/hello-for-business/feature-multifactor-unlock.md
Labels: hello-for-business

#6164 Fix formatting
  windows/deployment/volume-activation/use-vamt-in-windows-powershell.md
Labels: Microsoft submitter

#6183 Update policy-csp-defender.md
  windows/client-management/mdm/policy-csp-defender.md
Labels: Microsoft submitter, client management

#6232 macOS is not supported OS for offboarding.
  windows/security/threat-protection/microsoft-defender-atp/offboard-machine-api.md
Labels: microsoft defender atp

#6262 Added a new note about Hybrid AADJ
  windows/deployment/windows-autopilot/known-issues.md
Labels: Microsoft submitter

#6257 Corrected Microsoft Endpoint Manager link
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter

#6256 Corrected Microsoft Endpoint Manager link
  windows/deployment/update/update-compliance-wd-av-status.md
Labels: Microsoft submitter

#6251 Update app-v-51-planning-checklist.md
  mdop/appv-v5/app-v-51-planning-checklist.md
Labels: mdop

#6250 Update how-to-install-the-reporting-server-on-a-standalone-computer-a…
  mdop/appv-v5/how-to-install-the-reporting-server-on-a-standalone-computer-and-connect-it-to-the-database51.md
Labels: mdop

#6249 Update about-app-v-51-reporting.md
  mdop/appv-v5/about-app-v-51-reporting.md
Labels: mdop

#6237 Update hololens-calibration.md
  devices/hololens/hololens-calibration.md
Labels: Microsoft submitter, devices

#6133 more generic, but still very basic, ansible task examples.
  windows/security/threat-protection/microsoft-defender-atp/linux-install-with-ansible.md
Labels: microsoft defender atp

#6268 Update time-settings.md
  windows/security/threat-protection/microsoft-defender-atp/time-settings.md
Labels: microsoft defender atp

#6254 Update the content
  windows/security/identity-protection/hello-for-business/hello-deployment-guide.md
Labels: hello-for-business

#6275 Update media-dynamic-update.md
  windows/deployment/update/media-dynamic-update.md
Labels: Microsoft submitter

#6274 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter, threat-protection

#6170 More description in the content
  devices/hololens/hololens-provisioning.md
Labels: devices

#6187 added notes about supported versions
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: windows defender application control

#6292 added important note
  windows/security/threat-protection/windows-defender-antivirus/troubleshoot-reporting.md
Labels: windows defender antivirus

#6289 changed the terminology
  windows/security/threat-protection/microsoft-defender-atp/mac-preferences.md
Labels: microsoft defender atp

#6296 Update onboard-offline-machines.md
  windows/security/threat-protection/microsoft-defender-atp/onboard-offline-machines.md
Labels: Microsoft submitter, microsoft defender atp

#6304 Update wip-azure-add-user-groups.png
  windows/security/information-protection/windows-information-protection/images/wip-azure-add-user-groups.png
Labels: information protection

#6284 Update applocker-overview.md
  windows/security/threat-protection/windows-defender-application-control/applocker/applocker-overview.md
Labels: Microsoft submitter, windows defender application control

#6306 modification in notes
  windows/deployment/windows-autopilot/white-glove.md
Labels: deployment

#6305 Added a link
  windows/deployment/windows-autopilot/windows-autopilot-requirements.md
Labels: deployment

#6303 update link
  devices/surface-hub/surface-hub-2s-pack-components.md
Labels: devices

#6300 Remove TSF1/2 Deprecate
  windows/deployment/planning/windows-10-deprecated-features.md
Labels: Microsoft submitter, deployment

#6312 Update respond-file-alerts.md
  windows/security/threat-protection/microsoft-defender-atp/respond-file-alerts.md
Labels: Microsoft submitter

#6311 add note about best practices
  windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements.md
Labels: policy settings, threat-protection

#6316 Update waas-manage-updates-wsus.md
  windows/deployment/update/waas-manage-updates-wsus.md
Labels: Microsoft submitter, deployment

#6308 Update configure-splunk.md, change endpoint URL
  windows/security/threat-protection/microsoft-defender-atp/configure-splunk.md
Labels: microsoft defender atp

#6318 Update user-roles.md
  windows/security/threat-protection/microsoft-defender-atp/user-roles.md
Labels: Microsoft submitter

#6315 Clarification Added
  windows/deployment/mbr-to-gpt.md
Labels: deployment

#6320 Update manage-updates-baselines-windows-defender-antivirus.md
  windows/security/threat-protection/windows-defender-antivirus/manage-updates-baselines-windows-defender-antivirus.md
Labels: Microsoft submitter, windows defender antivirus

#6327 Remove apostrophes that cause bug
  windows/security/identity-protection/credential-guard/dg-readiness-tool.md
Labels: identity protection

#6332 Few Changes
  windows/security/threat-protection/microsoft-defender-atp/linux-install-with-ansible.md
Labels: microsoft defender atp

#6345 Added Windows 10 Pro to list of supported OSes
  windows/security/threat-protection/device-guard/requirements-and-deployment-planning-guidelines-for-virtualization-based-protection-of-code-integrity.md
Labels: Microsoft submitter

#6354 MD-ATP: remove proxy, point to other guidance
  windows/security/threat-protection/microsoft-defender-atp/onboard-downlevel.md
Labels: microsoft defender atp

#6371 Update configure-extension-file-exclusions-windows-defender-antivirus.md
  windows/security/threat-protection/windows-defender-antivirus/configure-extension-file-exclusions-windows-defender-antivirus.md
Labels: Microsoft submitter

#6287 Security Compliance Toolkit: 2018 missing in the version matrix
  windows/security/threat-protection/windows-security-configuration-framework/get-support-for-security-baselines.md
Labels: threat-protection

#6285 Microsoft Security Compliance Toolkit 1.0 : versions missing in the Security Baselines lists
  windows/security/threat-protection/windows-security-configuration-framework/security-compliance-toolkit-10.md
Labels: threat-protection

#6372 Typo "yes"→"1"
  browsers/edge/includes/configure-autofill-include.md
Labels: browser-edge

#6373 Add Win10 Enterprise Multi-session blurb
  windows/deployment/update/update-compliance-get-started.md
Labels: Microsoft submitter, deployment
