Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-05, with the labels that each got.

#6616 Update configure-advanced-scan-types-windows-defender-antivirus.md
  windows/security/threat-protection/windows-defender-antivirus/configure-advanced-scan-types-windows-defender-antivirus.md
Labels: Microsoft submitter, windows defender antivirus

#6619 Update manage-updates-baselines-windows-defender-antivirus.md
  windows/security/threat-protection/windows-defender-antivirus/manage-updates-baselines-windows-defender-antivirus.md
Labels: Microsoft submitter, windows defender antivirus

#6185 Update wufb-compliancedeadlines.md: pencil edits
  windows/deployment/update/wufb-compliancedeadlines.md
Labels: deployment

#6628 Update configure-microsoft-threat-experts.md
  windows/security/threat-protection/microsoft-defender-atp/configure-microsoft-threat-experts.md
Labels: Microsoft submitter

#6636 add info about 0x8024043D
  windows/deployment/update/windows-update-error-reference.md
Labels: deployment

#6625 replaced entires to entries
  windows/client-management/troubleshoot-inaccessible-boot-device.md
Labels: client management

#6624 Correct typo
  windows/security/threat-protection/microsoft-defender-atp/respond-machine-alerts.md
Labels: microsoft defender atp

#6614 Typo "***Removable ～ Hub ***"→"***Removable ～ Hub***"
  devices/surface-hub/surface-hub-technical-84.md
Labels: devices

#6605 Fix typo
  windows/client-management/mdm/get-offline-license.md
Labels: mdm

#6592 Update remotewipe-csp.md
  windows/client-management/mdm/remotewipe-csp.md
Labels: Microsoft submitter, mdm

#6559 Fix typo
  windows/client-management/mdm/reclaim-seat-from-user.md
Labels: client management

#6615 Update data-storage-privacy.md
  windows/security/threat-protection/microsoft-defender-atp/data-storage-privacy.md
Labels: Microsoft submitter, microsoft defender atp

#6646 Refresh enable network protection
  windows/client-management/mdm/reclaim-seat-from-user.md
  windows/security/threat-protection/microsoft-defender-atp/enable-network-protection.md
Labels: Microsoft submitter, mdm, microsoft defender atp

#6650 Update why-use-microsoft-antivirus.md
  windows/security/threat-protection/windows-defender-antivirus/why-use-microsoft-antivirus.md
Labels: Microsoft submitter

#6643 Included user level Inking & Typing GP
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, privacy

#6621 Mistake in the Vulnerability section
  windows/security/threat-protection/security-policy-settings/deny-log-on-as-a-batch-job.md
Labels: Microsoft submitter, policy settings, threat-protection

#6653 edit the name of the policy
  windows/configuration/stop-employees-from-using-microsoft-store.md
Labels: configuration

#6659 Update user-driven.md
  windows/deployment/windows-autopilot/user-driven.md
Labels: Microsoft submitter

#6627 Client Management/MDM: rename page names & titles
  windows/client-management/mdm/TOC.md
  windows/client-management/mdm/policies-admx-backed.md
  windows/client-management/mdm/policies-supported-by-group-policy.md
  windows/client-management/mdm/policies-supported-by-hololens-1st-gen-commercial-suite.md
  windows/client-management/mdm/policies-supported-by-hololens-1st-gen-development-edition.md
  windows/client-management/mdm/policies-supported-by-hololens2.md
  windows/client-management/mdm/policies-supported-by-iot-core.md
  windows/client-management/mdm/policies-supported-by-iot-enterprise.md
  windows/client-management/mdm/policies-supported-by-surface-hub.md
  windows/client-management/mdm/policy-configuration-service-provider.md
  windows/client-management/mdm/policy-csps-admx-backed.md
  windows/client-management/mdm/policy-csps-supported-by-group-policy.md
  windows/client-management/mdm/policy-csps-supported-by-hololens-1st-gen-commercial-suite.md
  windows/client-management/mdm/policy-csps-supported-by-hololens-1st-gen-development-edition.md
  windows/client-management/mdm/policy-csps-supported-by-hololens2.md
  windows/client-management/mdm/policy-csps-supported-by-iot-core.md
  windows/client-management/mdm/policy-csps-supported-by-iot-enterprise.md
  windows/client-management/mdm/policy-csps-supported-by-surface-hub.md
  windows/client-management/mdm/policy-csps-that-can-be-set-using-eas.md
Labels: mdm

#6671 TPM requirements for Autopilot updated
  windows/security/information-protection/tpm/tpm-recommendations.md
Labels: Microsoft submitter, information protection

#6572 Update autopilot-reset.md
  education/windows/autopilot-reset.md
Labels: education

#6665 Update overview-of-threat-mitigations-in-windows-10.md
  windows/security/threat-protection/overview-of-threat-mitigations-in-windows-10.md
Labels: threat-protection

#6683 Update machine-tags.md
  windows/security/threat-protection/microsoft-defender-atp/machine-tags.md
Labels: Microsoft submitter

#6682 Update configure-proxy-internet.md
  windows/security/threat-protection/microsoft-defender-atp/configure-proxy-internet.md
Labels: Microsoft submitter

#6685 Update configure-server-endpoints.md
  windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints.md
Labels: Microsoft submitter

#5967 Corrected number of days progress stalled
  windows/deployment/update/update-compliance-need-attention.md
Labels: deployment

#6678 Windows Endpoints 1903: escape MarkDown asterisks
  windows/privacy/windows-endpoints-1903-non-enterprise-editions.md
Labels: privacy

#6692 Update kiosk-shelllauncher.md
  windows/configuration/kiosk-shelllauncher.md
Labels: Microsoft submitter

#6688 Update machine-tags.md
  windows/security/threat-protection/microsoft-defender-atp/machine-tags.md
Labels: Microsoft submitter, microsoft defender atp

#6684 added one example
  windows/client-management/mdm/wirednetwork-csp.md
Labels: client management

#6707 removed duplicate entry of %windir%\Ntds\EDB*.log
  windows/security/threat-protection/windows-defender-antivirus/configure-server-exclusions-windows-defender-antivirus.md
Labels: broken link/type/formatting, windows defender antivirus

#6702 removed spaces
  windows/security/threat-protection/windows-firewall/create-windows-firewall-rules-in-intune.md
Labels: windows firewall

#6701 added registry keys
  windows/security/threat-protection/windows-defender-antivirus/configure-block-at-first-sight-windows-defender-antivirus.md
Labels: windows defender antivirus

#6706 replaced outdated screenshot
  windows/security/threat-protection/microsoft-defender-atp/images/secconmgmt_baseline_intuneprofile2.png
Labels: microsoft defender atp

#6704 Update vpn-office-365-optimization.md
  windows/security/identity-protection/vpn/vpn-office-365-optimization.md
Labels: Microsoft submitter, identity protection

#5218 DnsAdmins and DnsUpdateProxy are not well-known
  windows/security/identity-protection/access-control/active-directory-security-groups.md
Labels: Microsoft submitter, identity protection

#5546 Update hello-how-it-works-device-registration.md
  windows/security/identity-protection/hello-for-business/hello-how-it-works-device-registration.md
Labels: Microsoft submitter, hello-for-business

#5687 Store instructions, rs5, workflow, install method
  devices/hololens/holographic-store-apps.md
Labels: devices

#5815 Update surface-enterprise-management-mode.md
  devices/surface/surface-enterprise-management-mode.md
Labels: devices

#5840 Pre-requisite list update for AADJ SSO
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base.md
Labels: hello-for-business

#6694 Fixed missing word
  windows/deployment/update/media-dynamic-update.md
Labels: Microsoft submitter, deployment

#5922 update note about root certificate
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-settings-pki.md
Labels: hello-for-business

#6175 Subject update
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-prereqs.md
Labels: hello-for-business

#6085 Update mandatory-user-profile.md
  windows/client-management/mandatory-user-profile.md
Labels: client management

#6245 Update how-to-install-the-app-v-databases-and-convert-the-associated-…
  mdop/appv-v5/how-to-install-the-app-v-databases-and-convert-the-associated-security-identifiers--by-using-powershell51.md
Labels: mdop

#6246 Update how-to-install-the-management-and-reporting-databases-on-separ…
  mdop/appv-v5/how-to-install-the-management-and-reporting-databases-on-separate-computers-from-the-management-and-reporting-services51.md
Labels: mdop

#6247 Update deploying-the-app-v-51-server.md
  mdop/appv-v5/deploying-the-app-v-51-server.md
Labels: mdop

#6248 Update how-to-deploy-the-app-v-databases-by-using-sql-scripts51.md
  mdop/appv-v5/how-to-deploy-the-app-v-databases-by-using-sql-scripts51.md
Labels: mdop

#6299 update screenshot and missing feature description
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
  windows/security/identity-protection/credential-guard/images/credguard-gp-2.png
Labels: identity protection

#6415 update text with valid options
  windows/security/identity-protection/remote-credential-guard.md
Labels: identity protection

#6691 Please add this policy setting.
  windows/client-management/mdm/policy-csp-localpoliciessecurityoptions.md
Labels: client management, policy settings

#6720 add "machines" which was missing
  windows/security/threat-protection/microsoft-defender-atp/get-machine-log-on-users.md
Labels: microsoft defender atp

#6726 Update waas-servicing-strategy-windows-10-updates.md
  windows/deployment/update/waas-servicing-strategy-windows-10-updates.md
Labels: Microsoft submitter

#6721 Update interactive-logon-prompt-user-to-change-password-before-expira…
  windows/security/threat-protection/security-policy-settings/interactive-logon-prompt-user-to-change-password-before-expiration.md
Labels: Microsoft submitter, policy settings, threat-protection

#6722 add link
  devices/surface/ethernet-adapters-and-surface-device-deployment.md
Labels: devices

#6711 Box update to reflect live device data
  windows/security/threat-protection/microsoft-defender-atp/configure-machines-onboarding.md
Labels: Microsoft submitter, microsoft defender atp

#6710 Added Teams as an enlightened app
  windows/security/information-protection/windows-information-protection/enlightened-microsoft-apps-and-wip.md
Labels: Microsoft submitter, information protection

#6709 Update MDM UserRights to include warning from GPO Docs
  windows/client-management/mdm/policy-csp-userrights.md
Labels: Microsoft submitter, mdm

#6708 Update machine-tags.md
  windows/security/threat-protection/microsoft-defender-atp/machine-tags.md
Labels: Microsoft submitter, microsoft defender atp

#6690 Update network-security-allow-pku2u-authentication-requests-to-this-c…
  windows/security/threat-protection/security-policy-settings/network-security-allow-pku2u-authentication-requests-to-this-computer-to-use-online-identities.md
Labels: Microsoft submitter, policy settings, threat-protection

#6697 Update hololens2-hardware.md
  devices/hololens/hololens2-hardware.md
Labels: Microsoft submitter, devices

#6418 added reference to www.microsoft.com
  windows/privacy/manage-windows-1903-endpoints.md
Labels: privacy

#6752 Whitespace corrections, URL updates & typo fix
  windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity.md
  windows/security/threat-protection/overview-of-threat-mitigations-in-windows-10.md
Labels: threat-protection

#6753 Update production-deployment.md
  windows/security/threat-protection/microsoft-defender-atp/production-deployment.md
Labels: Microsoft submitter, microsoft defender atp

#6763 Update white-glove.md
  windows/deployment/windows-autopilot/white-glove.md
Labels: Microsoft submitter, deployment

#6761 replaced invalid links to new links
  windows/whats-new/whats-new-windows-10-version-1709.md
Labels: what's new

#6733 add policy AllowLocalSystemToUseComputerIdentity
  windows/client-management/mdm/policy-csp-localpoliciessecurityoptions.md
Labels: mdm

#6760 Update onboard-offline-machines.md
  windows/security/threat-protection/microsoft-defender-atp/onboard-offline-machines.md
Labels: Microsoft submitter, microsoft defender atp

#6762 2S firmware version update
  devices/surface-hub/surface-hub-update-history.md
Labels: Microsoft submitter, devices

#6744 LAB repro for Multiple domains with WHFB HKT sync
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-dir-sync.md
Labels: Microsoft submitter, hello-for-business

#6698 Updated licensing requirements
  windows/deployment/windows-autopilot/windows-autopilot-requirements.md
Labels: Microsoft submitter, deployment

#6225 Update hololens-calibration.md
  devices/hololens/hololens-calibration.md
Labels: Microsoft submitter, devices

#6774 Added note regarding partner removal process
  windows/deployment/windows-autopilot/registration-auth.md
Labels: Microsoft submitter

#6765 Onboard servers to MSDATP: add important note text
  windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints.md
Labels: microsoft defender atp

#6775 Fix typo
  windows/client-management/mdm/get-seat.md
Labels: mdm

#6778 change the Cloud Protection settings
  windows/security/threat-protection/microsoft-defender-atp/images/945c9c5d66797037c3caeaa5c19f135c.png
Labels: microsoft defender atp

#6779 Update evaluating-mbam-10.md
  mdop/mbam-v1/evaluating-mbam-10.md
Labels: mdop

#6713 added Microsoft Publisher
  windows/security/information-protection/windows-information-protection/enlightened-microsoft-apps-and-wip.md
Labels: information protection

#6781 Update run-detection-test.md
  windows/security/threat-protection/microsoft-defender-atp/run-detection-test.md
Labels: microsoft defender atp

#6788 Removed note regarding Edge Chromium lack of WIP support
  windows/security/information-protection/windows-information-protection/limitations-with-wip.md
Labels: Microsoft submitter

#6807 Update Event Id 4624
  windows/security/threat-protection/auditing/event-4624.md
Labels: threat-protection

#6809 removed one note section from the two note secition
  windows/client-management/mdm/policy-csp-browser.md
Labels: mdm

#6790 WDAC/AppLocker: URL corrections
  windows/security/threat-protection/windows-defender-application-control/windows-defender-application-control.md
Labels: windows defender application control

#6801 Adding a new error
  windows/deployment/windows-autopilot/known-issues.md
Labels: deployment

#6792 remove TPM group policy path
  windows/deployment/deploy-windows-mdt/set-up-mdt-for-bitlocker.md
Labels: deployment

#6793 add note about URLs that need to be whitelisted
  windows/security/threat-protection/microsoft-defender-atp/production-deployment.md
Labels: microsoft defender atp

#6825 Update windows-security-baselines.md
  windows/security/threat-protection/windows-security-baselines.md
Labels: Microsoft submitter

#6818 Update configure-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/configure-wd-app-guard.md
Labels: windows defender application guard

#6822 change the regitstry item name
  windows/deployment/update/waas-configure-wufb.md
Labels: deployment

#6575 WDDG & WDCG HW readiness tool: typo & Arch Locale
  windows/security/identity-protection/credential-guard/dg-readiness-tool.md
Labels: identity protection

#6420 PKI requirements for third-party CA
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-prereqs.md
Labels: identity protection

#6834 Minor update to packaged app rules doc
  windows/security/threat-protection/windows-defender-application-control/manage-packaged-apps-with-windows-defender-application-control.md
Labels: Microsoft submitter

#6837 Incorrect statement - Suggest removing it
  windows/security/threat-protection/security-policy-settings/domain-member-maximum-machine-account-password-age.md
Labels: Microsoft submitter, policy settings, threat-protection

#5110 GPO Names and Behaviour Has Changed
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: client management

#5693 added new policy changes in 1903
  windows/client-management/new-policies-for-windows-10.md
Labels: client management, policy settings

#6768 #6744 follow-up: grammar & whitespace adjustments
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-dir-sync.md
Labels: hello-for-business

#6805 LocURI locator is denoted with [\]
  windows/client-management/mdm/understanding-admx-backed-policies.md
Labels: mdm

#5929 clarify the confusing value
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base.md
Labels: identity protection

#6820 Fixed typo
  devices/hololens/hololens2-language-support.md
Labels: Microsoft submitter, devices

#5833 added two titles with corresponding links and location of tools
  windows/client-management/administrative-tools-in-windows-10.md
Labels: client management
