Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-04, with the labels that each got.

#6392 WDATP/compatibility: typo & whitespace correction
  windows/security/threat-protection/windows-defender-antivirus/windows-defender-antivirus-compatibility.md
Labels: windows defender antivirus

#6401 Update troubleshoot-live-response.md
  windows/security/threat-protection/microsoft-defender-atp/troubleshoot-live-response.md
Labels: Microsoft submitter

#6405 Broken link
  browsers/internet-explorer/ie11-deploy-guide/group-policy-problems-ie11.md
Labels: Microsoft submitter, browser-ie

#6398 Supported Server Versions
  windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints.md
Labels: microsoft defender atp

#6397 replaced invalid link with new link.
  windows/client-management/mdm/policy-csp-exploitguard.md
Labels: mdm

#6404 replaced the word **metatdata** to **metadata**
  windows/deployment/mbr-to-gpt.md
Labels: deployment

#6406 Resetting all references back to "3D Viewer Beta"
  devices/hololens/holographic-3d-viewer-beta.md
Labels: Microsoft submitter

#6394 Update hololens-cortana.md
  devices/hololens/hololens-cortana.md
Labels: Microsoft submitter, devices

#6370 Update hololens-insider.md
  devices/hololens/hololens-insider.md
Labels: Microsoft submitter, devices

#6239 Update hololens-calibration.md
  devices/hololens/hololens-calibration.md
Labels: Microsoft submitter, devices, in progress

#6282 added note about lock when the screensaver activates
  windows/security/threat-protection/security-policy-settings/interactive-logon-machine-inactivity-limit.md
Labels: policy settings, threat-protection

#6383 added 1st gen surface laptop
  devices/surface/surface-system-sku-reference.md
Labels: devices

#6379 Removed deprecated section about MFA
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-new-install.md
Labels: hello-for-business

#6366 addedhelpful info
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base.md
Labels: hello-for-business

#6363 Point to correct resource
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-prereqs.md
Labels: hello-for-business

#6356 Added row about OST and PST files
  windows/security/information-protection/windows-information-protection/limitations-with-wip.md
Labels: information protection

#6329 replaced outdated link
  devices/surface/surface-diagnostic-toolkit-for-business-intro.md
Labels: devices

#6351 WDAC/policy design decisions: typo correction
  windows/security/threat-protection/windows-defender-application-control/understand-windows-defender-application-control-policy-design-decisions.md
Labels: windows defender application control

#6314 Adding link to document for NMI in Azure
  windows/client-management/generate-kernel-or-complete-crash-dump.md
Labels: client management

#6365 Added ReFS over from "deprecated features"
  windows/deployment/planning/windows-10-removed-features.md
Labels: deployment

#6364 fix typo remove mention of ReFS
  windows/deployment/planning/windows-10-deprecated-features.md
Labels: deployment

#6421 Update outdated guidance for adding on-premises MDM application
  windows/client-management/mdm/azure-active-directory-integration-with-mdm.md
Labels: Microsoft submitter, mdm

#6426 remove defender language
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter, deployment

#6425 Updated value interval for "Select the source of Group IDs" policy
  windows/deployment/update/waas-delivery-optimization-reference.md
Labels: Microsoft submitter, deployment

#6413 Remove references to a specific SQL version to make the guidance vers…
  windows/deployment/volume-activation/install-vamt.md
Labels: Microsoft submitter, deployment

#6427 Create vpn-office-365-optimization.md
  windows/security/identity-protection/vpn/vpn-office-365-optimization.md
Labels: Microsoft submitter, identity protection

#6428 Update vpn-office-365-optimization.md
  windows/security/identity-protection/vpn/vpn-office-365-optimization.md
Labels: Microsoft submitter, identity protection

#6129 update regarding modules, lint and expand puppet manifest.
  windows/security/threat-protection/microsoft-defender-atp/linux-install-with-puppet.md
Labels: microsoft defender atp

#6434 Kvice vpn optimization
  windows/security/identity-protection/TOC.md
  windows/security/identity-protection/vpn/vpn-office-365-optimization.md
Labels: Microsoft submitter

#6236 Update hololens-cortana.md
  devices/hololens/hololens-cortana.md
Labels: Microsoft submitter, devices

#6416 dependencies clarification
  windows/security/identity-protection/hello-for-business/hello-planning-guide.md
Labels: hello-for-business

#6444 MD-ATP for Linux: typos & code block corrections
  windows/security/threat-protection/microsoft-defender-atp/linux-install-manually.md
Labels: microsoft defender atp

#6447 reworded retirement dates
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter, deployment

#6446 update UC config script download location
  windows/deployment/update/update-compliance-configuration-script.md
Labels: Microsoft submitter, deployment

#6454 remove editorial mistake
  windows/deployment/update/update-compliance-schema-wudostatus.md
Labels: Microsoft submitter

#6436 Update Profile XSD to include ExclusionRoute
  windows/client-management/mdm/vpnv2-profile-xsd.md
Labels: Microsoft submitter, mdm

#6419 corrected the phase 3
  windows/security/information-protection/bitlocker/bitlocker-how-to-enable-network-unlock.md
Labels: bitlocker

#6317 Addition of supported data type
  windows/client-management/mdm/reboot-csp.md
Labels: client management

#6445 Martyav summarize macos deployment
  windows/security/threat-protection/microsoft-defender-atp/mac-install-with-intune.md
  windows/security/threat-protection/microsoft-defender-atp/mac-install-with-jamf.md
Labels: Microsoft submitter, in progress, security

#6456 Update vpn-office-365-optimization.md
  windows/security/identity-protection/vpn/vpn-office-365-optimization.md
Labels: Microsoft submitter, identity protection

#6461 change retirement (2)
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter

#6457 Update known-issues.md
  windows/deployment/windows-autopilot/known-issues.md
Labels: Microsoft submitter, deployment

#6487 fix space between [] and () for md link
  windows/deployment/update/update-compliance-configuration-script.md
Labels: Microsoft submitter

#6477 MDATP/Requirements: add Linux Public Preview notes
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
Labels: microsoft defender atp

#6460 Quotes are not supported when using GPO
  windows/security/threat-protection/microsoft-defender-atp/enable-attack-surface-reduction.md
Labels: microsoft defender atp

#6465 Update pull-alerts-using-rest-api.md
  windows/security/threat-protection/microsoft-defender-atp/pull-alerts-using-rest-api.md
Labels: microsoft defender atp

#6463 Add additional step for AAD app registration
  windows/security/threat-protection/microsoft-defender-atp/enable-siem-integration.md
Labels: microsoft defender atp

#6481 added a tip about Windows Event Forwarding
  windows/security/threat-protection/microsoft-defender-atp/evaluate-controlled-folder-access.md
Labels: microsoft defender atp

#6501 Update commercial-gov.md
  windows/security/threat-protection/microsoft-defender-atp/commercial-gov.md
Labels: microsoft defender atp

#6511 WVD Support
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi.md
Labels: Microsoft submitter, microsoft defender atp

#6510 Live Response requirements
  windows/security/threat-protection/microsoft-defender-atp/live-response.md
Labels: Microsoft submitter, microsoft defender atp

#6509 Delete rules-indicators.png
  windows/security/threat-protection/microsoft-defender-atp/images/rules-indicators.png
Labels: Microsoft submitter, microsoft defender atp

#6485 Update configure-endpoints-vdi.md
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi.md
Labels: Microsoft submitter, microsoft defender atp

#6516 Fix typo
  windows/client-management/mdm/get-product-packages.md
Labels: mdm

#6496 Fixed the error in filename rules. Also added example.
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, windows defender application control

#6490 Update reqs-wd-app-guard.md
  windows/security/threat-protection/windows-defender-application-guard/reqs-wd-app-guard.md
Labels: Microsoft submitter, windows defender application guard

#6520 Update miracast-over-infrastructure.md
  devices/surface-hub/miracast-over-infrastructure.md
Labels: Microsoft submitter

#6484 Update windows-security-baselines.md
  windows/security/threat-protection/windows-security-baselines.md
Labels: Microsoft submitter, microsoft defender atp

#6517 Update configure-endpoints-vdi.md
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi.md
Labels: Microsoft submitter, microsoft defender atp

#6469 Applies to: Windows 10, Windows Server 2019
  windows/security/threat-protection/security-policy-settings/interactive-logon-dont-display-username-at-sign-in.md
Labels: policy settings, threat-protection

#6495 Fixed Reset related ~line 43 Warning typos
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: privacy

#6524 Remove exact retirement dates
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter

#6500 chore: Whitespace consistency & MD compatibility
  browsers/edge/about-microsoft-edge.md
  browsers/edge/group-policies/favorites-management-gp.md
  browsers/edge/group-policies/interoperability-enterprise-guidance-gp.md
  browsers/edge/includes/configure-home-button-include.md
  browsers/edge/includes/configure-open-edge-with-include.md
  browsers/edge/includes/provision-favorites-include.md
  browsers/edge/includes/send-all-intranet-sites-ie-include.md
  browsers/edge/microsoft-edge-kiosk-mode-deploy.md
  browsers/edge/web-app-compat-toolkit.md
  browsers/enterprise-mode/create-change-request-enterprise-mode-portal.md
  browsers/enterprise-mode/enterprise-mode-features-include.md
  browsers/enterprise-mode/verify-changes-preprod-enterprise-mode-portal.md
  browsers/includes/import-into-the-enterprise-mode-site-list-mgr-include.md
  browsers/includes/interoperability-goals-enterprise-guidance.md
  browsers/internet-explorer/ie11-deploy-guide/create-change-request-enterprise-mode-portal.md
  browsers/internet-explorer/ie11-deploy-guide/verify-changes-preprod-enterprise-mode-portal.md
  browsers/internet-explorer/ie11-deploy-guide/what-is-enterprise-mode.md
  browsers/internet-explorer/ie11-faq/faq-ie11-blocker-toolkit.md
  browsers/internet-explorer/ie11-ieak/index.md
  browsers/internet-explorer/ie11-ieak/licensing-version-and-features-ieak11.md
Labels: browser-edge

#6494 update the profile creation instruction
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert.md
Labels: hello-for-business

#6479 Moved the note section
  windows/security/identity-protection/hello-for-business/hello-feature-pin-reset.md
Labels: hello-for-business

#6525 ### Existing Enterprise deployments
  windows/deployment/windows-10-subscription-activation.md
Labels: deployment

#6499 Update short meta descriptions
  windows/deployment/usmt/getting-started-with-the-user-state-migration-tool.md
  windows/deployment/usmt/usmt-resources.md
  windows/deployment/usmt/xml-file-requirements.md
  windows/deployment/vda-subscription-activation.md
  windows/deployment/volume-activation/activate-forest-by-proxy-vamt.md
  windows/deployment/volume-activation/activate-forest-vamt.md
  windows/deployment/volume-activation/activate-using-active-directory-based-activation-client.md
  windows/deployment/volume-activation/add-manage-products-vamt.md
  windows/deployment/volume-activation/add-remove-computers-vamt.md
  windows/deployment/volume-activation/add-remove-product-key-vamt.md
  windows/deployment/volume-activation/configure-client-computers-vamt.md
  windows/deployment/volume-activation/import-export-vamt-data.md
  windows/deployment/volume-activation/install-configure-vamt.md
  windows/deployment/volume-activation/install-kms-client-key-vamt.md
  windows/deployment/volume-activation/install-product-key-vamt.md
  windows/deployment/volume-activation/install-vamt.md
  windows/deployment/volume-activation/introduction-vamt.md
  windows/deployment/volume-activation/kms-activation-vamt.md
  windows/deployment/volume-activation/local-reactivation-vamt.md
  windows/deployment/volume-activation/manage-activations-vamt.md
  windows/deployment/volume-activation/manage-product-keys-vamt.md
  windows/deployment/volume-activation/manage-vamt-data.md
  windows/deployment/volume-activation/online-activation-vamt.md
  windows/deployment/volume-activation/proxy-activation-vamt.md
  windows/deployment/volume-activation/remove-products-vamt.md
  windows/deployment/volume-activation/scenario-kms-activation-vamt.md
  windows/deployment/volume-activation/scenario-online-activation-vamt.md
  windows/deployment/volume-activation/scenario-proxy-activation-vamt.md
  windows/deployment/volume-activation/update-product-status-vamt.md
  windows/deployment/volume-activation/use-vamt-in-windows-powershell.md
  windows/deployment/volume-activation/vamt-known-issues.md
  windows/deployment/volume-activation/vamt-requirements.md
  windows/deployment/volume-activation/vamt-step-by-step.md
  windows/deployment/windows-10-deployment-tools-reference.md
  windows/deployment/windows-10-missing-fonts.md
  windows/deployment/windows-10-poc-mdt.md
  windows/deployment/windows-10-poc-sc-config-mgr.md
  windows/deployment/windows-10-poc.md
  windows/deployment/windows-10-subscription-activation.md
  windows/deployment/windows-autopilot/add-devices.md
  windows/deployment/windows-autopilot/autopilot-device-guidelines.md
  windows/deployment/windows-autopilot/autopilot-faq.md
Labels: deployment

#6532 MD-ATP/Exploit Protection: corrections & updates
  windows/security/threat-protection/microsoft-defender-atp/import-export-exploit-protection-emet-xml.md
Labels: microsoft defender atp

#6542 MD-ATP/Alerts: copy-paste error correction
  windows/security/threat-protection/microsoft-defender-atp/alerts.md
Labels: microsoft defender atp

#6551 Update mac-install-with-intune.md
  windows/security/threat-protection/microsoft-defender-atp/mac-install-with-intune.md
Labels: Microsoft submitter

#6546 Update hololens2-autopilot.md
  devices/hololens/hololens2-autopilot.md
Labels: Microsoft submitter, devices

#6476 Threat Protection/Auditing: event 4985 page link
  windows/security/threat-protection/auditing/audit-other-privilege-use-events.md
Labels: auditing

#6554 Update manage-updates-baselines-windows-defender-antivirus.md
  windows/security/threat-protection/windows-defender-antivirus/manage-updates-baselines-windows-defender-antivirus.md
Labels: Microsoft submitter

#6552 Update defender-csp.md
  windows/client-management/mdm/defender-csp.md
Labels: Microsoft submitter, mdm

#6280 Update how-to-deploy-the-app-v-51-server-using-a-script.md
  mdop/appv-v5/how-to-deploy-the-app-v-51-server-using-a-script.md
Labels: mdop

#6498 1justingilmore seo working branch
  windows/deployment/deploy-windows-cm/add-a-windows-10-operating-system-image-using-configuration-manager.md
  windows/deployment/deploy-windows-cm/add-drivers-to-a-windows-10-deployment-with-windows-pe-using-configuration-manager.md
  windows/deployment/deploy-windows-cm/prepare-for-zero-touch-installation-of-windows-10-with-configuration-manager.md
  windows/deployment/deploy-windows-cm/refresh-a-windows-7-client-with-windows-10-using-configuration-manager.md
  windows/deployment/deploy-windows-cm/replace-a-windows-7-client-with-windows-10-using-configuration-manager.md
  windows/deployment/planning/compatibility-fixes-for-windows-8-windows-7-and-windows-vista.md
  windows/deployment/planning/enabling-and-disabling-compatibility-fixes-in-compatibility-administrator.md
  windows/deployment/update/fod-and-lang-packs.md
  windows/deployment/update/update-compliance-monitor.md
  windows/deployment/upgrade/upgrade-windows-phone-8-1-to-10.md
  windows/deployment/windows-10-poc-sc-config-mgr.md
Labels: deployment

#6561 Updated Microsoft browser extension policy URL
  browsers/edge/shortdesc/microsoft-browser-extension-policy-shortdesc.md
Labels: Microsoft submitter, browser-edge

#6568 Update hololens-insider.md
  devices/hololens/hololens-insider.md
Labels: Microsoft submitter

#6567 GPs and REG entry fixes
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, privacy

#6562 Identity Protection/VPN: grammar, links & spacing
  windows/security/identity-protection/vpn/vpn-security-features.md
Labels: identity protection

#6589 exact retirement dates
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter

#6587 Updated rules-indicators to show 15k in screenshot
  windows/security/threat-protection/microsoft-defender-atp/images/rules-indicators.png
Labels: Microsoft submitter, microsoft defender atp

#6607 Update command-line-arguments-windows-defender-antivirus.md
  windows/security/threat-protection/windows-defender-antivirus/command-line-arguments-windows-defender-antivirus.md
Labels: Microsoft submitter, windows defender antivirus

#6593 Correct enable-cloud-protection-wdav
  windows/security/information-protection/windows-information-protection/images/wip-azure-add-user-groups.png
  windows/security/threat-protection/windows-defender-antivirus/enable-cloud-protection-windows-defender-antivirus.md
Labels: Microsoft submitter, windows defender antivirus

#6612 Update linux-install-manually.md
  windows/security/threat-protection/microsoft-defender-atp/linux-install-manually.md
Labels: Microsoft submitter, microsoft defender atp
