Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-02, with the labels that each got.

#5913 Change language to match setting
  windows/security/information-protection/bitlocker/ts-bitlocker-intune-issues.md
Labels: bitlocker

#5900 change the definition
  windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements.md
Labels: policy settings, threat-protection

#5982 removed outdated information
  windows/security/threat-protection/windows-defender-antivirus/review-scan-results-windows-defender-antivirus.md
Labels: windows defender antivirus

#5975 Update configure-proxy-internet.md
  windows/security/threat-protection/microsoft-defender-atp/configure-proxy-internet.md
Labels: microsoft defender atp

#5981 removed outdated information
  windows/security/threat-protection/microsoft-defender-atp/troubleshoot-siem.md
Labels: microsoft defender atp

#5968 Update error with non-destructive PIN reset note
  windows/security/identity-protection/hello-for-business/hello-planning-guide.md
Labels: hello-for-business

#5863 Removed links pointing to a personal blog
  devices/surface-hub/use-surface-hub-diagnostic-test-device-account.md
Labels: devices

#5728 remove unnecessary steps
  mdop/mbam-v25/upgrading-to-mbam-25-sp1-from-mbam-25.md
Labels: mdop

#5858 Update manage-windows-mixed-reality.md
  windows/application-management/manage-windows-mixed-reality.md
Labels: application management

#5817 Fix device-based data delete OS Version
  windows/privacy/windows-10-and-privacy-compliance.md
Labels: privacy

#5878 Document Surface Hub fixes in 2B
  devices/surface-hub/surface-hub-update-history.md
Labels: devices

#5956 Update configure-endpoints-sccm.md
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-sccm.md
Labels: microsoft defender atp

#5935 Update configure-proxy-internet.md
  windows/security/threat-protection/microsoft-defender-atp/configure-proxy-internet.md
Labels: microsoft defender atp

#5938 Update user-roles.md
  windows/security/threat-protection/microsoft-defender-atp/user-roles.md
Labels: microsoft defender atp

#5980 added note
  windows/deployment/windows-autopilot/windows-autopilot-requirements.md
Labels: deployment

#6025 Update usmt-identify-users.md
  windows/deployment/usmt/usmt-identify-users.md
Labels: deployment

#6022 Fix Defender Operational event log name
  windows/security/threat-protection/microsoft-defender-atp/evaluate-attack-surface-reduction.md
Labels: microsoft defender atp

#5989 Update dmclient-csp.md
  windows/client-management/mdm/dmclient-csp.md
Labels: client management

#5986 Update policy-csp-system.md
  windows/client-management/mdm/policy-csp-system.md
Labels: client management

#5884 remove incorrect info and add note about expected behavior
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: devices, policy settings

#5969 Added exploit protection setting requirements.
  windows/security/threat-protection/windows-defender-application-guard/reqs-wd-app-guard.md
Labels: windows defender application guard

#6004 Update white-glove.md
  windows/deployment/windows-autopilot/white-glove.md
Labels: deployment

#5857 Documenting known-issue with MSA service
  windows/client-management/mdm/policy-csp-accounts.md
Labels: client management

#6026 Update apply-hotfix-for-mbam-25-sp1.md
  mdop/mbam-v25/apply-hotfix-for-mbam-25-sp1.md
Labels: mdop

#6037 Remove Windows Server 2016
  windows/security/threat-protection/microsoft-defender-atp/exploit-protection.md
Labels: windows defender exploit guard

#6041 i updated the sentences for the enabling of PUA
  windows/security/threat-protection/windows-defender-antivirus/detect-block-potentially-unwanted-apps-windows-defender-antivirus.md
Labels: windows defender antivirus

#6011 Minor correction
  devices/hololens/hololens-recovery.md
Labels: devices

#6015 revise ConfigMgr FAQ for WHfB
  windows/security/identity-protection/hello-for-business/hello-faq.md
Labels: hello-for-business

#5979 change the registry value
  devices/surface/images/config-mgr-semm-fig3.png
  devices/surface/use-system-center-configuration-manager-to-manage-devices-with-semm.md
Labels: devices

#5953 MSD-ATP/Deployment: improve grammar & readability
  windows/security/threat-protection/microsoft-defender-atp/prepare-deployment.md
Labels: microsoft defender atp

#6012 Preferred should be TPM 2.0, not firmware
  windows/security/identity-protection/credential-guard/credential-guard-requirements.md
Labels: identity protection

#6039 added note about service dependency
  windows/security/threat-protection/security-policy-settings/interactive-logon-smart-card-removal-behavior.md
Labels: policy settings, threat-protection

#6035 added access to the list of apps that should be exempted
  windows/security/information-protection/windows-information-protection/enlightened-microsoft-apps-and-wip.md
Labels: information protection

#6033 Update connect-to-remote-aadj-pc.md
  windows/client-management/connect-to-remote-aadj-pc.md
Labels: windows defender credential guard

#6024 Update limitations-with-wip.md
  windows/security/information-protection/windows-information-protection/limitations-with-wip.md
Labels: information protection

#6020 Local Accounts/Administrator account: 20016 typo
  windows/security/identity-protection/access-control/local-accounts.md
Labels: identity protection

#6010 WDAC cmdlets are available on all SKUs for 1903+ builds
  windows/security/threat-protection/windows-defender-application-control/windows-defender-application-control.md
Labels: windows defender application control

#6003 Update notice about MBEC support
  windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity.md
Labels: device guard

#5996 Add segment related to enabling network protection
  windows/security/threat-protection/microsoft-defender-atp/network-protection.md
Labels: microsoft defender atp

#6071 Fixed scripting issue
  windows/security/threat-protection/windows-defender-application-control/create-wdac-policy-for-lightly-managed-devices.md
Labels: windows defender application control

#6076 Test, updated Caps
  windows/security/threat-protection/microsoft-defender-atp/web-content-filtering.md
Labels: microsoft defender atp

#6048 clarify how to go to EAP menu
  windows/client-management/advanced-troubleshooting-802-authentication.md
Labels: client management

#6051 missing "r" in $OSArch
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
Labels: identity protection

#5984 Update vpnv2-profile-xsd.md
  windows/client-management/mdm/vpnv2-profile-xsd.md
Labels: client management

#6093 changed the link
  devices/surface/manage-surface-uefi-settings.md
Labels: devices

#6094 Correcting outdated requirements
  windows/deployment/volume-activation/install-vamt.md
Labels: Microsoft submitter, deployment

#5885 edited table
  windows/security/information-protection/windows-information-protection/recommended-network-definitions-for-wip.md
Labels: information protection

#6095 Update hololens-insider.md
  devices/hololens/hololens-insider.md
Labels: Microsoft submitter

#6013 Addition of comments
  windows/client-management/mdm/bitlocker-csp.md
Labels: bitlocker

#6108 Link Update
  windows/security/threat-protection/windows-defender-antivirus/use-powershell-cmdlets-windows-defender-antivirus.md
Labels: windows defender antivirus

#6104 Merging update to WDAC types of rules to create.
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, windows defender application control

#6032 Add important note about known issue
  windows/deployment/windows-autopilot/existing-devices.md
Labels: deployment

#6118 Update windows/security/threat-protection/microsoft-defender-atp/mac-preferences
  windows/security/threat-protection/microsoft-defender-atp/mac-preferences.md
Labels: Microsoft submitter

#6123 add note about signup process URL
  windows/security/threat-protection/microsoft-defender-atp/web-content-filtering.md
Labels: microsoft defender atp

#6106 Fix type error in EMIESitelist sample
  browsers/internet-explorer/ie11-deploy-guide/add-multiple-sites-to-enterprise-mode-site-list-using-the-version-2-schema-and-enterprise-mode-tool.md
Labels: browser-ie

#6062 chore: MarkDown Note marker compatibility spacing
  devices/hololens/hololens-commercial-infrastructure.md
  devices/hololens/hololens-cortana.md
  devices/hololens/hololens-encryption.md
  devices/hololens/hololens-enroll-mdm.md
  devices/hololens/hololens-insider.md
  devices/hololens/hololens-kiosk.md
  devices/hololens/hololens-known-issues.md
  devices/hololens/hololens-provisioning.md
  devices/hololens/hololens-recovery.md
  devices/hololens/hololens-updates.md
Labels: devices

#6130 Update manage-windows-1903-endpoints.md
  windows/privacy/manage-windows-1903-endpoints.md
Labels: Microsoft submitter

#6103 Update index.md
  devices/hololens/index.md
Labels: Microsoft submitter, devices

#6138 Changing working of Enterprise vs Pro note.
  windows/security/identity-protection/hello-for-business/hello-feature-pin-reset.md
Labels: Microsoft submitter

#6060 chore: MarkDown Note marker compatibility spacing
  browsers/edge/group-policies/new-tab-page-settings-gp.md
  browsers/edge/includes/ie11-send-all-sites-not-in-site-list-include.md
  browsers/edge/managing-group-policy-admx-files.md
  browsers/enterprise-mode/set-up-enterprise-mode-portal.md
  browsers/enterprise-mode/turn-on-enterprise-mode-and-use-a-site-list.md
  browsers/internet-explorer/ie11-deploy-guide/enable-and-disable-add-ons-using-administrative-templates-and-group-policy.md
  browsers/internet-explorer/ie11-deploy-guide/ie11-delivery-through-automatic-updates.md
  browsers/internet-explorer/ie11-deploy-guide/set-up-enterprise-mode-portal.md
  browsers/internet-explorer/ie11-deploy-guide/tips-and-tricks-to-manage-ie-compatibility.md
  browsers/internet-explorer/ie11-deploy-guide/turn-on-enterprise-mode-and-use-a-site-list.md
  browsers/internet-explorer/ie11-deploy-guide/user-interface-problems-with-ie11.md
  browsers/internet-explorer/ie11-deploy-guide/what-is-the-internet-explorer-11-blocker-toolkit.md
  browsers/internet-explorer/ie11-faq/faq-ieak11.md
  browsers/internet-explorer/ie11-ieak/troubleshooting-custom-browser-pkg-ieak11.md
  browsers/internet-explorer/ie11-ieak/what-ieak-can-do-for-you.md
Labels: browser-edge, policy settings

#5966 Corrected "he" to "The"
  windows/deployment/update/update-compliance-security-update-status.md
Labels: deployment
