Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-07, with the labels that each got.

#7035 note addition
  windows/security/threat-protection/security-policy-settings/interactive-logon-require-smart-card.md
Labels: policy settings, threat-protection

#7009 added
  windows/security/threat-protection/microsoft-defender-smartscreen/microsoft-defender-smartscreen-available-settings.md
Labels: security

#7078 ASC onboarding & data location defaults updated
  windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints.md
Labels: Microsoft submitter

#7063 BL Recovery Password Hints Commit
  windows/security/information-protection/bitlocker/bitlocker-recovery-guide-plan.md
  windows/security/information-protection/bitlocker/images/bl-intune-custom-url.png
  windows/security/information-protection/bitlocker/images/bl-password-hint1.png
  windows/security/information-protection/bitlocker/images/bl-password-hint2.png
  windows/security/information-protection/bitlocker/images/rp-example1.PNG
  windows/security/information-protection/bitlocker/images/rp-example2.PNG
  windows/security/information-protection/bitlocker/images/rp-example3.PNG
  windows/security/information-protection/bitlocker/images/rp-example4.PNG
  windows/security/information-protection/bitlocker/images/rp-example5.PNG
Labels: Microsoft submitter

#7067 Update to CONTENT IDEA REQUEST 120542
  windows/security/threat-protection/windows-defender-application-control/create-initial-default-policy.md
Labels: Microsoft submitter

#7093 Update troubleshoot-onboarding.md
  windows/security/threat-protection/microsoft-defender-atp/troubleshoot-onboarding.md
Labels: Microsoft submitter

#7065 Updated guidance on using Windows in FIPS mode
  windows/security/threat-protection/fips-140-validation.md
Labels: Microsoft submitter, threat-protection

#7084 Update web-content-filtering.md
  windows/security/threat-protection/microsoft-defender-atp/web-content-filtering.md
Labels: Microsoft submitter

#7090 replaced incorrect info
  windows/client-management/mdm/policy-csp-restrictedgroups.md
Labels: mdm

#7023 [DO NOT MERGE] Edits for linux support articles
  windows/security/threat-protection/microsoft-defender-atp/linux-install-with-puppet.md
  windows/security/threat-protection/microsoft-defender-atp/linux-support-connectivity.md
  windows/security/threat-protection/microsoft-defender-atp/linux-support-install.md
  windows/security/threat-protection/microsoft-defender-atp/linux-support-perf.md
  windows/security/threat-protection/microsoft-defender-atp/linux-whatsnew.md
Labels: microsoft defender atp

#6674 added admx references
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: mdm

#7074 Clarifying SasUrl example and text
  windows/client-management/mdm/diagnosticlog-csp.md
Labels: Microsoft submitter

#7096 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#7098 Fixed Location reg keys
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter

#7097 Fixed UI option discrepancies
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter

#7086 add note about relevant article
  windows/security/identity-protection/hello-for-business/hello-feature-conditional-access.md
Labels: information protection

#7075 Added MSA policy to the list
  windows/deployment/windows-autopilot/policy-conflicts.md
Labels: Microsoft submitter, deployment

#7076 Remove incorrect info
  windows/security/identity-protection/access-control/active-directory-accounts.md
Labels: identity protection

#7091 reworded policy values description
  windows/client-management/mdm/policy-csp-system.md
Labels: mdm

#7117 added note
  windows/security/threat-protection/windows-defender-security-center/wdsc-hide-notifications.md
Labels: threat-protection

#7115 removed v1809 link added v2004 link
  windows/security/threat-protection/windows-defender-security-center/wdsc-hide-notifications.md
Labels: threat-protection

#7113 Minor change, add correct Server edition
  windows/security/threat-protection/windows-defender-application-control/wdac-and-applocker-overview.md
Labels: Microsoft submitter, microsoft defender application control

#7119 Replace with "opaque box"
  windows/client-management/mdm/azure-active-directory-integration-with-mdm.md
Labels: Microsoft submitter, mdm

#7124 Update update-compliance-configuration-script.md
  windows/deployment/update/update-compliance-configuration-script.md
Labels: Microsoft submitter

#6931 Update policy-csp-system.md
  windows/client-management/mdm/policy-csp-system.md
Labels: mdm

#7122 Typo: "DHCP Option ID" 234 -> 235
  windows/deployment/update/waas-delivery-optimization-reference.md
Labels: deployment

#7127 Update catchup scan docs
  windows/client-management/mdm/policy-csp-defender.md
Labels: Microsoft submitter, mdm

#7136 Update update-csp.md
  windows/client-management/mdm/update-csp.md
Labels: mdm

#7130 added note about ADMX-backed policy CSPs
  windows/client-management/mdm/policy-configuration-service-provider.md
Labels: mdm

#6833 User credential preferred
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#7156 Update user-driven.md - fix typo
  windows/deployment/windows-autopilot/user-driven.md
Labels: Microsoft submitter

#7149 Typo "\*\*Note: \*\*"→"**Note:**"
  windows/security/threat-protection/auditing/basic-audit-object-access.md
Labels: broken link/type/formatting

#7118 Simple Download Mode - DO
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, privacy

#7043 Add Hardcoded FOD Filename for MixedReality
  windows/application-management/manage-windows-mixed-reality.md
Labels: Microsoft submitter, application management

#6578 Updated XSD based on examples and reformatted examples to pass XML validation
  windows/client-management/mdm/vpnv2-profile-xsd.md
Labels: mdm

#7165 Update edr-in-block-mode.md
  windows/security/threat-protection/microsoft-defender-atp/edr-in-block-mode.md
Labels: Microsoft submitter, microsoft defender atp

#7161 Update microsoft-defender-antivirus-compatibility.md
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter, microsoft defender antivirus

#7172 VPNProfile XSD: Add missing elements.
  windows/client-management/mdm/vpnv2-profile-xsd.md
Labels: Microsoft submitter, mdm

#7188 Updated hyperlink to point to the right link
  windows/security/threat-protection/microsoft-defender-atp/android-configure.md
Labels: microsoft defender atp

#7186 Add self.events.data.microsoft.com
  windows/privacy/manage-windows-2004-endpoints.md
Labels: Microsoft submitter, privacy

#7184 Update policy-csp-update.md
  windows/client-management/mdm/policy-csp-update.md
Labels: mdm

#7183 Update update-csp.md
  windows/client-management/mdm/update-csp.md
Labels: mdm

#7904 Update manage-automation-folder-exclusions.md
  windows/security/threat-protection/microsoft-defender-atp/manage-automation-folder-exclusions.md
Labels: Microsoft submitter, microsoft defender atp

#7892 added clarification about mixing installation of Win32 and LOB
  windows/deployment/windows-autopilot/white-glove.md
Labels: windows autopilot

#7894 Link upgradation
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
Labels: microsoft defender atp

#7890 changed intune status of "block persistence through wmi event subscription"
  windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction.md
Labels: microsoft defender atp

#7928 Update scheduled-catch-up-scans-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/scheduled-catch-up-scans-microsoft-defender-antivirus.md
Labels: Microsoft submitter, microsoft defender antivirus

#7919 Update indicator-certificates.md
  windows/security/threat-protection/microsoft-defender-atp/indicator-certificates.md
Labels: Microsoft submitter, microsoft defender atp

#7196 Changed Note section
  windows/security/threat-protection/microsoft-defender-antivirus/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#7915 typo fix
  windows/configuration/kiosk-prepare.md
Labels: kiosk

#7924 Changed ownership contact
  windows/privacy/manage-windows-1903-endpoints.md
Labels: Microsoft submitter, privacy

#7923 Change ownership contact
  windows/privacy/windows-endpoints-1903-non-enterprise-editions.md
Labels: Microsoft submitter, privacy

#7916 Update hello-how-it-works-authentication.md
  windows/security/identity-protection/hello-for-business/hello-how-it-works-authentication.md
Labels: Microsoft submitter, hello-for-business

#7909 Update minimum-requirements.md
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
Labels: Microsoft submitter, microsoft defender atp

#7908 Remove incorrect flag for cmdlet
  windows/deployment/update/waas-delivery-optimization-setup.md
Labels: Microsoft submitter, deployment

#7905 Update offboard-machines.md
  windows/security/threat-protection/microsoft-defender-atp/offboard-machines.md
Labels: Microsoft submitter, microsoft defender atp

#7943 remove Infineon from list of firmware TPMs
  windows/deployment/windows-autopilot/windows-autopilot-requirements.md
Labels: Microsoft submitter

#7903 Minor edits in Event
  windows/security/threat-protection/auditing/event-4771.md
Labels: auditing

#7944 Addition of the content
  windows/security/threat-protection/microsoft-defender-antivirus/use-powershell-cmdlets-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#7933 Update get-machines.md
  windows/security/threat-protection/microsoft-defender-atp/get-machines.md
Labels: Microsoft submitter, microsoft defender atp

#7939 Update get-alert-related-machine-info.md
  windows/security/threat-protection/microsoft-defender-atp/get-alert-related-machine-info.md
Labels: Microsoft submitter, microsoft defender atp

#7938 Update get-alert-related-ip-info.md
  windows/security/threat-protection/microsoft-defender-atp/get-alert-related-ip-info.md
Labels: Microsoft submitter, microsoft defender atp

#7937 Update get-alert-related-files-info.md
  windows/security/threat-protection/microsoft-defender-atp/get-alert-related-files-info.md
Labels: Microsoft submitter, microsoft defender atp

#7936 Update get-alert-related-domain-info.md
  windows/security/threat-protection/microsoft-defender-atp/get-alert-related-domain-info.md
Labels: Microsoft submitter, microsoft defender atp

#7935 Update get-alert-info-by-id.md
  windows/security/threat-protection/microsoft-defender-atp/get-alert-info-by-id.md
Labels: Microsoft submitter, microsoft defender atp

#7934 Update get-alerts.md
  windows/security/threat-protection/microsoft-defender-atp/get-alerts.md
Labels: Microsoft submitter, microsoft defender atp

#7940 Update get-alert-related-user-info.md
  windows/security/threat-protection/microsoft-defender-atp/get-alert-related-user-info.md
Labels: Microsoft submitter, microsoft defender atp

#7072 Added bullet section for Powershell scripts
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: threat-protection

#7057 removed incorrect info
  windows/security/identity-protection/virtual-smart-cards/virtual-smart-card-tpmvscmgr.md
Labels: identity protection

#7891 Update api-power-bi.md
  windows/security/threat-protection/microsoft-defender-atp/api-power-bi.md
Labels: Microsoft submitter, microsoft defender atp

#7203 Reorganize topics and fix broken links in CC topic
  windows/security/threat-protection/windows-platform-common-criteria.md
Labels: Microsoft submitter, threat-protection

#7201 Correcting Reg Path
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, privacy

#7200 Corrected Group Policy names
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, privacy

#7197 Removed UI description to turn off some features.
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, privacy

#7195 Add missing endpoints
  windows/privacy/manage-windows-2004-endpoints.md
Labels: Microsoft submitter, privacy

#7194 Correct area for img-prod-cms-rt-microsoft-com*'
  windows/privacy/manage-windows-2004-endpoints.md
Labels: Microsoft submitter, privacy

#6767 VPN/SSO NDES: SCEP link URL update
  windows/security/identity-protection/vpn/how-to-use-single-sign-on-sso-over-vpn-and-wi-fi-connections.md
Labels: identity protection

#7193 Move fs.microsoft.com to Font Streaming Area
  windows/privacy/manage-windows-2004-endpoints.md
Labels: Microsoft submitter, privacy

#6800 #6784 Microsoft Security Compliance Toolkit 1.0 list of PowerShell scripts
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: threat-protection

#7949 Updated 1909 TOC and ownership
  windows/privacy/manage-windows-1909-endpoints.md
  windows/privacy/toc.yml
  windows/privacy/windows-endpoints-1909-non-enterprise-editions.md
Labels: Microsoft submitter

#7889 Changes in Account Requirements
  windows/application-management/msix-app-packaging-tool.md
Labels: application management

#7893 Old links are not working
  windows/deployment/update/windows-as-a-service.md
Labels: deployment

#7953 Update index.yml
  windows/privacy/index.yml
Labels: Microsoft submitter

#7033 Note Addition
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: privacy

#7962 Update get-machines.md
  windows/security/threat-protection/microsoft-defender-atp/get-machines.md
Labels: Microsoft submitter, microsoft defender atp

#7957 Update link to Intune content for managing web protection on Android
  windows/security/threat-protection/microsoft-defender-atp/android-configure.md
Labels: Microsoft submitter, microsoft defender atp

#7968 tip for key rotation
  windows/client-management/mdm/bitlocker-csp.md
Labels: Microsoft submitter, mdm

#7977 correction for key rotation
  windows/client-management/mdm/bitlocker-csp.md
Labels: Microsoft submitter

#7990 Update add-devices.md
  windows/deployment/windows-autopilot/add-devices.md
Labels: Microsoft submitter

#7982 Update microsoft-defender-smartscreen-overview.md
  windows/security/threat-protection/microsoft-defender-smartscreen/microsoft-defender-smartscreen-overview.md
Labels: Microsoft submitter, microsoft defender atp

#7988 Update commercial-gov.md
  windows/security/threat-protection/microsoft-defender-atp/commercial-gov.md
Labels: Microsoft submitter, microsoft defender atp

#7984 addition in note
  windows/deployment/windows-autopilot/white-glove.md
Labels: deployment

#7995 Update android-configure.md
  windows/security/threat-protection/microsoft-defender-atp/android-configure.md
Labels: microsoft defender atp
