Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-08, with the labels that each got.

#8001 Update mac-schedule-scan-atp.md
  windows/security/threat-protection/microsoft-defender-atp/mac-schedule-scan-atp.md
Labels: Microsoft submitter

#8003 Changed EnterpriseDataProtection CSP & Home to supported
  windows/client-management/mdm/configuration-service-provider-reference.md
Labels: Microsoft submitter

#7999 Correct server availability information
  windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-with-managed-installer.md
Labels: Microsoft submitter, microsoft defender application control

#8004 Fix-up for XML and Bash syntax
  windows/security/threat-protection/microsoft-defender-atp/mac-schedule-scan-atp.md
Labels: Microsoft submitter, microsoft defender atp

#8007 Update advanced-hunting-devicelogonevents-table.md
  windows/security/threat-protection/microsoft-defender-atp/advanced-hunting-devicelogonevents-table.md
Labels: Microsoft submitter

#8014 Update enable-admx-backed-policies-in-mdm.md
  windows/client-management/mdm/enable-admx-backed-policies-in-mdm.md
Labels: Microsoft submitter

#7202 Update faq-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: microsoft defender application guard

#8009 Added a Note under Windows Defender
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter

#8008 Updated titles and details in the Location section
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter

#7998 Update trusted-platform-module-services-group-policy-settings.md
  windows/security/information-protection/tpm/trusted-platform-module-services-group-policy-settings.md
Labels: information protection

#8011 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter

#8013 Update tpm-recommendations.md
  windows/security/information-protection/tpm/tpm-recommendations.md
Labels: Microsoft submitter

#8005 Removing of Applies to
  windows/security/threat-protection/microsoft-defender-antivirus/configure-server-exclusions-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#8015 Formatting
  windows/deployment/windows-autopilot/white-glove.md
Labels: deployment

#8018 Add clarification for FAQs regarding Target Version policy
  windows/deployment/update/waas-wufb-group-policy.md
Labels: Microsoft submitter, deployment

#8012 Update web-content-filtering.md
  windows/security/threat-protection/microsoft-defender-atp/web-content-filtering.md
Labels: Microsoft submitter, microsoft defender atp

#8022 Update mac-sysext-policies.md
  windows/security/threat-protection/microsoft-defender-atp/mac-sysext-policies.md
Labels: Microsoft submitter, microsoft defender atp

#8021 Update mac-install-with-jamf.md
  windows/security/threat-protection/microsoft-defender-atp/mac-install-with-jamf.md
Labels: Microsoft submitter, microsoft defender atp

#8024 Update web-content-filtering.md
  windows/security/threat-protection/microsoft-defender-atp/web-content-filtering.md
Labels: Microsoft submitter, microsoft defender atp

#7976 Updating best practices to reflect current guidance
  windows/security/threat-protection/security-policy-settings/system-cryptography-use-fips-compliant-algorithms-for-encryption-hashing-and-signing.md
Labels: Microsoft submitter, policy settings, threat-protection

#8038 Update configure-proxy-internet.md
  windows/security/threat-protection/microsoft-defender-atp/configure-proxy-internet.md
Labels: Microsoft submitter

#8037 Update open-the-group-policy-management-console-to-windows-firewall-w…
  windows/security/threat-protection/windows-firewall/open-the-group-policy-management-console-to-windows-firewall-with-advanced-security.md
Labels: Microsoft submitter, threat-protection

#8032 added directions that the CMD must also be copied for MDATP non-persistent VDI if you want one entry
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi.md
Labels: Microsoft submitter, threat-protection

#8039 Update defender-csp.md
  windows/client-management/mdm/defender-csp.md
Labels: mdm

#8054 update extension support info
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: microsoft defender atp

#8053 update "applies to" section
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-on-windows-server-2016.md
Labels: threat-protection

#8031 adjusted broken link
  windows/security/threat-protection/microsoft-defender-antivirus/configure-advanced-scan-types-microsoft-defender-antivirus.md
Labels: threat-protection

#8040 added moderate blocking level
  windows/security/threat-protection/microsoft-defender-antivirus/specify-cloud-protection-level-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#7899 Reg key breaks Windows Store connectivity
  windows/deployment/update/waas-manage-updates-wsus.md
Labels: deployment

#7174 added note about Intune conflicts
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-settings-policy.md
Labels: hello-for-business

#6639 add info about 0x801c004D
  windows/security/identity-protection/hello-for-business/hello-errors-during-pin-creation.md
Labels: hello-for-business

#7192 Fix cmdlet usage
  windows/security/threat-protection/windows-sandbox/windows-sandbox-overview.md
Labels: threat-protection

#7958 updated information
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#7167 remove extra method which was also incorrect (Certificate not EAP)
  windows/security/identity-protection/vpn/vpn-profile-options.md
Labels: identity protection

#7080 added note about Message Analyzer
  windows/client-management/troubleshoot-tcpip-netmon.md
Labels: client management

#7959 note addition
  windows/client-management/mdm/certificatestore-csp.md
Labels: mdm

#7987 added missing logon types
  windows/security/threat-protection/auditing/event-4624.md
Labels: auditing

#5882 Request more clear guidelines to add a Desktop App
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection, to-triage

#7997 added new link in related topics
  windows/security/threat-protection/microsoft-defender-atp/advanced-hunting-schema-reference.md
Labels: microsoft defender atp

#7897 minor edits
  windows/client-management/mdm/dmclient-ddf-file.md
Labels: assigned-to-author, client management

#8066 Added clarifying language about reccomendations
  windows/configuration/windows-spotlight.md
Labels: configuration

#8060 Remove fs.microsoft.com from Maps
  windows/privacy/manage-windows-2004-endpoints.md
Labels: Microsoft submitter, privacy

#8048 added key path , made words in bold
  windows/deployment/update/update-compliance-feature-update-status.md
Labels: deployment

#8059 add Windows Education version
  windows/security/threat-protection/windows-sandbox/windows-sandbox-overview.md
Labels: threat-protection

#5950 added note about certutil -dsTemplate command
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-pki.md
Labels: hello-for-business

#8065 Update faq-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: microsoft defender application guard

#6226 threat-protection/microsoft-defender-atp linting
  windows/security/threat-protection/microsoft-defender-atp/get-all-recommendations.md
  windows/security/threat-protection/microsoft-defender-atp/get-all-vulnerabilities.md
  windows/security/threat-protection/microsoft-defender-atp/get-device-secure-score.md
  windows/security/threat-protection/microsoft-defender-atp/get-discovered-vulnerabilities.md
  windows/security/threat-protection/microsoft-defender-atp/get-exposure-score.md
  windows/security/threat-protection/microsoft-defender-atp/get-installed-software.md
  windows/security/threat-protection/microsoft-defender-atp/get-machine-group-exposure-score.md
  windows/security/threat-protection/microsoft-defender-atp/get-machines-by-software.md
  windows/security/threat-protection/microsoft-defender-atp/get-machines-by-vulnerability.md
  windows/security/threat-protection/microsoft-defender-atp/get-recommendation-by-id.md
  windows/security/threat-protection/microsoft-defender-atp/get-recommendation-machines.md
  windows/security/threat-protection/microsoft-defender-atp/get-recommendation-software.md
  windows/security/threat-protection/microsoft-defender-atp/get-recommendation-vulnerabilities.md
  windows/security/threat-protection/microsoft-defender-atp/get-security-recommendations.md
  windows/security/threat-protection/microsoft-defender-atp/get-software-by-id.md
  windows/security/threat-protection/microsoft-defender-atp/get-software-ver-distribution.md
  windows/security/threat-protection/microsoft-defender-atp/get-software.md
  windows/security/threat-protection/microsoft-defender-atp/get-vuln-by-software.md
  windows/security/threat-protection/microsoft-defender-atp/get-vulnerability-by-id.md
  windows/security/threat-protection/microsoft-defender-atp/manage-indicators.md
  windows/security/threat-protection/microsoft-defender-atp/recommendation.md
  windows/security/threat-protection/microsoft-defender-atp/score.md
  windows/security/threat-protection/microsoft-defender-atp/software.md
  windows/security/threat-protection/microsoft-defender-atp/tvm-supported-os.md
  windows/security/threat-protection/microsoft-defender-atp/vulnerability.md
Labels: microsoft defender atp

#8083 Typo correction: spell NTLM correctly (not NTML)
  windows/security/threat-protection/microsoft-defender-atp/behavioral-blocking-containment.md
Labels: microsoft defender atp

#8076 Link to dg-readiness-tool.md instead of old version
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
Labels: microsoft defender credential guard

#8084 Update faq-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: microsoft defender application guard

#8072 added ValidateMapsConnection
  windows/security/threat-protection/microsoft-defender-antivirus/command-line-arguments-microsoft-defender-antivirus.md
Labels: threat-protection

#8082 Added additional back slashes so they show properly.
  windows/client-management/mdm/registry-csp.md
Labels: Microsoft submitter, mdm

#8069 Add OneDrive Endpoints
  windows/privacy/windows-endpoints-1909-non-enterprise-editions.md
Labels: Microsoft submitter, privacy

#8091 added details about portal and required permissions
  windows/security/threat-protection/microsoft-defender-atp/user-roles.md
Labels: microsoft defender atp

#8088 added missing windows versions
  windows/deployment/update/windows-update-troubleshooting.md
Labels: deployment

#8090 added note about "user defined" option
  windows/security/threat-protection/microsoft-defender-atp/enable-attack-surface-reduction.md
Labels: microsoft defender atp

#8106 Update configure-endpoints-vdi.md
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi.md
Labels: Microsoft submitter, microsoft defender atp

#8064 Pro and home are not supported
  windows/security/identity-protection/credential-guard/dg-readiness-tool.md
Labels: microsoft defender credential guard

#8052 add reference for partitioning reqs
  windows/security/information-protection/bitlocker/bitlocker-to-go-faq.md
Labels: bitlocker

#8057 update default values
  windows/security/threat-protection/security-policy-settings/network-access-restrict-clients-allowed-to-make-remote-sam-calls.md
Labels: policy settings, threat-protection

#8016 Updated several app names that have changed
  windows/application-management/apps-in-windows-10.md
Labels: application management

#8036 Update open-the-group-policy-management-console-to-windows-firewall.md
  windows/security/threat-protection/windows-firewall/open-the-group-policy-management-console-to-windows-firewall.md
Labels: Microsoft submitter, threat-protection, windows firewall

#8087 Comma missing in example
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#8078 added link to troubleshooting
  windows/security/threat-protection/microsoft-defender-atp/run-detection-test.md
Labels: microsoft defender atp

#8096 Update windowsdefenderapplicationguard-csp.md
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: microsoft defender application guard

#8134 replaced a broken link
  windows/client-management/mdm/policy-csp-deviceguard.md
Labels: mdm

#8131 Update enable-network-protection.md
  windows/security/threat-protection/microsoft-defender-atp/enable-network-protection.md
Labels: Microsoft submitter

#8132 Update kernel-dma-protection-for-thunderbolt.md
  windows/security/information-protection/kernel-dma-protection-for-thunderbolt.md
Labels: Microsoft submitter, information protection

#7128 replaced the screenshot
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-provision.md
  windows/security/identity-protection/hello-for-business/images/event358-2.png
Labels: hello-for-business

#8092 Update information for Delivery Optimization
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, privacy

#8145 replaced old link to new link
  windows/security/threat-protection/microsoft-defender-atp/configure-proxy-internet.md
Labels: microsoft defender atp

#8163 Update android-intune.md
  windows/security/threat-protection/microsoft-defender-atp/android-intune.md
Labels: Microsoft submitter

#8161 Update microsoft-defender-atp-android.md
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-android.md
Labels: Microsoft submitter

#8165 Dansimp mdatp and
  windows/security/threat-protection/microsoft-defender-atp/android-intune.md
  windows/security/threat-protection/microsoft-defender-atp/images/mda-addandroidstoreapp.png
  windows/security/threat-protection/microsoft-defender-atp/images/mda-addappinfo.png
  windows/security/threat-protection/microsoft-defender-atp/images/mda-devicesafe.png
  windows/security/threat-protection/microsoft-defender-atp/images/mda-properties.png
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-android.md
Labels: Microsoft submitter

#8159 Github-PUAnote-update-to-detectandblockPUA-4254702
  windows/security/threat-protection/microsoft-defender-antivirus/detect-block-potentially-unwanted-apps-microsoft-defender-antivirus.md
Labels: Microsoft submitter, microsoft defender antivirus

#8151 Update troubleshoot-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/troubleshoot-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#8162 fixed table inconsistency
  windows/deployment/usmt/usmt-scanstate-syntax.md
Labels: deployment

#8157 added "gateway"
  windows/security/threat-protection/microsoft-defender-atp/onboard-offline-machines.md
Labels: microsoft defender atp

#8160 Update configure-proxy-internet.md
  windows/security/threat-protection/microsoft-defender-atp/configure-proxy-internet.md
Labels: Microsoft submitter, microsoft defender atp

#8176 Update microsoft-defender-atp-android.md
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-android.md
Labels: Microsoft submitter

#8177 Update android-intune.md
  windows/security/threat-protection/microsoft-defender-atp/android-intune.md
Labels: Microsoft submitter

#8089 add note about RegBack functionality removal starting with Windows 10…
  windows/client-management/advanced-troubleshooting-boot-problems.md
Labels: client management

#8103 Added missing option
  windows/security/threat-protection/security-policy-settings/interactive-logon-display-user-information-when-the-session-is-locked.md
Labels: policy settings, threat-protection

#8105 reword the Incorrect informaton
  windows/security/threat-protection/security-policy-settings/accounts-administrator-account-status.md
Labels: policy settings, threat-protection

#8068 Fix misleading instructions on manage-windows-mixed-reality.md page
  windows/application-management/manage-windows-mixed-reality.md
Labels: Microsoft submitter, application management

#8077 Properly show which Windows 10 Client SKUs Credential Guard applies to
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
Labels: microsoft defender credential guard

#8167 Simple typo fix
  windows/security/threat-protection/microsoft-defender-atp/live-response-command-examples.md
Labels: microsoft defender atp

#8166 Add Update Baseline
  windows/deployment/update/waas-manage-updates-wufb.md
Labels: Microsoft submitter

#8169 Removed info on anonymous submissions
  windows/security/threat-protection/intelligence/submission-guide.md
Labels: Microsoft submitter, threat-protection

#8168 Update commercial-gov.md
  windows/security/threat-protection/microsoft-defender-atp/commercial-gov.md
Labels: Microsoft submitter, microsoft defender atp

#8178 Update windows-10-and-privacy-compliance.md
  windows/privacy/windows-10-and-privacy-compliance.md
Labels: Microsoft submitter

#8118 add info about creating the tester account
  education/windows/take-a-test-multiple-pcs.md
Labels: education

#8104 Non-Enterprise-Add activity.windows.com & adl.windows.com
  windows/privacy/windows-endpoints-1909-non-enterprise-editions.md
Labels: Microsoft submitter, privacy

#8182 changed the "applies to" section
  windows/security/threat-protection/microsoft-defender-antivirus/configure-block-at-first-sight-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-cloud-block-timeout-period-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-network-connections-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/enable-cloud-protection-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/images/turnontamperprotect-MEM.png
  windows/security/threat-protection/microsoft-defender-antivirus/prevent-changes-to-security-settings-with-tamper-protection.md
  windows/security/threat-protection/microsoft-defender-antivirus/specify-cloud-protection-level-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/utilize-microsoft-cloud-protection-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#8188 Update required-windows-diagnostic-data-events-and-fields-2004.md
  windows/privacy/required-windows-diagnostic-data-events-and-fields-2004.md
Labels: Microsoft submitter, privacy
