Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-12, with the labels that each got.

#8707 Removing Intune/MEM specific details (not within scope of CSP docs)
  windows/client-management/mdm/policy-csp-userrights.md
Labels: Microsoft submitter, mdm

#8726 Update respond-file-alerts.md
  windows/security/threat-protection/microsoft-defender-atp/respond-file-alerts.md
Labels: microsoft defender for endpoint

#8715 Client Management/MDM: URL & text correction
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#8727 Add DISM command to 2 more migration articles as per PR #8700 request review-541269350
  windows/security/threat-protection/microsoft-defender-atp/mcafee-to-microsoft-defender-setup.md
  windows/security/threat-protection/microsoft-defender-atp/switch-to-microsoft-defender-setup.md
Labels: Microsoft submitter, Sign off, microsoft defender for endpoint

#8734 Updated new ownership to robsize
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter

#8731 Update get-started-partner-integration.md
  windows/security/threat-protection/microsoft-defender-atp/get-started-partner-integration.md
Labels: Microsoft submitter, microsoft defender for endpoint

#8676 Updating MDM section
  windows/client-management/mdm/images/unifiedenrollment-rs1-38.png
  windows/client-management/mdm/images/unifiedenrollment-rs1-39.png
  windows/client-management/mdm/images/unifiedenrollment-rs1-40.png
  windows/client-management/mdm/images/unifiedenrollment-rs1-41.png
  windows/client-management/mdm/images/unifiedenrollment-rs1-42.png
  windows/client-management/mdm/mdm-enrollment-of-windows-devices.md
Labels: Microsoft submitter, mdm

#8705 Update bitlocker-csp.md
  windows/client-management/mdm/bitlocker-csp.md
Labels: Microsoft submitter, mdm

#8657 updated link for november admx link
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#8745 Endpoints/Intune: update broken URL
  windows/privacy/manage-windows-1809-endpoints.md
Labels: privacy

#8750 Update microsoft-defender-advanced-threat-protection.md
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-advanced-threat-protection.md
Labels: Microsoft submitter

#8751 Update threat-protection-integration.md
  windows/security/threat-protection/microsoft-defender-atp/threat-protection-integration.md
Labels: Microsoft submitter

#8756 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#8743 Update enroll-a-windows-10-device-automatically-using-group-policy.md
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#8742 Adding iOS section, fixing double "for", updating name to "macOS"
  windows/security/threat-protection/microsoft-defender-atp/non-windows.md
Labels: Microsoft submitter, defender for endpoint

#8738 updated ownership to robsize
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services-using-MDM.md
Labels: Microsoft submitter, privacy

#8736 Update waas-delivery-optimization.md
  windows/deployment/update/waas-delivery-optimization.md
Labels: Microsoft submitter, deployment

#8746 Updated note
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#8737 updated ownership to robsize
  windows/privacy/manage-windows-2004-endpoints.md
Labels: Microsoft submitter, privacy

#8659 Update bitlocker-overview.md
  windows/security/information-protection/bitlocker/bitlocker-overview.md
Labels: Microsoft submitter, bitlocker

#8704 Format of resolution for "The TPM is locked out."
  windows/security/information-protection/bitlocker/ts-bitlocker-cannot-encrypt-tpm-issues.md
Labels: Microsoft submitter, bitlocker

#8608 0x801C03F2-Delta update
  windows/security/identity-protection/hello-for-business/hello-errors-during-pin-creation.md
Labels: Microsoft submitter, hello-for-business

#8468 Note addition
  windows/security/threat-protection/microsoft-defender-atp/mac-install-with-jamf.md
Labels: threat-protection

#8469 Case sensitivity, re-ordering and other small corrections
  windows/security/identity-protection/access-control/active-directory-security-groups.md
Labels: identity protection

#8708 Add info about HTTP error 429
  windows/security/threat-protection/microsoft-defender-atp/common-errors.md
Labels: defender for endpoint

#8733 Changes in Deployment steps for GA
  windows/security/threat-protection/microsoft-defender-atp/images/ios-deploy-1.png
  windows/security/threat-protection/microsoft-defender-atp/images/ios-deploy-2.png
  windows/security/threat-protection/microsoft-defender-atp/images/ios-deploy-3.png
  windows/security/threat-protection/microsoft-defender-atp/images/ios-deploy-4.png
  windows/security/threat-protection/microsoft-defender-atp/images/ios-deploy-5.png
  windows/security/threat-protection/microsoft-defender-atp/images/ios-deploy-6.png
  windows/security/threat-protection/microsoft-defender-atp/images/ios-deploy-7.png
  windows/security/threat-protection/microsoft-defender-atp/ios-configure-features.md
  windows/security/threat-protection/microsoft-defender-atp/ios-install.md
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-ios.md
Labels: Microsoft submitter, defender for endpoint

#8773 Add MDE iOS as new in December 2020
  windows/security/threat-protection/microsoft-defender-atp/whats-new-in-microsoft-defender-atp.md
Labels: Microsoft submitter

#8763 Update microsoft-defender-atp-android.md
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-android.md
Labels: Microsoft submitter

#8764 Update android-intune.md
  windows/security/threat-protection/microsoft-defender-atp/android-intune.md
Labels: Microsoft submitter

#8766 Update android-intune.md
  windows/security/threat-protection/microsoft-defender-atp/android-intune.md
Labels: Microsoft submitter

#8767 Update android-intune.md
  windows/security/threat-protection/microsoft-defender-atp/android-intune.md
Labels: Microsoft submitter

#8771 adding images for auto-VPN
  windows/security/threat-protection/microsoft-defender-atp/images/1autosetupofvpn.png
  windows/security/threat-protection/microsoft-defender-atp/images/2autosetupofvpn.png
  windows/security/threat-protection/microsoft-defender-atp/images/3autosetupofvpn.png
  windows/security/threat-protection/microsoft-defender-atp/images/4autosetupofvpn.png
  windows/security/threat-protection/microsoft-defender-atp/images/5autosetupofvpn.png
Labels: Microsoft submitter

#8768 add note about 3rd party AV compatibility
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-compatibility.md
Labels: antivirus

#8765 changed the table
  windows/security/threat-protection/microsoft-defender-atp/customize-exploit-protection.md
Labels: defender for endpoint

#8777 Adding VPN configuration details
  windows/security/threat-protection/microsoft-defender-atp/images/ios-vpn-config.png
  windows/security/threat-protection/microsoft-defender-atp/ios-configure-features.md
Labels: Microsoft submitter, defender for endpoint

#8782 Update customize-exploit-protection.md
  windows/security/threat-protection/microsoft-defender-atp/customize-exploit-protection.md
Labels: exploit protection

#8786 Update md-app-guard-overview.md
  windows/security/threat-protection/microsoft-defender-application-guard/md-app-guard-overview.md
Labels: application guard

#8791 Minor fix
  windows/security/threat-protection/microsoft-defender-atp/ios-configure-features.md
Labels: Microsoft submitter, defender for endpoint

#8713 Updated Image with Correct URL
  windows/security/identity-protection/hello-for-business/hello-feature-pin-reset.md
  windows/security/threat-protection/microsoft-defender-atp/images/2bda9244ec25d1526811da4ea91b1c86.png
Labels: hello-for-business

#8798 Fix typo
  windows/client-management/mdm/get-product-package.md
Labels: mdm

#8806 Update edr-in-block-mode.md
  windows/security/threat-protection/microsoft-defender-atp/edr-in-block-mode.md
  windows/security/threat-protection/microsoft-defender-atp/get-started-partner-integration.md
  windows/security/threat-protection/microsoft-defender-atp/review-alerts.md
Labels: Microsoft submitter, defender for endpoint

#8732 updated steps for Intune
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert.md
  windows/security/identity-protection/hello-for-business/images/aadjCert/profile01.png
  windows/security/identity-protection/hello-for-business/images/aadjCert/profile02.png
  windows/security/identity-protection/hello-for-business/images/aadjCert/profile03.png
  windows/security/identity-protection/hello-for-business/images/aadjCert/profile04.png
Labels: hello-for-business

#8639 Update vpn-name-resolution.md
  windows/security/identity-protection/vpn/vpn-name-resolution.md
Labels: VPN

#8670 Adjusted Link
  windows/deployment/windows-10-subscription-activation.md
Labels: deployment

#8698 Typo "**pass@word1**"→"**pass\@word1**"
  windows/deployment/deploy-windows-cm/deploy-windows-10-using-pxe-and-configuration-manager.md
Labels: deployment

#8689 Typo "**pass@word1**"→"**pass\@word1**"
  windows/deployment/windows-10-poc-sc-config-mgr.md
Labels: deployment

#8688 Update windows-10-poc.md
  windows/deployment/windows-10-poc.md
Labels: deployment

#8678 Fixed typo
  windows/deployment/deploy-windows-cm/prepare-for-zero-touch-installation-of-windows-10-with-configuration-manager.md
Labels: deployment

#8772 add link about AD config for BitLocker
  windows/security/information-protection/bitlocker/bitlocker-group-policy-settings.md
Labels: bitlocker

#8534 added example
  windows/security/threat-protection/microsoft-defender-atp/linux-install-manually.md
Labels: defender for endpoint

#8513 added note about updated security baseline
  windows/security/threat-protection/security-policy-settings/maximum-password-age.md
Labels: policy settings, threat-protection

#8812 Fixing hello PIN reset missing image link
  windows/security/identity-protection/hello-for-business/hello-feature-pin-reset.md
Labels: Microsoft submitter

#8816 Update get-device-secure-score.md
  windows/security/threat-protection/microsoft-defender-atp/get-device-secure-score.md
Labels: Microsoft submitter

#8815 Update gov.md
  windows/security/threat-protection/microsoft-defender-atp/gov.md
Labels: Microsoft submitter

#8817 Update get-device-secure-score.md
  windows/security/threat-protection/microsoft-defender-atp/get-device-secure-score.md
Labels: Microsoft submitter

#8813 Update md-app-guard-overview.md
  windows/security/threat-protection/microsoft-defender-application-guard/md-app-guard-overview.md
Labels: Microsoft submitter, application guard

#8836 converting faqs to yml for google pilot
  windows/security/information-protection/TOC.md
  windows/security/information-protection/bitlocker/bitlocker-deployment-and-administration-faq.md
  windows/security/information-protection/bitlocker/bitlocker-deployment-and-administration-faq.yml
  windows/security/information-protection/bitlocker/bitlocker-frequently-asked-questions.md
  windows/security/information-protection/bitlocker/bitlocker-overview-and-requirements-faq.md
  windows/security/information-protection/bitlocker/bitlocker-overview-and-requirements-faq.yml
Labels: Microsoft submitter

#8805 Update related topic links to docs.microsoft.com links
  windows/security/information-protection/tpm/tpm-fundamentals.md
Labels: tpm

#8843 Move "lockdown" security info to the bottom
  windows/security/identity-protection/vpn/vpn-security-features.md
Labels: Microsoft submitter

#8814 Fix typo in whats-new-windows-10-version-20H2.md
  windows/whats-new/whats-new-windows-10-version-20H2.md
Labels: deployment

#8835 Windows 10 20H2 Connection endpoints
  windows/privacy/manage-windows-20H2-endpoints.md
  windows/privacy/toc.yml
  windows/privacy/windows-endpoints-20H2-non-enterprise-editions.md
Labels: Microsoft submitter, privacy

#8831 minor clarification
  windows/security/threat-protection/windows-sandbox/windows-sandbox-overview.md
Labels: threat-protection

#8790 Update windowsdefenderapplicationguard-csp.md
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: mdm

#8872 Link fix in how-to-enable-network-unlock
  windows/security/information-protection/bitlocker/bitlocker-how-to-enable-network-unlock.md
Labels: Microsoft submitter

#8871 update event ID
  windows/security/threat-protection/microsoft-defender-antivirus/configure-network-connections-microsoft-defender-antivirus.md
Labels: antivirus

#8870 add note about AMD processors
  windows/security/threat-protection/windows-defender-system-guard/system-guard-secure-launch-and-smm-protection.md
Labels: defender for endpoint

#8867 update script
  windows/security/threat-protection/microsoft-defender-antivirus/deployment-vdi-microsoft-defender-antivirus.md
Labels: antivirus

#8858 Doc update and screenshot refresh
  windows/security/identity-protection/hello-for-business/hello-feature-pin-reset.md
  windows/security/identity-protection/hello-for-business/images/pinreset/pin-reset-client-home-screen.png
  windows/security/identity-protection/hello-for-business/images/pinreset/pin-reset-service-application.png
  windows/security/identity-protection/hello-for-business/images/pinreset/pin-reset-service-home-screen.png
Labels: Microsoft submitter, hello-for-business

#8862 Update md-app-guard-browser-extension.md
  windows/security/threat-protection/microsoft-defender-application-guard/md-app-guard-browser-extension.md
Labels: application guard

#8775 Update bitlocker-csp.md
  windows/client-management/mdm/bitlocker-csp.md
Labels: bitlocker

#8860 Remove fs.microsoft.com under Maps
  windows/privacy/manage-windows-1909-endpoints.md
Labels: Microsoft submitter, privacy

#8861 Defender for Endpoint: clarify Note blob contents
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
Labels: defender for endpoint

#8542 add info about setting for Edge > 77
  windows/security/threat-protection/microsoft-defender-smartscreen/microsoft-defender-smartscreen-available-settings.md
Labels: SmartScreen

#8491 Updated Instruction and screenshots.
  windows/security/identity-protection/hello-for-business/images/pinreset/pin-reset-option.png
  windows/security/threat-protection/device-control/control-usb-devices-using-intune.md
  windows/security/threat-protection/device-control/images/create-device-configuration-profile.png
  windows/security/threat-protection/device-control/images/create-profile.png
Labels: threat-protection

#8885 replaced broken link
  windows/security/threat-protection/microsoft-defender-atp/microsoft-cloud-app-security-config.md
Labels: defender for endpoint

#8882 Update bitlocker-how-to-enable-network-unlock.md
  windows/security/information-protection/bitlocker/bitlocker-how-to-enable-network-unlock.md
Labels: bitlocker

#8887 Addition of information in security properties
  windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity.md
Labels: device guard

#8868 replaced outdated cmdlet
  windows/deployment/deploy-enterprise-licenses.md
Labels: deployment

#8744 Update policy-csp-defender.md
  windows/client-management/mdm/policy-csp-defender.md
Labels: mdm
