Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-09, with the labels that each got.

#8158 Github-PUA-update-to-policyCSPdefender-4254702
  windows/client-management/mdm/policy-csp-defender.md
Labels: Microsoft submitter, mdm

#8153 Update enroll-a-windows-10-device-automatically-using-group-policy.md
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#8196 Update required-windows-diagnostic-data-events-and-fields-2004.md
  windows/privacy/required-windows-diagnostic-data-events-and-fields-2004.md
Labels: Microsoft submitter

#8063 Update update-compliance-feature-update-status.md
  windows/deployment/update/update-compliance-feature-update-status.md
Labels: deployment

#8206 create UC_workspace_safeguard_queries.png
  windows/deployment/update/images/UC_workspace_safeguard_queries.png
Labels: Microsoft submitter

#8207 Add missing endpoints
  windows/privacy/manage-windows-1903-endpoints.md
Labels: Microsoft submitter, privacy

#8208 Update Windows 10 Family missing endpoints
  windows/privacy/windows-endpoints-1903-non-enterprise-editions.md
Labels: Microsoft submitter, privacy

#8210 Update required-windows-diagnostic-data-events-and-fields-2004.md
  windows/privacy/required-windows-diagnostic-data-events-and-fields-2004.md
Labels: Microsoft submitter

#8202 replaced mmd to mdm
  windows/security/threat-protection/microsoft-defender-atp/enable-network-protection.md
Labels: microsoft defender atp

#8197 replaced word TCM to TPM
  windows/security/information-protection/bitlocker/troubleshoot-bitlocker.md
Labels: bitlocker

#8190 Update configure-network-connections-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-network-connections-microsoft-defender-antivirus.md
Labels: Microsoft submitter, microsoft defender antivirus

#8198 Update service-status.md
  windows/security/threat-protection/microsoft-defender-atp/service-status.md
Labels: Microsoft submitter, microsoft defender atp

#8203 modify steps
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi.md
Labels: microsoft defender atp

#8218 Update RBAC for file downloads
  windows/security/threat-protection/microsoft-defender-atp/user-roles.md
Labels: Microsoft submitter

#8234 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter, microsoft defender antivirus

#8249 Update manual config to include full census sync
  windows/deployment/update/update-compliance-configuration-manual.md
Labels: Microsoft submitter

#8250 Remove product removal blurbs
  windows/deployment/update/update-compliance-monitor.md
Labels: Microsoft submitter

#7077 add missing URLs
  windows/deployment/update/windows-update-troubleshooting.md
Labels: deployment

#8174 changed wording a little
  windows/security/identity-protection/hello-for-business/hello-feature-dual-enrollment.md
Labels: hello-for-business

#8180 updated the steps for WHfB
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base.md
  windows/security/identity-protection/hello-for-business/images/aadj/MEM.png
Labels: hello-for-business

#8137 clarified which ISO need to be mounted
  windows/security/identity-protection/hello-for-business/hello-cert-trust-validate-ad-prereq.md
Labels: hello-for-business

#8136 fixed the messed policies
  windows/privacy/changes-to-windows-diagnostic-data-collection.md
Labels: privacy

#8143 Not need beta URLs for Intune
  windows/security/identity-protection/hello-for-business/hello-faq.md
Labels: Microsoft submitter, hello-for-business

#8111 Documenting MBSA issue with latest cab file
  windows/security/threat-protection/mbsa-removal-and-guidance.md
Labels: Microsoft submitter, threat-protection

#8116 Update bitlocker-basic-deployment.md
  windows/security/information-protection/bitlocker/bitlocker-basic-deployment.md
Labels: bitlocker

#8115 Update bitlocker-recovery-guide-plan.md
  windows/security/information-protection/bitlocker/bitlocker-recovery-guide-plan.md
Labels: information protection

#8113 Update bitlocker-how-to-enable-network-unlock.md
  windows/security/information-protection/bitlocker/bitlocker-how-to-enable-network-unlock.md
Labels: information protection

#8114 Update bitlocker-group-policy-settings.md
  windows/security/information-protection/bitlocker/bitlocker-group-policy-settings.md
Labels: bitlocker, information protection

#8170 Update hello-hybrid-cert-whfb-settings-adfs.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-adfs.md
Labels: hello-for-business

#8120 Windows/Troubleshooting: Link URL & format update
  windows/client-management/windows-10-support-solutions.md
Labels: client management

#8130 Update troubleshoot-bitlocker.md : Correct Event Source names
  windows/security/information-protection/bitlocker/troubleshoot-bitlocker.md
Labels: bitlocker

#8230 Update AppLocker CSP warning
  windows/client-management/mdm/applocker-csp.md
Labels: Microsoft submitter, mdm

#8260 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter, microsoft defender antivirus

#8274 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#8267 Update SCCM to MEMCM
  windows/client-management/mdm/applicationcontrol-csp.md
Labels: Microsoft submitter

#8261 Removed paragraph about Autopilot self-deploying mode
  windows/whats-new/ltsc/whats-new-windows-10-2019.md
Labels: Microsoft submitter

#8245 Update indicator-certificates.md
  windows/security/threat-protection/microsoft-defender-atp/indicator-certificates.md
Labels: Microsoft submitter

#8244 Update indicator-file.md
  windows/security/threat-protection/microsoft-defender-atp/indicator-file.md
Labels: Microsoft submitter

#8240 Update values for activity history regkeys
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter

#8236 Updated the Domain Controller requirements:
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base.md
Labels: Microsoft submitter

#8235 Update md-app-guard-overview.md
  windows/security/threat-protection/microsoft-defender-application-guard/md-app-guard-overview.md
Labels: Microsoft submitter

#8217 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter, security compliance toolkit

#8189 Suajose Event 4698 - Event new properties
  windows/security/threat-protection/auditing/event-4698.md
  windows/security/threat-protection/auditing/event-4699.md
  windows/security/threat-protection/auditing/event-4700.md
  windows/security/threat-protection/auditing/event-4701.md
  windows/security/threat-protection/auditing/event-4702.md
Labels: Microsoft submitter, auditing

#8139 Update troubleshoot-bitlocker.md
  windows/security/information-protection/bitlocker/troubleshoot-bitlocker.md
Labels: Microsoft submitter, bitlocker, information protection

#8276 Update new-policies-for-windows-10.md
  windows/client-management/new-policies-for-windows-10.md
Labels: Microsoft submitter

#8247 replaced 6048000 to 604800
  windows/deployment/update/waas-delivery-optimization-setup.md
Labels: deployment

#8195 replaced two links
  windows/security/information-protection/secure-the-windows-10-boot-process.md
Labels: information protection

#8277 Update waas-delivery-optimization-reference.md
  windows/deployment/update/waas-delivery-optimization-reference.md
Labels: Microsoft submitter, deployment

#8117 add note about unreachable machines on the network
  windows/security/information-protection/bitlocker/bitlocker-how-to-enable-network-unlock.md
Labels: bitlocker, information protection

#8262 Update windows-10-poc-sc-config-mgr.md
  windows/deployment/windows-10-poc-sc-config-mgr.md
Labels: deployment

#8226 Added fix for TCP fragmentation issue
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: microsoft defender application guard

#8270 Update appguard-gp-turn-on.png
  windows/security/threat-protection/microsoft-defender-application-guard/images/appguard-gp-turn-on.png
Labels: microsoft defender application guard

#8271 Update test-scenarios-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/test-scenarios-md-app-guard.md
Labels: threat-protection

#8220 Update StackPivot compatibility considerations
  windows/security/threat-protection/microsoft-defender-atp/exploit-protection-reference.md
Labels: microsoft defender atp

#8140 removed incorrect information
  windows/security/threat-protection/auditing/advanced-security-audit-policy-settings.md
Labels: threat-protection

#8224 Added missing final steps
  windows/security/threat-protection/microsoft-defender-atp/mac-sysext-policies.md
Labels: microsoft defender atp

#8127 Update WDAC hunting query
  windows/security/threat-protection/windows-defender-application-control/querying-application-control-events-centrally-using-advanced-hunting.md
Labels: microsoft defender application control

#8290 Update value for DODownloadMode(99)
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services-using-MDM.md
Labels: Microsoft submitter

#8281 Update waas-delivery-optimization-setup.md
  windows/deployment/update/waas-delivery-optimization-setup.md
Labels: deployment

#8283 Added note about ranges
  windows/security/threat-protection/microsoft-defender-atp/indicator-ip-domain.md
Labels: microsoft defender atp

#8181 removed requirements for enterprise edition
  windows/security/identity-protection/credential-guard/credential-guard-requirements.md
Labels: microsoft defender credential guard

#8058 note about security principal quota
  windows/security/identity-protection/hello-for-business/hello-cert-trust-adfs.md
Labels: hello-for-business

#8275 Update hello-planning-guide.md
  windows/security/identity-protection/hello-for-business/hello-planning-guide.md
Labels: identity protection

#8199 added note about PDC emulator
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-dir-sync.md
Labels: hello-for-business

#8291 Fix bold marking
  windows/deployment/update/waas-wufb-group-policy.md
Labels: deployment

#8300 update name
  windows/security/threat-protection/microsoft-defender-antivirus/manage-event-based-updates-microsoft-defender-antivirus.md
Labels: threat-protection

#8305 Delete BitLocker CSP from Surface HUB list.
  windows/client-management/mdm/configuration-service-provider-reference.md
Labels: Microsoft submitter

#8303 Update network-security-allow-pku2u-authentication-requests-to-this-c…
  windows/security/threat-protection/security-policy-settings/network-security-allow-pku2u-authentication-requests-to-this-computer-to-use-online-identities.md
Labels: Microsoft submitter, policy settings, threat-protection

#8308 Update configuration-service-provider-reference.md
  windows/client-management/mdm/configuration-service-provider-reference.md
Labels: Microsoft submitter

#8286 MDATP for Android General Availability Sep 2020
  windows/security/threat-protection/microsoft-defender-atp/whats-new-in-microsoft-defender-atp.md
Labels: Microsoft submitter, microsoft defender atp

#8287 MDATP Android GA: Remove Public Preview Note
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-android.md
Labels: Microsoft submitter, threat-protection

#8323 Update respond-machine-alerts.md
  windows/security/threat-protection/microsoft-defender-atp/respond-machine-alerts.md
Labels: Microsoft submitter

#8325 add detailed info regarding permissions
  windows/security/threat-protection/microsoft-defender-atp/enable-siem-integration.md
Labels: microsoft defender atp

#8312 added info about submission
  windows/security/threat-protection/microsoft-defender-atp/get-started-partner-integration.md
Labels: threat-protection

#8296 Minor change: Add max policy limit to multi policy docs
  windows/security/threat-protection/windows-defender-application-control/deploy-multiple-windows-defender-application-control-policies.md
Labels: Microsoft submitter, microsoft defender application control

#8253 Update connect-to-remote-aadj-pc.md
  windows/client-management/connect-to-remote-aadj-pc.md
Labels: Microsoft submitter, client management

#8337 Update update-baseline.md
  windows/deployment/update/update-baseline.md
Labels: Microsoft submitter

#8345 Update policy-csp-system.md
  windows/client-management/mdm/policy-csp-system.md
Labels: Microsoft submitter

#8348 Updating MSA warning documentation
  windows/client-management/mdm/policy-csp-update.md
  windows/deployment/update/windows-update-troubleshooting.md
Labels: Microsoft submitter

#8333 edits for linux exclusions
  windows/security/threat-protection/microsoft-defender-atp/linux-exclusions.md
Labels: Microsoft submitter, microsoft defender atp

#8343 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#8362 Event Forwarding: 1 word typo removal
  windows/security/threat-protection/use-windows-event-forwarding-to-assist-in-intrusion-detection.md
Labels: threat-protection

#8315 DLP depends on RTP
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter, microsoft defender antivirus

#8313 removed Intune
  windows/security/threat-protection/microsoft-defender-antivirus/review-scan-results-microsoft-defender-antivirus.md
Labels: threat-protection

#8367 update naming
  windows/security/threat-protection/microsoft-defender-smartscreen/microsoft-defender-smartscreen-available-settings.md
Labels: mdm

#8364 updated description to match GET request
  windows/security/threat-protection/microsoft-defender-atp/exposed-apis-odata-samples.md
Labels: microsoft defender atp

#8365 update wording
  windows/security/information-protection/windows-information-protection/protect-enterprise-data-using-wip.md
Labels: information protection

#8355 removed broken link. added correct link
  windows/deployment/update/waas-overview.md
Labels: deployment

#8380 Update waas-servicing-channels-windows-10-updates.md
  windows/deployment/update/waas-servicing-channels-windows-10-updates.md
Labels: Microsoft submitter

#8350 Update Feature Updates release time
  windows/deployment/update/get-started-updates-channels-tools.md
Labels: deployment

#8381 Update policy-csp-update.md
  windows/client-management/mdm/policy-csp-update.md
Labels: Microsoft submitter

#8366 add newer windows versions (client and server)
  windows/security/threat-protection/windows-firewall/windows-firewall-with-advanced-security-design-guide.md
Labels: windows firewall

#8360 clarified the possibility to change the configuration
  windows/security/threat-protection/microsoft-defender-atp/mac-preferences.md
Labels: microsoft defender atp

#8384 Update web-content-filtering.md
  windows/security/threat-protection/microsoft-defender-atp/web-content-filtering.md
Labels: Microsoft submitter

#8371 Update update-compliance-configuration-manual.md
  windows/deployment/update/update-compliance-configuration-manual.md
Labels: deployment

#8329 added missing comma
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#8288 added details about adding anonymous to everyone
  windows/security/identity-protection/access-control/special-identities.md
Labels: identity protection
