Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-10, with the labels that each got.

#8391 LastScan vs TimeGenerated note
  windows/deployment/update/update-compliance-schema.md
Labels: Microsoft submitter

#8390 UC config script note, doesn't configure DO
  windows/deployment/update/update-compliance-configuration-script.md
Labels: Microsoft submitter

#8393 Update use-group-policy-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/use-group-policy-microsoft-defender-antivirus.md
Labels: Microsoft submitter, microsoft defender antivirus

#8349 removed link to non-existing article
  windows/whats-new/whats-new-windows-10-version-1909.md
Labels: what's new

#8335 Update activate-using-key-management-service-vamt.md
  windows/deployment/volume-activation/activate-using-key-management-service-vamt.md
Labels: deployment

#8334 Update introduction-vamt.md
  windows/deployment/volume-activation/introduction-vamt.md
Labels: deployment

#8375 Update "member name" description
  windows/client-management/mdm/policy-csp-restrictedgroups.md
Labels: mdm

#8399 Update policy-csp-update.md
  windows/client-management/mdm/policy-csp-update.md
Labels: Microsoft submitter

#8392 Clarity on TimeGenerated, snapshot ingestion
  windows/deployment/update/update-compliance-using.md
Labels: Microsoft submitter, deployment

#8404 Fix registry path to DoNotConnectToWindowsUpdateInternetLocations
  windows/deployment/update/waas-manage-updates-wsus.md
Labels: deployment, update

#8405 clarifying behavior on network shares
  windows/security/threat-protection/microsoft-defender-antivirus/configure-advanced-scan-types-microsoft-defender-antivirus.md
Labels: Microsoft submitter, microsoft defender antivirus

#8401 Update prevent-end-user-interaction-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/prevent-end-user-interaction-microsoft-defender-antivirus.md
Labels: Microsoft submitter, threat-protection

#8341 clarified service account type
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-settings-dir-sync.md
Labels: hello-for-business

#8327 Update note about CA root requirements
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-pki.md
Labels: hello-for-business

#8278 Windows/Client Management: Note blob format typo correction
  windows/client-management/troubleshoot-tcpip-netmon.md
Labels: client management

#8369 Update account-lockout-threshold.md
  windows/security/threat-protection/security-policy-settings/account-lockout-threshold.md
Labels: policy settings, threat-protection

#8141 changed the order of bash commands
  windows/security/threat-protection/microsoft-defender-atp/linux-install-manually.md
Labels: microsoft defender atp

#8135 added licensing requirements
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-mac.md
Labels: microsoft defender atp

#8293 reworded note
  windows/security/identity-protection/vpn/vpn-conditional-access.md
Labels: identity protection

#8386 Link Update
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#8388 Add spclient.wg.spotify.com
  windows/privacy/windows-endpoints-1909-non-enterprise-editions.md
Labels: Microsoft submitter, privacy

#8372 fixed missing text
  windows/security/threat-protection/security-policy-settings/minimum-password-length.md
Labels: policy settings, threat-protection

#8356 added update links of 1903 , 1909 and 2004
  windows/client-management/troubleshoot-stop-errors.md
Labels: client management

#8424 Boolean value that indicates compliance with the enterprise encryptio…
  windows/client-management/mdm/devicestatus-csp.md
Labels: Microsoft submitter

#8411 Update tvm-software-inventory.md
  windows/security/threat-protection/microsoft-defender-atp/tvm-software-inventory.md
Labels: Microsoft submitter, microsoft defender atp

#8413 update networkservice table
  windows/deployment/update/delivery-optimization-proxy.md
Labels: Microsoft submitter, deployment

#8412 Add link to Proxy document
  windows/deployment/update/waas-delivery-optimization.md
Labels: Microsoft submitter, deployment

#8430 Update surfacehub-csp.md
  windows/client-management/mdm/surfacehub-csp.md
Labels: Microsoft submitter, mdm

#8455 Update hello-faq.md
  windows/security/identity-protection/hello-for-business/hello-faq.md
Labels: Microsoft submitter

#8448 Add cs.dds.microsoft.com
  windows/privacy/windows-endpoints-1909-non-enterprise-editions.md
Labels: Microsoft submitter

#8420 Update azure-active-directory-integration-with-mdm.md
  windows/client-management/mdm/azure-active-directory-integration-with-mdm.md
Labels: Microsoft submitter, mdm

#8318 added more details to the instruction
  windows/security/threat-protection/microsoft-defender-atp/mac-sysext-policies.md
Labels: microsoft defender atp

#8352 update apps for 2004
  windows/application-management/apps-in-windows-10.md
Labels: application management

#8415 add info about Microsoft To Do
  windows/security/information-protection/windows-information-protection/enlightened-microsoft-apps-and-wip.md
Labels: information protection

#8407 Obsolete info
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#8314 Minor Changes
  windows/client-management/connect-to-remote-aadj-pc.md
Labels: client management

#8319 update description for 0xC000006E
  windows/security/threat-protection/auditing/event-4625.md
Labels: auditing

#8342 Script improvements
  windows/deployment/update/media-dynamic-update.md
Labels: deployment

#8484 added simplifying deployment of SSU link
  windows/deployment/update/servicing-stack-updates.md
Labels: deployment

#8475 removed broken link added new correct link
  windows/security/threat-protection/index.md
Labels: threat-protection

#8464 Update policy-csp-controlpolicyconflict.md
  windows/client-management/mdm/policy-csp-controlpolicyconflict.md
Labels: Microsoft submitter, client management, mdm

#8492 Correction in Syntax
  windows/client-management/mdm/firewall-csp.md
Labels: client management

#8456 renamed LTSB to LTSC
  windows/deployment/update/waas-servicing-strategy-windows-10-updates.md
Labels: deployment

#8500 Note Removed
  windows/security/threat-protection/microsoft-defender-atp/event-error-codes.md
Labels: microsoft defender atp, threat-protection

#8462 BitLocker recovery guide: format & spacing edits
  windows/security/information-protection/bitlocker/bitlocker-recovery-guide-plan.md
Labels: bitlocker, information protection

#8465 added intelligence to the sentence
  windows/security/threat-protection/microsoft-defender-antivirus/manage-protection-update-schedule-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus

#8470 Update hello-hybrid-cert-whfb-settings-pki.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-pki.md
Labels: identity protection

#8476 removed wrong values added correct values
  windows/client-management/mdm/policy-csp-update.md
Labels: client management

#8459 Syntax update
  windows/security/threat-protection/microsoft-defender-antivirus/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: microsoft defender antivirus, threat-protection

#8482 Added Server 2019
  windows/security/threat-protection/windows-firewall/windows-firewall-with-advanced-security.md
Labels: threat-protection

#8466 Update exploit-protection.md
  windows/security/threat-protection/microsoft-defender-atp/exploit-protection.md
Labels: microsoft defender atp

#8477 Addition of release version
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: threat-protection

#8483 Published recommended driver block rules from HVCI/10S blocklist
  windows/security/threat-protection/windows-defender-application-control/TOC.md
  windows/security/threat-protection/windows-defender-application-control/microsoft-recommended-driver-block-rules.md
Labels: Microsoft submitter, threat-protection

#8516 removed broken link added correct link
  windows/security/threat-protection/microsoft-defender-application-guard/install-md-app-guard.md
Labels: microsoft defender application guard

#8377 update info about cortana policy
  education/windows/windows-editions-for-education-customers.md
Labels: education

#8326 Updating logon event
  windows/security/threat-protection/auditing/basic-audit-logon-events.md
Labels: auditing

#8443 edited warning
  windows/security/identity-protection/user-account-control/how-user-account-control-works.md
Labels: identity protection

#8435 Credential Guard: Enterprise & Education SKU
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
Labels: identity protection

#8436 Update credential-guard-requirements.md
  windows/security/identity-protection/credential-guard/credential-guard-requirements.md
Labels: identity protection

#8426 Update kernel-dma-protection-for-thunderbolt.md
  windows/security/information-protection/kernel-dma-protection-for-thunderbolt.md
Labels: Microsoft submitter, information protection

#8450 Addition of information in Note
  windows/security/identity-protection/remote-credential-guard.md
Labels: identity protection

#8486 Manage Windows 10/Intune: MS Intune URLs updated
  windows/client-management/manage-windows-10-in-your-organization-modern-management.md
Labels: client management

#8498 Specify Expected Behavior for Username/Password Setting
  windows/client-management/mdm/accounts-csp.md
Labels: client management

#8373 add info about synchronized identities
  windows/security/identity-protection/hello-for-business/hello-faq.md
Labels: hello-for-business

#8545 Remove Windows Sandbox policies for 20h2
  windows/client-management/mdm/new-in-windows-mdm-enrollment-management.md
  windows/client-management/mdm/policy-csp-windowssandbox.md
Labels: Microsoft submitter

#8524 Update configure-siem.md
  windows/security/threat-protection/microsoft-defender-atp/configure-siem.md
Labels: Microsoft submitter, microsoft defender atp

#8549 Minor fixes based on feedback
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-ios-privacy-information.md
Labels: Microsoft submitter

#8550 Update configure-server-exclusions-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-server-exclusions-microsoft-defender-antivirus.md
Labels: Microsoft submitter, microsoft defender antivirus

#8552 Update respond-machine-alerts.md
  windows/security/threat-protection/microsoft-defender-atp/respond-machine-alerts.md
Labels: Microsoft submitter, microsoft defender atp

#8554 Adding info about ConfigMgr Agent
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: Microsoft submitter

#8536 Update find-machines-by-ip.md
  windows/security/threat-protection/microsoft-defender-atp/find-machines-by-ip.md
Labels: Microsoft submitter, microsoft defender atp

#8520 Update windowsdefenderapplicationguard-csp.md
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: Microsoft submitter, mdm

#8499 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter, client management

#8501 Updating to add the most recent certifications
  windows/security/threat-protection/fips-140-validation.md
Labels: Microsoft submitter, security, threat-protection

#8539 Update to include the 2004 'Direction' value
  windows/client-management/mdm/vpnv2-csp.md
Labels: Microsoft submitter, mdm

#8540 Includes the body of the updated Windows, version 2004 DDF file
  windows/client-management/mdm/vpnv2-ddf-file.md
Labels: mdm

#8528 remove policy
  windows/client-management/mdm/policies-in-policy-csp-supported-by-hololens2.md
Labels: mdm

#8529 update wording
  windows/security/threat-protection/microsoft-defender-atp/enable-network-protection.md
Labels: microsoft defender atp
