Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2020-11, with the labels that each got.

#8563 Update commercial-gov.md
  windows/security/threat-protection/microsoft-defender-atp/commercial-gov.md
Labels: Microsoft submitter

#8572 Update machine.md
  windows/security/threat-protection/microsoft-defender-atp/machine.md
Labels: Microsoft submitter

#8571 Update bitlocker-recovery-loop-break.md
  windows/security/information-protection/bitlocker/bitlocker-recovery-loop-break.md
Labels: Microsoft submitter, bitlocker

#8570 Update windows-sandbox-configure-using-wsb-file.md
  windows/security/threat-protection/windows-sandbox/windows-sandbox-configure-using-wsb-file.md
Labels: Microsoft submitter, threat-protection

#8569 localizationpriority metada was messed up
  windows/deployment/update/wufb-basics.md
Labels: Microsoft submitter, deployment

#8512 Incorrect WMI property names
  windows/security/threat-protection/microsoft-defender-antivirus/scheduled-catch-up-scans-microsoft-defender-antivirus.md
Labels: Microsoft submitter, in progress, microsoft defender antivirus

#8584 Policy CSP/Update: place important blob below list
  windows/client-management/mdm/policy-csp-update.md
Labels: mdm

#8396 removed note section
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-provision.md
Labels: hello-for-business

#8507 Updated login user example
  windows/client-management/connect-to-remote-aadj-pc.md
Labels: client management

#8518 remove outdated information
  windows/security/threat-protection/microsoft-defender-atp/endpoint-detection-response-mac-preview.md
Labels: microsoft defender atp

#8517 removed unnecessary step
  windows/security/threat-protection/microsoft-defender-atp/mac-jamfpro-policies.md
Labels: microsoft defender atp

#8561 changed the link
  windows/security/identity-protection/vpn/vpn-profile-options.md
Labels: identity protection

#8588 Update new-in-windows-mdm-enrollment-management.md -
  windows/client-management/mdm/new-in-windows-mdm-enrollment-management.md
Labels: Microsoft submitter

#8566 Update waas-delivery-optimization-reference.md
  windows/deployment/update/waas-delivery-optimization-reference.md
Labels: Microsoft submitter, deployment

#8591 Update controlled-folders.md
  windows/security/threat-protection/microsoft-defender-atp/controlled-folders.md
Labels: Microsoft submitter, microsoft defender atp

#8592 added Windows IT Pro Blog
  windows/deployment/update/windows-update-overview.md
Labels: deployment

#8607 CI_124865_Update delete-an-applocker-rule.md
  windows/security/threat-protection/windows-defender-application-control/applocker/delete-an-applocker-rule.md
Labels: Microsoft submitter, microsoft defender application control

#8604 removed outdated link
  windows/security/information-protection/secure-the-windows-10-boot-process.md
Labels: information protection

#8601 Update vpnv2-csp.md to fix minor type (Inbound was missing the I)
  windows/client-management/mdm/vpnv2-csp.md
Labels: Microsoft submitter, mdm

#8626 Update surfacehub-csp.md
  windows/client-management/mdm/surfacehub-csp.md
Labels: Microsoft submitter, mdm

#8612 Update vpnv2-csp.md with VPN proxy settings configuration limitation
  windows/client-management/mdm/vpnv2-csp.md
Labels: Microsoft submitter, mdm

#8322 added important note
  windows/client-management/mdm/policy-csp-servicecontrolmanager.md
Labels: mdm

#8623 Fix broken link
  windows/security/information-protection/bitlocker/bitlocker-overview.md
Labels: bitlocker

#8633 Update configure-server-endpoints.md
  windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints.md
Labels: Microsoft submitter

#8615 Item is missing from proxy/firewall requirements
  windows/security/threat-protection/microsoft-defender-atp/configure-proxy-internet.md
Labels: Microsoft submitter, microsoft defender for endpoint

#8596 Update enable-exploit-protection.md
  windows/security/threat-protection/microsoft-defender-atp/enable-exploit-protection.md
Labels: Microsoft submitter, microsoft defender exploit guard

#8628 CI_125045_Update_credential-guard-manage.md
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
Labels: Microsoft submitter, microsoft defender credential guard

#8497 Added mfc40.dll to recommended block list
  windows/security/threat-protection/windows-defender-application-control/microsoft-recommended-block-rules.md
Labels: Microsoft submitter, microsoft defender application control

#8598 Instructional updates
  windows/security/threat-protection/microsoft-defender-atp/exposed-apis-create-app-nativeapp.md
Labels: microsoft defender for endpoint

#8599 Update use-windows-defender-application-control-policy-to-control-spe…
  windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-policy-to-control-specific-plug-ins-add-ins-and-modules.md
Labels: microsoft defender application control

#8533 removed REG_SZ added REG_DWORD
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: privacy

#8647 Typos and corrections
  windows/security/threat-protection/microsoft-defender-atp/non-windows.md
Labels: Microsoft submitter, microsoft defender for endpoint

#8643 Changes for GA - iOS Overview
  windows/security/threat-protection/microsoft-defender-atp/ios-configure-features.md
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-ios.md
Labels: Microsoft submitter, microsoft defender for endpoint

#8644 Update get-machine-log-on-users.md
  windows/security/threat-protection/microsoft-defender-atp/get-machine-log-on-users.md
Labels: Microsoft submitter, microsoft defender for endpoint

#8641 Windows Sandbox configuration: Organization
  windows/security/threat-protection/windows-sandbox/windows-sandbox-configure-using-wsb-file.md
Labels: threat-protection

#8636 Updated Intune links
  windows/security/identity-protection/vpn/vpn-guide.md
Labels: Microsoft submitter, VPN

#8650 CI_125045_update credential-guard-manage.md
  windows/security/identity-protection/credential-guard/images/credguard-msinfo32.png
Labels: Microsoft submitter

#8653 Update configure-server-endpoints.md
  windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints.md
Labels: Microsoft submitter

#8648 Update bitlocker-overview.md
  windows/security/information-protection/bitlocker/bitlocker-overview.md
Labels: Microsoft submitter, bitlocker

#8638 Updating Intune screenshots
  windows/security/identity-protection/vpn/images/vpn-connection-intune.png
  windows/security/identity-protection/vpn/images/vpn-custom-xml-intune.png
  windows/security/identity-protection/vpn/vpn-connection-type.md
Labels: Microsoft submitter, VPN

#8611 Update vpn-profile-options.md
  windows/security/identity-protection/vpn/vpn-profile-options.md
Labels: Microsoft submitter, VPN

#8495 Corrected grammar and misleading information
  windows/security/identity-protection/access-control/active-directory-security-groups.md
Labels: identity protection

#8610 Update vpn-conditional-access.md
  windows/security/identity-protection/vpn/vpn-conditional-access.md
Labels: Microsoft submitter, VPN

#8651 Adding more examples and Intune reporting bug
  windows/client-management/mdm/policy-csp-userrights.md
Labels: Microsoft submitter

#8560 added info about symlink
  windows/security/threat-protection/microsoft-defender-atp/linux-support-install.md
Labels: microsoft defender for endpoint

#8522 update note section
  windows/security/identity-protection/hello-for-business/hello-cert-trust-adfs.md
Labels: hello-for-business

#8590 OCSP as alternative to CDP
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-prereqs.md
Labels: hello-for-business

#8595 Update hello-hybrid-cert-trust-devreg.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-trust-devreg.md
Labels: hello-for-business

#8640 removed invalid link and added correct link
  windows/client-management/troubleshoot-windows-freeze.md
Labels: client management

#8663 Sentence correction
  windows/security/identity-protection/hello-for-business/hello-faq.md
Labels: Microsoft submitter

#8605 Update info about device credentials
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#8679 CI_123512_update_network-protection.md
  windows/security/threat-protection/microsoft-defender-atp/network-protection.md
Labels: Microsoft submitter

#8594 remodified the sentence
  windows/security/identity-protection/hello-for-business/hello-key-trust-policy-settings.md
Labels: hello-for-business

#8702 Update raw-data-export-storage.md
  windows/security/threat-protection/microsoft-defender-atp/raw-data-export-storage.md
Labels: Microsoft submitter

#8700 Add DISM command- Task 4610206
  windows/security/threat-protection/microsoft-defender-atp/symantec-to-microsoft-defender-atp-setup.md
Labels: Microsoft submitter, do not merge, question

#8714 Update indicator-certificates.md
  windows/security/threat-protection/microsoft-defender-atp/indicator-certificates.md
Labels: Microsoft submitter, microsoft defender for endpoint

#8719 Adding Compliance Policy config for jailbreak scenario
  windows/security/threat-protection/microsoft-defender-atp/images/ios-jb-actions.png
  windows/security/threat-protection/microsoft-defender-atp/images/ios-jb-policy.png
  windows/security/threat-protection/microsoft-defender-atp/images/ios-jb-settings.png
  windows/security/threat-protection/microsoft-defender-atp/ios-configure-features.md
Labels: Microsoft submitter, microsoft defender for endpoint
