Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-11, with the labels that each got.

#10060 Update the Windows Sandbox Architecture page
  windows/security/threat-protection/windows-sandbox/windows-sandbox-architecture.md
Labels: threat-protection

#10058 Update windowsdefenderapplicationguard-csp.md
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: application guard

#10093 Update update-compliance-schema-waasdeploymentstatus.md
  windows/deployment/update/update-compliance-schema-waasdeploymentstatus.md
Labels: Microsoft submitter

#10079 Update deploy-wdac-policies-with-script.md
  windows/security/threat-protection/windows-defender-application-control/deployment/deploy-wdac-policies-with-script.md
Labels: application control

#10108 Update policy-csp-experience.md in regards to Chat icon policy
  windows/client-management/mdm/policy-csp-experience.md
Labels: Microsoft submitter

#10148 Update policy-csp-userrights.md
  windows/client-management/mdm/policy-csp-userrights.md
Labels: client management, Microsoft submitter

#10086 update info
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base.md
Labels: hello-for-business

#10163 removed reference to non-existent step
  windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity.md
Labels: defender for endpoint

#10155 Update firewall-csp.md
  windows/client-management/mdm/firewall-csp.md
Labels: mdm, Microsoft submitter
