Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-03, with the labels that each got.

#9211 update port number
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: application guard

#9154 Updating PS script link after gallery.technet removal
  windows/security/threat-protection/mbsa-removal-and-guidance.md
Labels: Microsoft submitter, do not merge, threat-protection

#9233 Update update-compliance-get-started.md
  windows/deployment/update/update-compliance-get-started.md
Labels: Microsoft submitter

#9238 Update diagnose-mdm-failures-in-windows-10.md
  windows/client-management/mdm/diagnose-mdm-failures-in-windows-10.md
Labels: Microsoft submitter

#9225 Adding Whats new for iOS
  windows/security/threat-protection/microsoft-defender-atp/ios-whatsnew.md
Labels: Microsoft submitter, defender for endpoint

#9185 Update api-release-notes.md
  windows/security/threat-protection/microsoft-defender-atp/api-release-notes.md
Labels: threat-protection

#9230 Update user-roles.md
  windows/security/threat-protection/microsoft-defender-atp/user-roles.md
Labels: Microsoft submitter, defender for endpoint

#9197 Update set-up-shared-or-guest-pc.md
  windows/configuration/images/Shared_PC_1.jpg
  windows/configuration/set-up-shared-or-guest-pc.md
Labels: Microsoft submitter, configuration

#9207 Update reference to the portal
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-linux.md
Labels: Microsoft submitter, threat-protection

#9196 updated adobe reader version and made words to bold
  windows/deployment/deploy-windows-mdt/deploy-a-windows-10-image-using-mdt.md
Labels: deployment

#9194 Fix some broken quotes in the SMBLoris section
  windows/whats-new/ltsc/whats-new-windows-10-2019.md
  windows/whats-new/whats-new-windows-10-version-1709.md
Labels: deployment

#9226 Update configure-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/configure-md-app-guard.md
Labels: application guard

#9248 open Cmd as Administrator
  windows/deployment/update/windows-update-resources.md
Labels: deployment

#9246 Addition of Note
  windows/deployment/update/waas-delivery-optimization.md
Labels: deployment

#9249 update link
  windows/security/threat-protection/microsoft-defender-atp/machine-groups.md
Labels: defender for endpoint

#9239 Adding a link to instructions to configure SCEP
  windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints.md
Labels: Microsoft submitter, defender for endpoint

#9206 Update onboard-configure with server versions
  windows/security/threat-protection/microsoft-defender-atp/onboard-configure.md
Labels: Microsoft submitter, defender for endpoint

#9205 ESU callout for Win 7
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
Labels: Microsoft submitter, defender for endpoint

#9273 UnoPackage changes needed for 2C release.
  windows/deployment/update/media-dynamic-update.md
  windows/deployment/update/servicing-stack-updates.md
Labels: Microsoft submitter

#9267 added windows 10 supportt
  windows/security/threat-protection/microsoft-defender-atp/network-protection.md
Labels: defender for endpoint

#9276 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter, antivirus

#9285 Restore ios-whatsnew.md from PR 9225
  windows/security/threat-protection/microsoft-defender-atp/ios-whatsnew.md
Labels: Microsoft submitter

#9284 Cern msfb content updates
  .openpublishing.redirection.json
  store-for-business/TOC.md
  store-for-business/acquire-apps-microsoft-store-for-business.md
  store-for-business/index.md
  store-for-business/microsoft-store-for-business-overview.md
  store-for-business/prerequisites-microsoft-store-for-business.md
  store-for-business/roles-and-permissions-microsoft-store-for-business.md
  store-for-business/sign-up-microsoft-store-for-business-overview.md
  store-for-business/sign-up-microsoft-store-for-business.md
  store-for-business/work-with-partner-microsoft-store-business.md
Labels: Microsoft submitter, Sign off

#9232 corrected command
  windows/security/threat-protection/windows-firewall/create-an-inbound-program-or-service-rule.md
Labels: windows firewall

#9286 typo correction
  windows/security/threat-protection/microsoft-defender-atp/customize-controlled-folders.md
Labels: defender for endpoint

#9214 Update bitlocker-upgrading-faq.md
  windows/security/information-protection/bitlocker/bitlocker-upgrading-faq.md
Labels: Microsoft submitter, bitlocker

#9042 Text Update
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#9178 removed outdated reference
  windows/security/threat-protection/microsoft-defender-smartscreen/microsoft-defender-smartscreen-available-settings.md
Labels: SmartScreen

#9080 minor changes regarding the checkpoints
  windows/deployment/windows-autopilot/demonstrate-deployment-on-vm.md
Labels: deployment

#9240 fix "applies to" section
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-dir-sync.md
Labels: hello-for-business

#9261 added potential impact
  windows/security/threat-protection/security-policy-settings/modify-firmware-environment-values.md
Labels: policy settings, threat-protection

#9272 typo correction and added version 2009
  windows/client-management/mdm/policy-csp-connectivity.md
Labels: mdm

#9146 Added error code info
  windows/security/identity-protection/hello-for-business/hello-errors-during-pin-creation.md
Labels: hello-for-business

#9274 Demoting long note and adding new note about name collision
  windows/client-management/mdm/devdetail-csp.md
Labels: Microsoft submitter, mdm

#9179 Update install-vamt.md
  windows/deployment/volume-activation/install-vamt.md
Labels: deployment

#9308 Updated MacOS support
  windows/security/threat-protection/microsoft-defender-atp/switch-to-microsoft-defender-prepare.md
Labels: defender for endpoint

#9301 Update windowsdefenderapplicationguard-csp.md
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: mdm

#9298 Update safety-scanner-download.md
  windows/security/threat-protection/intelligence/safety-scanner-download.md
Labels: Microsoft submitter, security

#9299 removed broken link added new link
  windows/client-management/mdm/azure-active-directory-integration-with-mdm.md
Labels: mdm

#9280 removed invalid links, added two correct links
  windows/security/threat-protection/microsoft-defender-atp/live-response-command-examples.md
Labels: defender for endpoint

#9255 Update vpn-connection-type.md
  windows/security/identity-protection/vpn/vpn-connection-type.md
Labels: Microsoft submitter, identity protection

#9327 Update windows-10-subscription-activation.md
  windows/deployment/windows-10-subscription-activation.md
Labels: deployment

#9337 Updating second link
  windows/security/threat-protection/mbsa-removal-and-guidance.md
Labels: Microsoft submitter

#9338 added links , added version ,made bold sentences
  windows/security/threat-protection/microsoft-defender-antivirus/command-line-arguments-microsoft-defender-antivirus.md
Labels: antivirus

#9351 Update network-protection.md
  windows/security/threat-protection/microsoft-defender-atp/network-protection.md
Labels: Microsoft submitter

#9352 Update network-protection.md
  windows/security/threat-protection/microsoft-defender-atp/network-protection.md
Labels: Microsoft submitter

#8936 Update in the note section
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-settings-pki.md
Labels: hello-for-business

#9244 Resolve broken links to Insider Preview builds
  windows/whats-new/whats-new-windows-10-version-2004.md
Labels: deployment

#9262 Update mac-jamfpro-policies.md
  windows/security/threat-protection/microsoft-defender-atp/mac-jamfpro-policies.md
Labels: defender for endpoint

#9311 Update CSP tree format to include DownloadServer
  windows/client-management/mdm/euiccs-csp.md
Labels: Microsoft submitter, mdm

#9310 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter, threat-protection

#9303 add note pointing to older article
  windows/security/threat-protection/auditing/audit-file-system.md
Labels: threat-protection

#9217 <Update with how to do> allow-com-object-registration-in-windows-defender-application-…
  windows/security/threat-protection/windows-defender-application-control/allow-com-object-registration-in-windows-defender-application-control-policy.md
Labels: application control

#9324 Make verifier run on next boot only
  windows/security/identity-protection/credential-guard/dg-readiness-tool.md
Labels: credential guard

#9343 made bold sentences, removed disabled
  windows/security/threat-protection/microsoft-defender-atp/mcafee-to-microsoft-defender-setup.md
Labels: assigned-to-author, defender for endpoint, in progress

#9353 Update enable-attack-surface-reduction.md
  windows/security/threat-protection/microsoft-defender-atp/enable-attack-surface-reduction.md
Labels: Microsoft submitter

#8530 add info about Cloud Windows Hello for Business deployment model
  windows/security/identity-protection/hello-for-business/hello-feature-remote-desktop.md
Labels: hello-for-business

#9330 Update windowsdefenderapplicationguard-csp.md
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: application guard

#8939 replaced incorrect term
  windows/deployment/windows-autopilot/demonstrate-deployment-on-vm.md
Labels: deployment

#8967 Update in Note section
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
Labels: credential guard

#9219 Minor Modification in Note Section
  windows/client-management/mdm/policy-csp-controlpolicyconflict.md
Labels: client management

#9210 add note about enabling Sandbox using Powershell
  windows/security/threat-protection/windows-sandbox/windows-sandbox-overview.md
Labels: threat-protection

#9290 Update info about licenses
  windows/deployment/windows-10-subscription-activation.md
Labels: deployment

#9220 Added another cause of boot failure
  windows/client-management/troubleshoot-inaccessible-boot-device.md
Labels: client management

#9218 fixed incorrect information
  windows/security/identity-protection/access-control/active-directory-security-groups.md
Labels: identity protection

#9264 Modification in Note Section
  windows/deployment/windows-10-subscription-activation.md
Labels: deployment

#9275 Update instruction
  windows/client-management/mdm/policy-csp-devicelock.md
Labels: mdm

#9245 Updated the link
  windows/deployment/deploy-enterprise-licenses.md
Labels: deployment

#9289 LTSC update
  windows/whats-new/ltsc/whats-new-windows-10-2019.md
Labels: deployment

#9096 Update resolution-procedures.md
  windows/deployment/upgrade/resolution-procedures.md
Labels: deployment

#9321 Fixing note on NTAuth store
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-settings-pki.md
Labels: Microsoft submitter, hello-for-business

#9372 fixed incorrect markup
  windows/security/threat-protection/microsoft-defender-antivirus/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: antivirus

#9371 Fix invalid file extension
  windows/security/threat-protection/microsoft-defender-antivirus/common-exclusion-mistakes-microsoft-defender-antivirus.md
Labels: antivirus

#9363 removed backward-slash
  windows/client-management/mdm/vpnv2-csp.md
Labels: mdm
