Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-01, with the labels that each got.

#8804 Link update
  windows/security/threat-protection/microsoft-defender-atp/basic-permissions.md
Labels: defender for endpoint

#8866 Added response fields descriptions table
  windows/security/threat-protection/microsoft-defender-atp/get-ip-statistics.md
Labels: Microsoft submitter, defender for endpoint

#8865 Update basic-permissions.md
  windows/security/threat-protection/microsoft-defender-atp/basic-permissions.md
Labels: defender for endpoint

#8787 Update respond-file-alerts.md
  windows/security/threat-protection/microsoft-defender-atp/respond-file-alerts.md
Labels: defender for endpoint

#8915 Fix link typo for language handling in WN for 2004
  windows/whats-new/whats-new-windows-10-version-2004.md
Labels: Microsoft submitter, deployment

#8879 Broken link update
  windows/client-management/mdm/disconnecting-from-mdm-unenrollment.md
Labels: mdm

#8895 update script to support non-english versions of Windows
  windows/security/identity-protection/credential-guard/dg-readiness-tool.md
Labels: credential guard

#8877 Update manage-windows-20H2-endpoints.md
  windows/privacy/manage-windows-20H2-endpoints.md
Labels: privacy

#8899 MarkDown formatting, whitespace consistency, typos
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert.md
Labels: hello-for-business

#8504 Update kms keys link
  windows/deployment/upgrade/windows-10-edition-upgrades.md
Labels: deployment

#8896 Fix typo MTD -> MDT
  windows/deployment/deploy-windows-mdt/prepare-for-windows-deployment-with-mdt.md
Labels: deployment

#8931 added admx templates link for windows 10 20h2
  windows/security/threat-protection/microsoft-defender-antivirus/detect-block-potentially-unwanted-apps-microsoft-defender-antivirus.md
Labels: antivirus

#8930 Update enable-exploit-protection.md
  windows/security/threat-protection/microsoft-defender-atp/enable-exploit-protection.md
Labels: exploit protection

#8933 Update minimum-requirements.md with academic licensing information
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
Labels: defender for endpoint

#8892 Addition of note
  windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction.md
Labels: threat-protection

#8937 Credential Guard: Windows 10 Enterprise required
  windows/security/identity-protection/credential-guard/credential-guard-requirements.md
Labels: identity protection

#8949 Update defender-csp.md
  windows/client-management/mdm/defender-csp.md
Labels: Microsoft submitter

#8948 Removed Lockdown as a setting for VPNv2CSP
  windows/client-management/mdm/vpnv2-csp.md
Labels: Microsoft submitter

#8916 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter, threat-protection

#8944 Updated Applies to text
  windows/security/information-protection/bitlocker/bitlocker-group-policy-settings.md
Labels: Microsoft submitter

#8946 Update diagnostic data level taxonomy
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter

#8955 Update live-response.md
  windows/security/threat-protection/microsoft-defender-atp/live-response.md
Labels: Microsoft submitter, defender for endpoint

#8893 Correction in Syntax and addition of domain
  windows/privacy/windows-endpoints-20H2-non-enterprise-editions.md
Labels: privacy

#8923 Updated the broken link
  windows/whats-new/whats-new-windows-10-version-2004.md
Labels: deployment

#8889 Defined first party browsers
  windows/security/threat-protection/microsoft-defender-atp/indicator-ip-domain.md
Labels: defender for endpoint

#8947 Update bitlocker-deployment-and-administration-faq.yml
  windows/security/information-protection/bitlocker/bitlocker-deployment-and-administration-faq.yml
Labels: Microsoft submitter, bitlocker

#8959 Update data-storage-privacy.md
  windows/security/threat-protection/microsoft-defender-atp/data-storage-privacy.md
Labels: Microsoft submitter

#8954 Update connect-to-remote-aadj-pc.md
  windows/client-management/connect-to-remote-aadj-pc.md
Labels: Microsoft submitter, client management

#8951 Removed lockdown from the schema
  windows/client-management/mdm/vpnv2-profile-xsd.md
Labels: Microsoft submitter, mdm

#8925 mention systemd as a prerequisite
  windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-linux.md
Labels: defender for endpoint

#8909 Added description of results folder and results.xml
  windows/client-management/mdm/diagnosticlog-csp.md
Labels: Microsoft submitter, mdm

#8853 updated-4715491
  windows/security/threat-protection/windows-defender-system-guard/system-guard-how-hardware-based-root-of-trust-helps-protect-windows.md
  windows/security/threat-protection/windows-security-configuration-framework/get-support-for-security-baselines.md
  windows/whats-new/ltsc/whats-new-windows-10-2015.md
  windows/whats-new/ltsc/whats-new-windows-10-2019.md
  windows/whats-new/whats-new-windows-10-version-1507-and-1511.md
  windows/whats-new/whats-new-windows-10-version-1903.md
  windows/whats-new/whats-new-windows-10-version-1909.md
Labels: Microsoft submitter, do not merge

#8852 updated-4715491
  windows/security/threat-protection/microsoft-defender-antivirus/configure-process-opened-file-exclusions-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/deploy-manage-report-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/detect-block-potentially-unwanted-apps-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-event-based-updates-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-outdated-endpoints-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-protection-update-schedule-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-protection-updates-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-offline.md
  windows/security/threat-protection/microsoft-defender-antivirus/report-monitor-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/run-scan-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/specify-cloud-protection-level-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/use-intune-config-manager-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/utilize-microsoft-cloud-protection-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-application-guard/md-app-guard-overview.md
  windows/security/threat-protection/microsoft-defender-atp/Onboard-Windows-10-multi-session-device.md
  windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction.md
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-sccm.md
  windows/security/threat-protection/microsoft-defender-atp/configure-endpoints.md
  windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints.md
  windows/security/threat-protection/microsoft-defender-atp/deployment-phases.md
  windows/security/threat-protection/microsoft-defender-atp/enable-attack-surface-reduction.md
  windows/security/threat-protection/microsoft-defender-atp/evaluate-controlled-folder-access.md
  windows/security/threat-protection/microsoft-defender-atp/manage-atp-post-migration.md
  windows/security/threat-protection/microsoft-defender-atp/management-apis.md
  windows/security/threat-protection/microsoft-defender-atp/minimum-requirements.md
  windows/security/threat-protection/microsoft-defender-atp/onboarding-endpoint-configuration-manager.md
  windows/security/threat-protection/microsoft-defender-atp/troubleshoot-onboarding.md
Labels: Microsoft submitter, do not merge

#8851 updated-4715491
  windows/deployment/planning/windows-10-deprecated-features.md
  windows/deployment/planning/windows-10-enterprise-faq-itpro.md
  windows/deployment/planning/windows-10-infrastructure-requirements.md
  windows/deployment/update/deploy-updates-configmgr.md
  windows/deployment/update/feature-update-mission-critical.md
  windows/deployment/update/index.md
  windows/deployment/update/plan-define-strategy.md
  windows/deployment/update/waas-branchcache.md
  windows/deployment/update/waas-delivery-optimization.md
  windows/deployment/update/waas-manage-updates-wsus.md
  windows/deployment/update/waas-optimize-windows-10-updates.md
  windows/deployment/update/waas-overview.md
  windows/deployment/update/waas-servicing-differences.md
  windows/deployment/update/waas-servicing-strategy-windows-10-updates.md
  windows/deployment/update/wufb-autoupdate.md
  windows/deployment/update/wufb-managedrivers.md
  windows/security/identity-protection/hello-for-business/hello-how-it-works-technology.md
  windows/security/identity-protection/user-account-control/user-account-control-security-policy-settings.md
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-configmgr.md
  windows/security/information-protection/windows-information-protection/overview-create-wip-policy-configmgr.md
  windows/security/information-protection/windows-information-protection/overview-create-wip-policy.md
  windows/security/information-protection/windows-information-protection/protect-enterprise-data-using-wip.md
  windows/security/threat-protection/TOC.md
  windows/security/threat-protection/get-support-for-security-baselines.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-advanced-scan-types-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-extension-file-exclusions-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/configure-notifications-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#8850 updated-4715491
  browsers/internet-explorer/ie11-deploy-guide/ie11-delivery-through-automatic-updates.md
  education/windows/chromebook-migration-guide.md
  education/windows/deploy-windows-10-in-a-school-district.md
  store-for-business/add-unsigned-app-to-code-integrity-policy.md
  windows/application-management/app-v/appv-running-locally-installed-applications-inside-a-virtual-environment.md
  windows/client-management/mdm/appv-deploy-and-config.md
  windows/client-management/mdm/bulk-enrollment-using-windows-provisioning-tool.md
  windows/client-management/mdm/enable-offline-updates-for-windows-embedded-8-1-handheld-devices-to-windows-10.md
  windows/configuration/cortana-at-work/cortana-at-work-o365.md
  windows/configuration/cortana-at-work/cortana-at-work-voice-commands.md
  windows/configuration/provisioning-packages/provisioning-packages.md
  windows/configuration/ue-v/uev-configuring-uev-with-system-center-configuration-manager.md
  windows/configuration/ue-v/uev-deploy-required-features.md
  windows/configuration/ue-v/uev-prepare-for-deployment.md
  windows/deployment/deploy-whats-new.md
  windows/deployment/deploy-windows-cm/create-an-application-to-deploy-with-windows-10-using-configuration-manager.md
  windows/deployment/deploy-windows-cm/deploy-windows-10-using-pxe-and-configuration-manager.md
  windows/deployment/deploy-windows-cm/prepare-for-zero-touch-installation-of-windows-10-with-configuration-manager.md
  windows/deployment/deploy-windows-cm/upgrade-to-windows-10-with-configuraton-manager.md
  windows/deployment/deploy.md
  windows/deployment/mbr-to-gpt.md
  windows/deployment/planning/prepare-your-organization-for-windows-to-go.md
  windows/deployment/windows-10-deployment-posters.md
  windows/deployment/windows-10-deployment-scenarios.md
  windows/deployment/windows-10-poc-sc-config-mgr.md
  windows/deployment/windows-10-poc.md
Labels: Microsoft submitter, do not merge

#8869 Only applies to Enterprise Edition
  windows/security/identity-protection/credential-guard/dg-readiness-tool.md
Labels: credential guard

#8914 Update vpn-conditional-access.md
  windows/security/identity-protection/vpn/vpn-conditional-access.md
Labels: VPN

#8692 updated-per-4650392
  education/windows/deploy-windows-10-in-a-school-district.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-new-install.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-new-install.md
Labels: Microsoft submitter, do not merge

#8965 Update troubleshoot-collect-support-log.md
  windows/security/threat-protection/microsoft-defender-atp/troubleshoot-collect-support-log.md
Labels: Microsoft submitter, defender for endpoint

#8958 Update live-response-command-examples.md
  windows/security/threat-protection/microsoft-defender-atp/live-response-command-examples.md
Labels: defender for endpoint

#8964 Update alerts.md
  windows/security/threat-protection/microsoft-defender-atp/alerts.md
Labels: Microsoft submitter, defender for endpoint

#8991 Minor change
  windows/security/threat-protection/microsoft-defender-atp/ios-privacy.md
Labels: Microsoft submitter, threat-protection

#8979 add information about Endpoint Manager
  windows/security/threat-protection/microsoft-defender-atp/enable-exploit-protection.md
Labels: defender for endpoint

#8973 Update faq-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: Microsoft submitter, threat-protection

#8902 Addition of a right
  windows/security/threat-protection/security-policy-settings/user-rights-assignment.md
Labels: threat-protection

#8901 Procedural Changes
  windows/security/threat-protection/microsoft-defender-atp/mac-jamfpro-policies.md
Labels: threat-protection

#8952 fixed incorrect link
  windows/deployment/volume-activation/use-vamt-in-windows-powershell.md
Labels: deployment

#8953 clarify MFA license requirements
  windows/security/identity-protection/hello-for-business/hello-planning-guide.md
Labels: hello-for-business

#9016 Update create-wip-policy-using-intune-azure.md
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: Microsoft submitter

#9014 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter

#9005 Update waas-delivery-optimization.md
  windows/deployment/update/waas-delivery-optimization.md
Labels: Microsoft submitter, deployment

#8970 Update web-content-filtering.md
  windows/security/threat-protection/microsoft-defender-atp/web-content-filtering.md
Labels: Microsoft submitter, threat-protection

#9021 fix title
  windows/security/threat-protection/microsoft-defender-atp/mac-jamfpro-device-groups.md
Labels: defender for endpoint

#8908 Update filesystem-csp.md
  windows/client-management/mdm/filesystem-csp.md
Labels: mdm

#8950 Update distribute-offline-apps.md
  store-for-business/distribute-offline-apps.md
Labels: store for business

#8997 changed minutes to seconds
  windows/client-management/mdm/policy-csp-devicelock.md
Labels: mdm
