Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-12, with the labels that each got.

#10177 Update change-the-tpm-owner-password.md
  windows/security/information-protection/tpm/change-the-tpm-owner-password.md
Labels: information protection

#10181 Update audit-registry.md
  windows/security/threat-protection/auditing/audit-registry.md
Labels: auditing, Microsoft submitter

#10143 Use modern Event ID in basic-audit-logon-events.md
  windows/security/threat-protection/auditing/basic-audit-logon-events.md
Labels: auditing

#10130 added links with adjustments,
  windows/security/threat-protection/index.md
Labels: threat-protection

#10159 added link
  windows/client-management/determine-appropriate-page-file-size.md
Labels: client management

#10195 corrected sentences
  windows/security/identity-protection/hello-for-business/hello-manage-in-organization.md
Labels: hello-for-business

#10207 add info about Accounts_EnableAdministratorAccountStatus
  windows/client-management/mdm/policy-csp-localpoliciessecurityoptions.md
Labels: client management

#10198 added prefessional , enterprise editions
  windows/security/identity-protection/credential-guard/credential-guard-requirements.md
Labels: identity protection

#10196 Update policy-csp-networklistmanager.md
  windows/client-management/mdm/policy-csp-networklistmanager.md
Labels: client management, Microsoft submitter

#10188 Update audit-registry.md
  windows/security/threat-protection/auditing/audit-registry.md
Labels: auditing

#10117 added windows 11
  windows/security/threat-protection/security-policy-settings/user-rights-assignment.md
Labels: threat-protection

#10104 added windows 11
  windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity.md
Labels: threat-protection

#10204 added path to the tile
  windows/deployment/update/update-compliance-using.md
Labels: deployment

#10229 corrected word
  windows/client-management/mdm/policy-csp-admx-terminalserver.md
Labels: client management

#10228 added correct link
  windows/security/identity.md
Labels: security

#10217 Update security-identifiers.md
  windows/security/identity-protection/access-control/security-identifiers.md
Labels: identity protection

#9973 Update token elevation type values
  windows/security/threat-protection/auditing/event-4688.md
Labels: auditing

#10064 Update update-compliance-using.md
  windows/deployment/update/images/UC_workspace_overview_blade.PNG
  windows/deployment/update/images/uc_workspace_overview_blade.png
  windows/deployment/update/update-compliance-using.md
Labels: deployment

#10116 added windows 11
  windows/security/identity-protection/access-control/local-accounts.md
Labels: identity protection

#10237 Update lock out info
  windows/security/information-protection/tpm/tpm-fundamentals.md
Labels: information protection

#10235 Update credential-guard-requirements.md
  windows/security/identity-protection/credential-guard/credential-guard-requirements.md
Labels: credential guard
