Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-06, with the labels that each got.

#9528 removed link
  windows/security/threat-protection/windows-defender-application-control/applocker/applocker-overview.md
Labels: application control

#9585 removed invalid link added new link
  windows/whats-new/ltsc/whats-new-windows-10-2019.md
Labels: deployment

#9635 Added documentation specifically for configuring MEM (Microsoft Intune)-enrolled devices to Update Compliance
  windows/deployment/TOC.yml
  windows/deployment/update/update-compliance-configuration-manual.md
  windows/deployment/update/update-compliance-configuration-mem.md
  windows/deployment/update/update-compliance-configuration-script.md
  windows/deployment/update/update-compliance-get-started.md
Labels: Microsoft submitter, deployment

#9562 Update network-security-allow-pku2u-authentication-requests-to-this-c…
  windows/security/threat-protection/security-policy-settings/network-security-allow-pku2u-authentication-requests-to-this-computer-to-use-online-identities.md
Labels: Microsoft submitter, policy settings, security

#9532 Add info about UPN matching Azure AD domain name
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-trust-prereqs.md
Labels: hello-for-business

#9583 Update required-windows-diagnostic-data-events-and-fields-2004.md
  windows/privacy/required-windows-diagnostic-data-events-and-fields-2004.md
Labels: privacy

#9642 added may 2021 admx link
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#9644 Kk wdac edits task 31397434
  windows/security/threat-protection/windows-defender-application-control/event-id-explanations.md
Labels: Microsoft submitter

#9580 Task ID 33452921
  windows/security/threat-protection/windows-defender-application-control/event-id-explanations.md
Labels: application control

#9645 Update basic-level-windows-diagnostic-events-and-fields-1903.md
  windows/privacy/basic-level-windows-diagnostic-events-and-fields-1903.md
Labels: Microsoft submitter

#9651 Add link detailing how to find Commercial ID
  windows/deployment/update/update-compliance-configuration-mem.md
Labels: Microsoft submitter

#9652 Update feature-update-maintenance-window.md
  windows/deployment/update/feature-update-maintenance-window.md
Labels: deployment

#9557 Update policy-csp-authentication.md
  windows/client-management/mdm/policy-csp-authentication.md
Labels: Microsoft submitter, mdm

#9661 corrected OMA-URI for Commercial ID
  windows/deployment/update/update-compliance-configuration-mem.md
Labels: Microsoft submitter

#9656 removed link added new link
  windows/deployment/update/feature-update-maintenance-window.md
Labels: deployment

#9658 Update defender-csp.md
  windows/client-management/mdm/defender-csp.md
Labels: Microsoft submitter, mdm

#9409 Device Health Monitoring
  windows/client-management/mdm/policy-csp-devicehealthmonitoring.md
Labels: mdm

#9410 IPv4 is not optional
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#9486 update machine inactivity limit policy
  windows/client-management/mdm/policy-csp-localpoliciessecurityoptions.md
Labels: mdm

#9494 Document ProxyServers property
  windows/client-management/mdm/surfacehub-csp.md
Labels: Microsoft submitter, mdm

#9554 added Allow Update Compliance Processing
  windows/client-management/mdm/policy-csp-system.md
Labels: mdm

#9574 Minor correction to remove the confusion
  windows/client-management/mdm/policy-csp-admx-windowsexplorer.md
Labels: mdm

#9662 Added a section for supplemental policies.
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, application control

#9641 Update in Changing the PIN
  windows/security/identity-protection/virtual-smart-cards/virtual-smart-card-use-virtual-smart-cards.md
Labels: identity protection

#9559 made boot to System/BootStartDriverInitialization
  windows/client-management/mdm/policy-csp-system.md
Labels: mdm

#9667 Update filter-origin-documentation.md
  windows/security/threat-protection/windows-firewall/filter-origin-documentation.md
Labels: Microsoft submitter, windows firewall

#9639 update basic-audit-account-management.md
  windows/security/threat-protection/auditing/basic-audit-account-management.md
Labels: auditing

#9640 Update Proxy servers and Internal proxy servers
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#9646 Added a note to page
  windows/security/threat-protection/windows-defender-application-control/event-id-explanations.md
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, application control

#9676 FAQ Additoin
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: Microsoft submitter, application guard

#9678 Update to deal with production outage issue
  windows/security/threat-protection/security-policy-settings/access-this-computer-from-the-network.md
Labels: Microsoft submitter

#9675 Update media-dynamic-update.md
  windows/deployment/update/media-dynamic-update.md
Labels: Microsoft submitter, deployment

#9687 Fix Defender for Endpoint link
  windows/security/threat-protection/intelligence/fileless-threats.md
Labels: threat-protection

#9686 Update update-baseline.md
  windows/deployment/update/update-baseline.md
Labels: Microsoft submitter, deployment

#9688 Fixed error in documentation for wrong value
  windows/deployment/update/deployment-service-overview.md
Labels: Microsoft submitter, deployment

#9575 Pointing to the correct link
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#9471 addition of note
  windows/security/threat-protection/windows-defender-application-control/event-id-explanations.md
Labels: application control

#9610 removed device word
  windows/client-management/mdm/healthattestation-csp.md
Labels: mdm

#9632 formatted table properly. added cross check marks
  windows/client-management/mdm/configuration-service-provider-reference.md
Labels: mdm

#9654 Added Set Object Security and GPO to Policy Rules
  windows/security/threat-protection/windows-security-configuration-framework/security-compliance-toolkit-10.md
Labels: threat-protection

#9690 What's new 21H1 small edit
  windows/whats-new/whats-new-windows-10-version-21H1.md
Labels: deployment

#9319 Adding all Failure Codes for event 4771 according to RFC 4120
  windows/security/threat-protection/auditing/event-4771.md
Labels: auditing, threat-protection

#9680 Update vpnv2-csp.md
  windows/client-management/mdm/vpnv2-csp.md
Labels: Microsoft submitter, mdm

#9677 Update configuration-service-provider-reference.md
  windows/client-management/mdm/configuration-service-provider-reference.md
Labels: Microsoft submitter, mdm

#9692 Updated error AllowWufbCloudProcessing
  windows/deployment/update/deployment-service-overview.md
Labels: Microsoft submitter

#9684 Kk wdac edits task 27621550
  windows/security/threat-protection/windows-defender-application-control/deploy-multiple-windows-defender-application-control-policies.md
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, application control

#9672 Added CN info to the 2nd note under table 2
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, application control

#9681 Update enroll-a-windows-10-device-automatically-using-group-policy.md
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: Microsoft submitter, mdm

#9695 Update enterprisedesktopappmanagement-csp.md
  windows/client-management/mdm/enterprisedesktopappmanagement-csp.md
Labels: Microsoft submitter

#9698 Update policy-csp-localusersandgroups.md
  windows/client-management/mdm/policy-csp-localusersandgroups.md
Labels: mdm

#9696 Added MEMCM clarification
  windows/security/threat-protection/windows-defender-application-control/deployment/deploy-wdac-policies-with-memcm.md
Labels: Microsoft submitter, application control

#9655 Update audit-other-privilege-use-events.md
  windows/security/threat-protection/auditing/audit-other-privilege-use-events.md
Labels: auditing

#9722 Update windows-11-prepare.md
  windows/whats-new/windows-11-prepare.md
Labels: Microsoft submitter

#9731 Add TPM2.0 recommendation
  windows/security/information-protection/tpm/tpm-recommendations.md
Labels: Microsoft submitter

#9734 Fixed error in Principal Self SID
  windows/security/identity-protection/access-control/special-identities.md
Labels: Microsoft submitter

#9704 Update Event 4627 Page
  windows/security/threat-protection/auditing/event-4627.md
Labels: Microsoft submitter, auditing

#9702 related to issue #9701 changed documentation and screen capture for ConfigureWebSignInAllowedUrls
  windows/security/identity-protection/hello-for-business/hello-feature-pin-reset.md
  windows/security/identity-protection/hello-for-business/images/pinreset/allowlist.png
Labels: Microsoft submitter, hello-for-business

#9713 Kk wdac edits add hta info to select types doc
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
  windows/security/threat-protection/windows-defender-application-control/wdac-wizard-create-base-policy.md
Labels: Microsoft submitter, application control

#9724 removed symbols and pre word.
  windows/deployment/windows-10-subscription-activation.md
Labels: deployment

#9754 Update hello-hybrid-cert-whfb-settings-pki.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-pki.md
Labels: Microsoft submitter

#9756 Added link to CSP as had been done for above CSPs
  windows/deployment/update/update-compliance-configuration-manual.md
Labels: deployment
