Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-05, with the labels that each got.

#9468 added missing description
  windows/client-management/mdm/vpnv2-csp.md
Labels: client management

#9492 add helpful information
  windows/deployment/update/waas-delivery-optimization.md
Labels: deployment

#9489 Update waas-delivery-optimization.md
  windows/deployment/update/waas-delivery-optimization.md
Labels: deployment

#9502 Update
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: Microsoft submitter, application guard

#9498 Updated line 176
  windows/deployment/update/waas-manage-updates-wsus.md
Labels: deployment

#9481 Update in Formatting
  windows/client-management/mdm/device-update-management.md
Labels: mdm

#9441 Update note section
  windows/client-management/mdm/networkqospolicy-csp.md
Labels: mdm

#9478 Policy GUID needs clarity
  windows/security/threat-protection/windows-defender-application-control/deploy-windows-defender-application-control-policies-using-intune.md
Labels: Microsoft submitter, application control

#9508 changes for Allow Update Compliance Processing policy requirement
  windows/deployment/update/update-compliance-configuration-manual.md
  windows/deployment/update/update-compliance-configuration-script.md
  windows/deployment/update/update-compliance-get-started.md
Labels: Microsoft submitter

#9503 Update
  windows/security/threat-protection/microsoft-defender-application-guard/configure-md-app-guard.md
Labels: Microsoft submitter, threat-protection

#9510 Update download link
  windows/application-management/manage-windows-mixed-reality.md
Labels: application management

#9513 Removing reference to registry keys
  windows/deployment/update/update-compliance-configuration-manual.md
Labels: Microsoft submitter

#9519 Updated policy-csp-experience.md with details for new ConfigureChatIc…
  windows/client-management/mdm/policy-csp-experience.md
Labels: Microsoft submitter

#9500 update slash
  windows/client-management/mdm/policy-csp-localusersandgroups.md
Labels: mdm

#9490 added options
  windows/client-management/advanced-troubleshooting-boot-problems.md
Labels: client management

#9487 change data permissions
  windows/deployment/deploy-windows-mdt/use-the-mdt-database-to-stage-windows-10-deployment-information.md
  windows/deployment/images/mdt-09-fig10.png
Labels: deployment

#9531 Note addition to the Countermeasure section
  windows/security/threat-protection/security-policy-settings/deny-access-to-this-computer-from-the-network.md
Labels: policy settings, security

#9527 "Disable WDAC Policies": Cleanup formatting
  windows/security/threat-protection/windows-defender-application-control/disable-windows-defender-application-control-policies.md
Labels: Microsoft submitter, application control

#9520 Update reqs-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/reqs-md-app-guard.md
Labels: Microsoft submitter, application guard

#9538 Update whats-new-windows-10-version-1809.md
  windows/whats-new/whats-new-windows-10-version-1809.md
Labels: Microsoft submitter, deployment

#9542 Update update-compliance-get-started.md
  windows/deployment/update/update-compliance-get-started.md
Labels: Microsoft submitter

#9541 Update update-compliance-privacy.md
  windows/deployment/update/update-compliance-privacy.md
Labels: Microsoft submitter

#9553 Update basic-level-windows-diagnostic-events-and-fields-1903.md
  windows/privacy/basic-level-windows-diagnostic-events-and-fields-1903.md
Labels: Microsoft submitter, privacy, privacy-docs-review

#9563 Update device-guard-signing-portal.md
  store-for-business/device-guard-signing-portal.md
Labels: Microsoft submitter

#9564 Update add-unsigned-app-to-code-integrity-policy.md
  store-for-business/add-unsigned-app-to-code-integrity-policy.md
Labels: Microsoft submitter

#9565 Update sign-code-integrity-policy-with-device-guard-signing.md
  store-for-business/sign-code-integrity-policy-with-device-guard-signing.md
Labels: Microsoft submitter

#9566 Update configure-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/configure-md-app-guard.md
Labels: Microsoft submitter, application guard

#9561 Update manage-connections-from-windows-operating-system-components-to…
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, privacy

#9545 Addition of note
  windows/security/information-protection/bitlocker/ts-bitlocker-decode-measured-boot-logs.md
Labels: bitlocker

#9526 updated reference to IDD documentation
  windows/deployment/planning/windows-10-deprecated-features.md
Labels: Microsoft submitter, deployment

#9406 fixed incorrect command
  windows/deployment/deploy-windows-mdt/deploy-a-windows-10-image-using-mdt.md
Labels: deployment

#9126 typo correction : make to manufacturer
  windows/deployment/deploy-windows-mdt/deploy-a-windows-10-image-using-mdt.md
Labels: deployment

#9543 Wdac policy deployment updates
  windows/security/threat-protection/windows-defender-application-control/deployment/deploy-wdac-policies-with-script.md
  windows/security/threat-protection/windows-defender-application-control/enforce-windows-defender-application-control-policies.md
  windows/security/threat-protection/windows-defender-application-control/use-signed-policies-to-protect-windows-defender-application-control-against-tampering.md
Labels: Microsoft submitter, application control

#9567 Kk wdac edits
  windows/security/threat-protection/windows-defender-application-control/TOC.yml
  windows/security/threat-protection/windows-defender-application-control/audit-and-enforce-windows-defender-application-control-policies.md
  windows/security/threat-protection/windows-defender-application-control/configure-authorized-apps-deployed-with-a-managed-installer.md
  windows/security/threat-protection/windows-defender-application-control/create-wdac-policy-for-fully-managed-devices.md
  windows/security/threat-protection/windows-defender-application-control/create-wdac-policy-for-lightly-managed-devices.md
  windows/security/threat-protection/windows-defender-application-control/event-id-explanations.md
  windows/security/threat-protection/windows-defender-application-control/event-tag-explanations.md
  windows/security/threat-protection/windows-defender-application-control/feature-availability.md
  windows/security/threat-protection/windows-defender-application-control/plan-windows-defender-application-control-management.md
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
  windows/security/threat-protection/windows-defender-application-control/understand-windows-defender-application-control-policy-design-decisions.md
  windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-with-intelligent-security-graph.md
  windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-with-managed-installer.md
  windows/security/threat-protection/windows-defender-application-control/wdac-and-applocker-overview.md
Labels: application control

#9549 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter, threat-protection
