Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-04, with the labels that each got.

#9366 added version 20h2
  windows/client-management/mdm/policy-csp-power.md
Labels: mdm

#9374 HKEY_LOCAL_MACHINE_MACHINE typo correction
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: privacy

#9388 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter, antivirus, threat-protection

#9378 4624(S) Workstation Name source, error correction
  windows/security/threat-protection/auditing/event-4624.md
Labels: auditing

#9385 Document Whiteboard policy options
  windows/client-management/mdm/surfacehub-csp.md
Labels: Microsoft submitter, mdm

#8800 Addition to information
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
Labels: credential guard

#9332 added TPM 1.2
  windows/security/information-protection/tpm/change-the-tpm-owner-password.md
Labels: tpm

#9397 comma is not needed after URL if you don't use proxy
  windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure.md
Labels: information protection

#9402 fixed incorrect reference
  windows/deployment/update/waas-configure-wufb.md
Labels: deployment

#9407 added clarification
  windows/client-management/mdm/mdm-enrollment-of-windows-devices.md
Labels: mdm

#9401 add info about cache expiration
  windows/security/threat-protection/security-policy-settings/interactive-logon-number-of-previous-logons-to-cache-in-case-domain-controller-is-not-available.md
Labels: policy settings, threat-protection

#9277 added trust type
  windows/security/identity-protection/hello-for-business/hello-feature-dual-enrollment.md
Labels: hello-for-business

#9379 Clarify that Stop errors are _not_ app errors
  windows/client-management/troubleshoot-stop-errors.md
Labels: client management

#9414 instructions to collect MDM log with command line
  windows/client-management/mdm/diagnose-mdm-failures-in-windows-10.md
Labels: Microsoft submitter

#9413 Update in Path
  windows/deployment/update/waas-configure-wufb.md
Labels: deployment

#9412 Addition of Error Code
  windows/deployment/update/windows-update-error-reference.md
Labels: deployment

#9411 Addition of Error Code
  windows/deployment/update/windows-update-errors.md
Labels: deployment

#9404 added detail to the note section
  windows/client-management/introduction-page-file.md
Labels: client management

#9428 Add ConfigureWebSignInAllowedUrls policy
  windows/client-management/mdm/policy-csp-authentication.md
Labels: mdm

#9419 Modification in Steps
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: mdm

#9430 update MarkDown
  windows/client-management/mdm/policy-configuration-service-provider.md
Labels: mdm

#9442 Update in Installation Notes
  windows/deployment/update/servicing-stack-updates.md
Labels: deployment

#9440 federation with AADJ
  windows/security/identity-protection/hello-for-business/hello-how-it-works-authentication.md
Labels: Microsoft submitter, hello-for-business

#9459 Adding compatible regions
  windows/deployment/update/update-compliance-get-started.md
Labels: Microsoft submitter

#9450 Update faq-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: application guard

#9436 Added Note clarifying the NMICrashDump key usage.
  windows/client-management/generate-kernel-or-complete-crash-dump.md
Labels: client management

#9466 Update faq-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: Microsoft submitter, threat-protection

#9462 Update deploy-enterprise-licenses.md
  windows/deployment/deploy-enterprise-licenses.md
Labels: Microsoft submitter, deployment

#9476 Update vpn-auto-trigger-profile.md
  windows/security/identity-protection/vpn/vpn-auto-trigger-profile.md
Labels: Microsoft submitter

#9452 MarkDown update: replace deprecated HTML tags
  windows/client-management/mdm/diagnosticlog-csp.md
  windows/client-management/mdm/provisioning-csp.md
  windows/client-management/mdm/proxy-csp.md
  windows/client-management/mdm/update-csp.md
  windows/client-management/mdm/win32appinventory-csp.md
Labels: mdm

#9470 Applied to Win Server 2019
  windows/security/threat-protection/windows-firewall/isolated-domain.md
Labels: windows firewall

#9472 Change in assumption content
  windows/security/identity-protection/hello-for-business/hello-deployment-guide.md
Labels: hello-for-business
