Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-08, with the labels that each got.

#9863 Registry info update
  windows/security/threat-protection/security-policy-settings/domain-controller-refuse-machine-account-password-changes.md
Labels: policy settings, threat-protection

#9815 Small typo fixes
  windows/deployment/deploy-windows-mdt/create-a-windows-10-reference-image.md
Labels: deployment

#9841 added manage Insider Preview builds org link
  windows/whats-new/windows-11.md
Labels: deployment

#9871 Update defender-csp.md
  windows/client-management/mdm/defender-csp.md
Labels: mdm, Microsoft submitter

#9875 Stevedia winre
  windows/deployment/update/media-dynamic-update.md
Labels: deployment, Microsoft submitter, Sign off

#9455 added notes about OnPrem_Distinguished_Name
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert.md
Labels: hello-for-business

#9847 Edited select-type and event-id documents.
  windows/security/threat-protection/windows-defender-application-control/event-id-explanations.md
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: application control, Microsoft submitter

#9887 Update bulk-enrollment-using-windows-provisioning-tool.md
  windows/client-management/mdm/bulk-enrollment-using-windows-provisioning-tool.md
Labels: Microsoft submitter

#9888 Update device-guard-signing-portal.md
  store-for-business/device-guard-signing-portal.md
Labels: Microsoft submitter

#9896 Removing ALLOW_ALL for FileRules
  windows/security/threat-protection/windows-defender-application-control/microsoft-recommended-driver-block-rules.md
Labels: application control, Microsoft submitter

#9886 Created a new section Deploy Managed Installer.
  windows/security/threat-protection/windows-defender-application-control/configure-authorized-apps-deployed-with-a-managed-installer.md
Labels: application control, Microsoft submitter

#9899 replaced tool
  windows/deployment/deploy-windows-mdt/deploy-a-windows-10-image-using-mdt.md
Labels: deployment

#9902 removed old version , added new version
  windows/deployment/deploy-windows-mdt/deploy-a-windows-10-image-using-mdt.md
Labels: deployment

#9572 Fix wrong RID of WinRMRemoteWMIUsers__
  windows/security/identity-protection/access-control/active-directory-security-groups.md
Labels: identity protection

#9855 added windows 11 , added tpm link and added one column
  windows/security/information-protection/tpm/trusted-platform-module-overview.md
Labels: information protection

#9843 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: threat-protection, Microsoft submitter

#9864 Add info about 0x80090010
  windows/security/identity-protection/hello-for-business/hello-errors-during-pin-creation.md
Labels: hello-for-business

#9912 Clarification of a paragraph, see #9910
  windows/deployment/deploy-windows-mdt/prepare-for-windows-deployment-with-mdt.md
Labels: deployment

#9919 Update hello-feature-remote-desktop.md
  windows/security/identity-protection/hello-for-business/hello-feature-remote-desktop.md
Labels: hello-for-business
