Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-02, with the labels that each got.

#9052 Added Conditional Access with Intune
  windows/security/threat-protection/microsoft-defender-atp/ios-configure-features.md
Labels: Microsoft submitter

#9053 Update detect-block-potentially-unwanted-apps-microsoft-defender-anti…
  windows/security/threat-protection/microsoft-defender-antivirus/detect-block-potentially-unwanted-apps-microsoft-defender-antivirus.md
Labels: antivirus

#9054 typo correction
  windows/deployment/update/waas-overview.md
Labels: deployment

#9071 Update controlled-folders.md
  windows/security/threat-protection/microsoft-defender-atp/controlled-folders.md
Labels: Microsoft submitter, defender for endpoint

#9073 Update Onboard-Windows-10-multi-session-device.md
  windows/security/threat-protection/microsoft-defender-atp/Onboard-Windows-10-multi-session-device.md
Labels: Microsoft submitter, defender for endpoint

#9078 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter, antivirus

#9039 Update manage-windows-2004-endpoints.md
  windows/privacy/manage-windows-2004-endpoints.md
Labels: Microsoft submitter, privacy

#9044 Update indicator-ip-domain.md
  windows/security/threat-protection/microsoft-defender-atp/indicator-ip-domain.md
Labels: Microsoft submitter, defender for endpoint

#9076 Update hello-hybrid-cert-whfb-settings-pki.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-pki.md
Labels: Microsoft submitter

#9017 Update passwordless-strategy.md
  windows/security/identity-protection/hello-for-business/passwordless-strategy.md
Labels: Microsoft submitter, hello-for-business

#8886 Update actions
  windows/security/threat-protection/microsoft-defender-atp/custom-detection-rules.md
Labels: defender for endpoint

#9009 Update install-vamt.md
  windows/deployment/volume-activation/install-vamt.md
Labels: deployment

#7151 Link to deployment of PKI page
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-prereqs.md
Labels: hello-for-business

#8797 Command Update
  windows/security/threat-protection/microsoft-defender-atp/linux-resources.md
Labels: defender for endpoint

#9049 Need to update Windows 10 Release Information Page Url in all the doc…
  windows/client-management/mdm/policy-csp-update.md
  windows/deployment/planning/features-lifecycle.md
  windows/deployment/update/update-compliance-schema-waasinsiderstatus.md
  windows/deployment/update/update-compliance-schema-waasupdatestatus.md
  windows/deployment/update/waas-manage-updates-wufb.md
  windows/deployment/update/waas-overview.md
  windows/deployment/update/waas-wufb-csp-mdm.md
  windows/deployment/upgrade/windows-10-upgrade-paths.md
  windows/hub/TOC.md
  windows/hub/breadcrumb/toc.yml
  windows/hub/index.yml
  windows/security/threat-protection/microsoft-defender-antivirus/prevent-changes-to-security-settings-with-tamper-protection.md
  windows/security/threat-protection/microsoft-defender-atp/mcafee-to-microsoft-defender-prepare.md
  windows/security/threat-protection/microsoft-defender-atp/mcafee-to-microsoft-defender-setup.md
  windows/security/threat-protection/microsoft-defender-atp/switch-to-microsoft-defender-prepare.md
  windows/security/threat-protection/microsoft-defender-atp/switch-to-microsoft-defender-setup.md
  windows/security/threat-protection/microsoft-defender-atp/symantec-to-microsoft-defender-atp-prepare.md
  windows/security/threat-protection/microsoft-defender-atp/symantec-to-microsoft-defender-atp-setup.md
  windows/whats-new/index.md
  windows/whats-new/ltsc/index.md
Labels: Microsoft submitter

#9085 Revert "Need to update Windows 10 Release Information Page Url in all the doc…"
  windows/client-management/mdm/policy-csp-update.md
  windows/deployment/planning/features-lifecycle.md
  windows/deployment/update/update-compliance-schema-waasinsiderstatus.md
  windows/deployment/update/update-compliance-schema-waasupdatestatus.md
  windows/deployment/update/waas-manage-updates-wufb.md
  windows/deployment/update/waas-overview.md
  windows/deployment/update/waas-wufb-csp-mdm.md
  windows/deployment/upgrade/windows-10-upgrade-paths.md
  windows/hub/TOC.md
  windows/hub/breadcrumb/toc.yml
  windows/hub/index.yml
  windows/security/threat-protection/microsoft-defender-antivirus/prevent-changes-to-security-settings-with-tamper-protection.md
  windows/security/threat-protection/microsoft-defender-atp/mcafee-to-microsoft-defender-prepare.md
  windows/security/threat-protection/microsoft-defender-atp/mcafee-to-microsoft-defender-setup.md
  windows/security/threat-protection/microsoft-defender-atp/switch-to-microsoft-defender-prepare.md
  windows/security/threat-protection/microsoft-defender-atp/switch-to-microsoft-defender-setup.md
  windows/security/threat-protection/microsoft-defender-atp/symantec-to-microsoft-defender-atp-prepare.md
  windows/security/threat-protection/microsoft-defender-atp/symantec-to-microsoft-defender-atp-setup.md
  windows/whats-new/index.md
  windows/whats-new/ltsc/index.md
Labels: Microsoft submitter

#9099 changed the cmdlet
  windows/security/threat-protection/microsoft-defender-atp/evaluate-attack-surface-reduction.md
Labels: defender for endpoint

#9082 Update surfacehub-csp.md
  windows/client-management/mdm/surfacehub-csp.md
Labels: Microsoft submitter, mdm

#9092 Link update & minor codestyle improvements
  windows/deployment/deploy-whats-new.md
Labels: deployment

#9029 Added batch update alerts documentaion
  batch-update-alerts.md
  windows/security/threat-protection/microsoft-defender-atp/alerts.md
Labels: defender for endpoint

#9087 GCC / GCC High note
  windows/deployment/windows-10-subscription-activation.md
Labels: Microsoft submitter, deployment

#9112 Changes to ASR licensing requirements
  windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction.md
Labels: Microsoft submitter, defender for endpoint

#9113 Changes to ASR licensing requirements
  windows/security/threat-protection/microsoft-defender-atp/enable-attack-surface-reduction.md
Labels: Microsoft submitter, defender for endpoint

#9118 Add instructions for targeting a specific version of Windows 10
  windows/security/threat-protection/windows-firewall/create-wmi-filters-for-the-gpo.md
Labels: Microsoft submitter

#9097 Update raw-data-export-event-hub.md
  windows/security/threat-protection/microsoft-defender-atp/raw-data-export-event-hub.md
  windows/security/threat-protection/microsoft-defender-atp/raw-data-export-storage.md
Labels: Microsoft submitter, defender for endpoint

#9110 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/security-compliance-toolkit-10.md
Labels: Microsoft submitter, threat-protection

#9089 Update use-windows-event-forwarding-to-assist-in-intrusion-detection.md
  windows/security/threat-protection/use-windows-event-forwarding-to-assist-in-intrusion-detection.md
Labels: Microsoft submitter, threat-protection

#9124 added Manage Settings
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-security-center-antivirus.md
Labels: antivirus

#9131 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: threat-protection

#9130 Update manage-updates-baselines-microsoft-defender-antivirus.md
  windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: threat-protection

#9134 typo fix
  windows/deployment/update/windows-update-logs.md
Labels: deployment

#9004 add info about IIS 7.0 and above
  windows/security/threat-protection/security-policy-settings/impersonate-a-client-after-authentication.md
Labels: policy settings, threat-protection

#9008 pointing to the Application proxy page
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert.md
Labels: hello-for-business

#9108 add note about premium connectors licensing
  windows/security/threat-protection/microsoft-defender-atp/api-microsoft-flow.md
Labels: defender for endpoint

#9023 Lockscreen PIN reset limitations
  windows/security/identity-protection/hello-for-business/hello-feature-pin-reset.md
Labels: Microsoft submitter, hello-for-business

#9022 Update hello-key-trust-adfs.md
  windows/security/identity-protection/hello-for-business/hello-key-trust-adfs.md
Labels: Microsoft submitter, hello-for-business

#9100 note on per user licensing
  windows/deployment/deploy-enterprise-licenses.md
Labels: Microsoft submitter, deployment

#9119 Update prepare-for-zero-touch-installation-of-windows-10-with-configu…
  windows/deployment/deploy-windows-cm/prepare-for-zero-touch-installation-of-windows-10-with-configuration-manager.md
Labels: Microsoft submitter, deployment, localization

#9121 removed invalid link added correct link
  windows/security/identity-protection/hello-for-business/hello-deployment-issues.md
Labels: hello-for-business

#9066 update headers to support In This Article
  windows/client-management/mdm/policy-csp-deviceinstallation.md
Labels: mdm

#9091 Fixed typo come > some
  windows/deployment/deploy-windows-mdt/prepare-for-windows-deployment-with-mdt.md
Labels: deployment

#9164 Update defender-csp.md
  windows/client-management/mdm/defender-csp.md
Labels: Microsoft submitter

#9083 Update /remoteGuard requirements
  windows/security/identity-protection/remote-credential-guard.md
Labels: Microsoft submitter, credential guard

#8900 format ansible code examples and add DNF/YUM key instructions
  windows/security/threat-protection/microsoft-defender-atp/linux-install-with-ansible.md
Labels: threat-protection

#8789 Add background color to images
  windows/security/threat-protection/windows-sandbox/images/2-dynamic-working.png
  windows/security/threat-protection/windows-sandbox/images/3-memory-sharing.png
  windows/security/threat-protection/windows-sandbox/images/4-integrated-kernal.png
  windows/security/threat-protection/windows-sandbox/images/5-wddm-gpu-virtualization.png
Labels: threat-protection

#9165 Revert "Update defender-csp.md"
  windows/client-management/mdm/defender-csp.md
Labels: Microsoft submitter

#9163 Update microsoft-defender-antivirus-on-windows-server-2016.md
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-on-windows-server-2016.md
Labels: Microsoft submitter

#9166 Update customize-windows-10-start-screens-by-using-mobile-device-mana…
  windows/configuration/customize-windows-10-start-screens-by-using-mobile-device-management.md
Labels: Microsoft submitter

#9162 Update microsoft-defender-antivirus-compatibility.md
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter

#9159 Update controlled-folders.md
  windows/security/threat-protection/microsoft-defender-atp/controlled-folders.md
Labels: Microsoft submitter

#9160 Update customize-controlled-folders.md
  windows/security/threat-protection/microsoft-defender-atp/customize-controlled-folders.md
Labels: Microsoft submitter

#9157 Lookback window for modified queries
  windows/security/threat-protection/microsoft-defender-atp/custom-detection-rules.md
Labels: Microsoft submitter, defender for endpoint

#9156 Fixed Syntax errors in applocker-csp.md
  windows/client-management/mdm/applocker-csp.md
Labels: Microsoft submitter, mdm

#9143 Azure ATP: Microsoft Defender for Identity
  windows/security/threat-protection/microsoft-defender-atp/advanced-features.md
Labels: defender for endpoint

#9120 markdown adjustments
  windows/security/identity-protection/credential-guard/credential-guard-considerations.md
Labels: credential guard

#9060 Removing bad security practice
  windows/security/threat-protection/microsoft-defender-atp/exposed-apis-create-app-webapp.md
Labels: Microsoft submitter, defender for endpoint

#8977 added note about changing algorithm
  windows/security/information-protection/bitlocker/bitlocker-device-encryption-overview-windows-10.md
Labels: bitlocker

#9007 Added a Store Content Related URL
  windows/privacy/manage-windows-20H2-endpoints.md
Labels: privacy

#9173 Update switch-to-microsoft-defender-setup.md
  windows/security/threat-protection/microsoft-defender-atp/switch-to-microsoft-defender-setup.md
Labels: Microsoft submitter

#9172 Update symantec-to-microsoft-defender-atp-setup.md
  windows/security/threat-protection/microsoft-defender-atp/symantec-to-microsoft-defender-atp-setup.md
Labels: Microsoft submitter, defender for endpoint

#9171 Update mcafee-to-microsoft-defender-setup.md
  windows/security/threat-protection/microsoft-defender-atp/mcafee-to-microsoft-defender-setup.md
Labels: Microsoft submitter

#9012 update hybrid scenario naming and add link to description
  windows/security/threat-protection/windows-defender-application-control/create-wdac-policy-for-fully-managed-devices.md
Labels: application control

#9010 Update activate-using-active-directory-based-activation-client.md
  windows/deployment/volume-activation/activate-using-active-directory-based-activation-client.md
Labels: deployment

#9138 Update EUICC CSP with latest changes
  windows/client-management/mdm/euiccs-csp.md
Labels: Microsoft submitter, mdm

#9141 Update mandatory-user-profile.md
  windows/client-management/mandatory-user-profile.md
Labels: Microsoft submitter, client management

#9031 Update media-dynamic-update.md
  windows/deployment/update/media-dynamic-update.md
  windows/deployment/update/servicing-stack-updates.md
Labels: Microsoft submitter, deployment

#8848 add info about the allowedThreats option
  windows/security/threat-protection/microsoft-defender-atp/linux-install-manually.md
  windows/security/threat-protection/microsoft-defender-atp/linux-install-with-ansible.md
  windows/security/threat-protection/microsoft-defender-atp/linux-install-with-puppet.md
Labels: defender for endpoint

#8903 Addition of Value type supported
  windows/client-management/mdm/policy-csp-timelanguagesettings.md
Labels: mdm

#9180 Clarify firewall requirements
  windows/deployment/update/waas-delivery-optimization.md
Labels: Microsoft submitter, deployment

#9183 Update hello-hybrid-key-whfb-settings-policy.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-settings-policy.md
Labels: Microsoft submitter, hello-for-business

#9175 corrected layout issue
  windows/security/identity-protection/hello-for-business/hello-feature-pin-reset.md
Labels: hello-for-business

#9139 Update mandatory-user-profile.md
  windows/client-management/mandatory-user-profile.md
Labels: Microsoft submitter, client management

#9137 Update euiccs-ddf-file.md
  windows/client-management/mdm/euiccs-ddf-file.md
Labels: Microsoft submitter, mdm

#9101 licensing note - per device
  windows/deployment/windows-10-subscription-activation.md
Labels: Microsoft submitter, deployment

#9191 Update enable-exploit-protection.md
  windows/security/threat-protection/microsoft-defender-atp/enable-exploit-protection.md
Labels: Microsoft submitter

#9201 Update microsoft-defender-antivirus-compatibility.md
  windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter, antivirus

#9193 Addition of Configuration
  windows/security/threat-protection/microsoft-defender-atp/linux-preferences.md
Labels: defender for endpoint

#9204 Update faq-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.md
Labels: application guard
