Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-07, with the labels that each got.

#9706 Rtb update
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: Microsoft submitter, Sign off, privacy

#9764 Update reqs-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/reqs-md-app-guard.md
Labels: application guard

#9769 typo correction
  windows/security/threat-protection/windows-defender-application-control/applocker/configure-the-application-identity-service.md
Labels: application control

#9767 typo correction
  windows/security/threat-protection/security-policy-settings/network-access-do-not-allow-storage-of-passwords-and-credentials-for-network-authentication.md
Labels: policy settings, threat-protection

#9762 Update system-guard-secure-launch-and-smm-protection.md
  windows/security/threat-protection/windows-defender-system-guard/system-guard-secure-launch-and-smm-protection.md
Labels: Microsoft submitter, threat-protection

#9770 Update defender-csp.md
  windows/client-management/mdm/defender-csp.md
Labels: Microsoft submitter

#9743 corrected link
  windows/security/threat-protection/security-policy-settings/audit-audit-the-access-of-global-system-objects.md
Labels: policy settings, threat-protection

#9741 fixed broken XML & improved readability of examples
  windows/client-management/mdm/federated-authentication-device-enrollment.md
Labels: mdm

#9794 Update configuration-service-provider-reference.md
  windows/client-management/mdm/configuration-service-provider-reference.md
Labels: Microsoft submitter

#9792 pruning dead link
  windows/security/threat-protection/intelligence/phishing.md
Labels: Microsoft submitter

#9774 Add capital letter
  windows/whats-new/windows-11-plan.md
Labels: deployment

#9779 added MECM and WSUS links are added
  windows/whats-new/windows-11-prepare.md
Labels: deployment

#9803 Corrected cmdlet misspellings
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, application control

#9804 Update configuration-service-provider-reference.md
  windows/client-management/mdm/configuration-service-provider-reference.md
Labels: Microsoft submitter

#9799 Update diagnose-mdm-failures-in-windows-10.md
  windows/client-management/mdm/diagnose-mdm-failures-in-windows-10.md
Labels: Microsoft submitter, mdm

#9798 Update enroll-a-windows-10-device-automatically-using-group-policy.md
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: Microsoft submitter, mdm

#9708 Kk wdac edits event tag link update
  windows/security/threat-protection/windows-defender-application-control/event-tag-explanations.md
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: Microsoft submitter, application control

#9735 fixed invalid MDM Federated enrollment example code
  windows/client-management/mdm/federated-authentication-device-enrollment.md
Labels: mdm

#9810 Creating a new page for Device Installation under Client Management
  windows/client-management/images/DeviceInstallation_ApplyLayered_Policy2.png
  windows/client-management/images/DeviceInstallation_ApplyLayered_policy1.png
  windows/client-management/images/DeviceInstallation_DM_Printer_Compatible_Ids.png
  windows/client-management/images/DeviceInstallation_DM_Printer_Hardware_Ids.png
  windows/client-management/images/DeviceInstallation_DM_Printer_by_device.png
  windows/client-management/images/DeviceInstallation_DM_Printer_details_screen.png
  windows/client-management/images/DeviceInstallation_DM_USB_HWID.png
  windows/client-management/images/DeviceInstallation_DM_USB_by_connection.png
  windows/client-management/images/DeviceInstallation_DM_USB_by_connection_and_layering.png
  windows/client-management/images/DeviceInstallation_DM_USB_by_connection_blocked.png
  windows/client-management/images/DeviceInstallation_DM_USB_by_device.png
  windows/client-management/images/DeviceInstallation_GPO_allow_device_id_list_printer.png
  windows/client-management/images/DeviceInstallation_GPO_allow_device_id_list_usb.png
  windows/client-management/images/DeviceInstallation_GPO_prevent_class_list.png
  windows/client-management/images/DeviceInstallation_GPO_prevent_device_id_list_printer.png
  windows/client-management/images/DeviceInstallation_GPO_prevent_device_id_list_usb.png
  windows/client-management/images/DeviceInstallation_USB_properties.png
  windows/client-management/images/DeviceInstallation_flowchart.png
  windows/client-management/manage-device-installtion-with-group-policy.md
Labels: Microsoft submitter

#9811 Updated select-types\..., use-windows-control...ig, and configure-auth…
  windows/security/threat-protection/windows-defender-application-control/configure-authorized-apps-deployed-with-a-managed-installer.md
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
  windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-with-intelligent-security-graph.md
Labels: Microsoft submitter, application control

#9816 Update deploy-multiple-windows-defender-application-control-policies.md
  windows/security/threat-protection/windows-defender-application-control/deploy-multiple-windows-defender-application-control-policies.md
Labels: application control

#9827 Adding ConfigureChatIcon Policy to Experience Category
  windows/client-management/mdm/policy-csp-experience.md
Labels: Microsoft submitter

#9822 Added Windows Server 2022 to applies to
  windows/security/information-protection/encrypted-hard-drive.md
Labels: Microsoft submitter, information protection

#9840 Update defender-csp.md
  windows/client-management/mdm/defender-csp.md
Labels: Microsoft submitter

#9838 Kerberos Pre-Authentication type #16 missing in 4768
  windows/security/threat-protection/auditing/event-4768.md
Labels: auditing

#9831 Clarification on automatic rule creation
  windows/security/threat-protection/windows-firewall/best-practices-configuring.md
Labels: Microsoft submitter, windows firewall

#9823 Increase localization priority value
  windows/deployment/update/waas-quick-start.md
Labels: Microsoft submitter, deployment

#9829 Update update-compliance-configuration-mem.md
  windows/deployment/update/update-compliance-configuration-mem.md
Labels: deployment

#9818 Update hello-deployment-rdp-certs.md
  windows/security/identity-protection/hello-for-business/hello-deployment-rdp-certs.md
Labels: hello-for-business

#9845 Get-TPM
  windows/security/information-protection/bitlocker/bitlocker-overview-and-requirements-faq.yml
Labels: bitlocker

#9846 Use proper capitalization for PowerShell cmdlets
  windows/configuration/find-the-application-user-model-id-of-an-installed-app.md
Labels: deployment

#9859 Added powershell commands
  windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity.md
Labels: threat-protection

#9858 update info
  windows/client-management/mdm/clientcertificateinstall-csp.md
Labels: client management
