Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2021-09, with the labels that each got.

#9897 Typo fix
  windows/deployment/update/waas-wu-settings.md
Labels: deployment

#9856 Uac correction
  windows/security/identity-protection/user-account-control/user-account-control-group-policy-and-registry-key-settings.md
Labels: identity protection

#9942 Update event-4776.md
  windows/security/threat-protection/auditing/event-4776.md
Labels: auditing

#9947 Update windows-adk-scenarios-for-it-pros.md
  windows/deployment/windows-adk-scenarios-for-it-pros.md
Labels: deployment

#9970 Update vpnv2-csp.md to include DNS suffix length information
  windows/client-management/mdm/vpnv2-csp.md
Labels: client management, Microsoft submitter

#9969 Enterprise Read Only Domain Controllers (-498) are defined at forest root level
  windows/security/identity-protection/access-control/active-directory-security-groups.md
Labels: identity protection

#9968 Make Domain Admins well-known SID consistent with others
  windows/security/identity-protection/access-control/active-directory-security-groups.md
Labels: identity protection

#9957 Add new documentation for Delivery Optimization Client-Service communication
  windows/deployment/TOC.yml
  windows/deployment/update/delivery-optimization-workflow.md
Labels: deployment, Microsoft submitter

#9976 Azure AD temporary access pass
  windows/whats-new/whats-new-windows-10-version-1809.md
Labels: deployment, Microsoft submitter

#9952 removed Device Guard references
  windows/security/threat-protection/device-guard/requirements-and-deployment-planning-guidelines-for-virtualization-based-protection-of-code-integrity.md
Labels: threat-protection, Microsoft submitter

#9944 Update virus-initiative-criteria.md
  windows/security/threat-protection/intelligence/virus-initiative-criteria.md
Labels: antivirus, Microsoft submitter

#9971 Update deployment-service-overview.md
  windows/deployment/update/deployment-service-overview.md
Labels: deployment, Microsoft submitter

#9995 Update faq-md-app-guard.yml
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.yml
Labels: application guard, Microsoft submitter
