Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-05, with the labels that each got.

#10489 added latest version number of adobe reader
  windows/deployment/deploy-windows-mdt/deploy-a-windows-10-image-using-mdt.md
Labels: deployment

#10494 typo correction
  windows/deployment/do/waas-delivery-optimization-reference.md
Labels: deployment

#10488 Add a cloud environment to the Requirements:
  windows/security/identity-protection/hello-for-business/feature-multifactor-unlock.md
Labels: hello-for-business, Microsoft submitter

#10482 Update how-windows-update-works.md
  windows/deployment/update/how-windows-update-works.md
Labels: deployment

#10480 Update wufb-wsus.md
  windows/deployment/update/wufb-wsus.md
Labels: deployment, Microsoft submitter

#10458 Replace outdated UAC screenshots
  windows/security/identity-protection/user-account-control/how-user-account-control-works.md
  windows/security/identity-protection/user-account-control/images/uacconsentprompt.gif
  windows/security/identity-protection/user-account-control/images/uacconsentprompt.png
  windows/security/identity-protection/user-account-control/images/uaccredentialprompt.gif
  windows/security/identity-protection/user-account-control/images/uaccredentialprompt.png
  windows/security/identity-protection/user-account-control/images/uacshieldicon.png
Labels: identity protection

#10133 Update "Trusted network detection"
  windows/security/identity-protection/vpn/vpn-auto-trigger-profile.md
Labels: identity protection

#10115 added windows 11 and its registry keys
  windows/security/identity-protection/access-control/security-identifiers.md
Labels: identity protection

#10030 Update hello-hybrid-key-trust-dirsync.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-dirsync.md
Labels: hello-for-business, Microsoft submitter

#10013 Update on Network Security Pk2U Mitigation/Fix
  windows/security/threat-protection/security-policy-settings/network-security-allow-pku2u-authentication-requests-to-this-computer-to-use-online-identities.md
Labels: threat-protection

#9987 Update Block Rule Credits - Add James Forshaw
  windows/security/threat-protection/windows-defender-application-control/microsoft-recommended-block-rules.md
Labels: application control

#9963 Rtb update
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
  windows/privacy/manage-windows-1809-endpoints.md
  windows/privacy/manage-windows-1903-endpoints.md
  windows/privacy/manage-windows-1909-endpoints.md
  windows/privacy/manage-windows-2004-endpoints.md
  windows/privacy/manage-windows-20H2-endpoints.md
  windows/privacy/manage-windows-21H1-endpoints.md
Labels: security, in progress, Microsoft submitter

#10031 Update hello-hybrid-key-trust-devreg.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-devreg.md
Labels: hello-for-business, Microsoft submitter, needs-more-info

#9955 Fix names for IUSR and IIS_IUSRS well known security identifiers
  windows/security/identity-protection/access-control/security-identifiers.md
Labels: identity protection

#8837 Joknierm patch 1
  windows/client-management/mdm/assignedaccess-csp.md
  windows/client-management/mdm/assignedaccess-ddf.md
  windows/configuration/guidelines-for-assigned-access-app.md
  windows/configuration/kiosk-single-app.md
  windows/configuration/kiosk-xml.md
Labels: configuration, mdm, in progress, Microsoft submitter

#10524 implementing #10383
  windows/security/identity-protection/index.md
Labels: identity protection

#10531 Update policy-csp-devicelock.md
  windows/client-management/mdm/policy-csp-devicelock.md
Labels: client management, Microsoft submitter

#10102 reemoved long title sentences
  windows/security/threat-protection/auditing/advanced-security-auditing-faq.yml
Labels: auditing, needs-more-info

#10523 implementing #10325
  windows/security/threat-protection/windows-defender-application-control/event-id-explanations.md
Labels: application control

#10526 Correcting typo on line 268
  windows/security/identity-protection/hello-for-business/passwordless-strategy.md
Labels: hello-for-business

#10529 Update windowsautopilot-csp.md
  windows/client-management/mdm/windowsautopilot-csp.md
Labels: client management

#10550 Update special-identities.md
  windows/security/identity-protection/access-control/special-identities.md
Labels: identity protection, Microsoft submitter

#10551 Update hello-hybrid-key-whfb-settings-dir-sync.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-settings-dir-sync.md
Labels: hello-for-business, Microsoft submitter

#10559 url changed
  windows/security/threat-protection/windows-defender-application-control/wdac-wizard.md
Labels: application control

#10552 added hypen
  windows/security/information-protection/bitlocker/ts-bitlocker-network-unlock-issues.md
Labels: bitlocker

#10539 Refresh Repository Contribution Guide
  CONTRIBUTING.md
  images/compare-changes.png
  images/contribute-link.png
  images/pencil-icon.png
  images/preview-changes.png
  images/propose-changes.png
  images/propose-file-change.png
Labels: in progress, Admin review

#10463 Refresh "Apply a provisioning package" article
  windows/configuration/images/choose-package.png
  windows/configuration/images/oobe.jpg
  windows/configuration/images/oobe.png
  windows/configuration/images/package.png
  windows/configuration/images/prov.jpg
  windows/configuration/images/provisioning-oobe-choice.png
  windows/configuration/images/provisioning-oobe-choose-package.png
  windows/configuration/images/provisioning-oobe-installing.png
  windows/configuration/images/provisioning-runtime-UAC.png
  windows/configuration/images/provisioning-runtime-add-package.png
  windows/configuration/images/provisioning-runtime-choose-package.png
  windows/configuration/images/provisioning-runtime-click-to-install.png
  windows/configuration/images/provisioning-runtime-manage-packages.png
  windows/configuration/images/provisioning-runtime-trust.png
  windows/configuration/images/setupmsg.jpg
  windows/configuration/images/trust-package.png
  windows/configuration/lock-down-windows-10-to-specific-apps.md
  windows/configuration/provisioning-packages/provisioning-apply-package.md
  windows/configuration/set-up-shared-or-guest-pc.md
Labels: configuration, do not merge
