Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-03, with the labels that each got.

#10385 Removed updateserviceurl link. This is not supported.
  windows/client-management/mdm/policies-in-policy-csp-supported-by-hololens2.md
Labels: client management, Microsoft submitter

#10387 Update TouchKeyboardEmojiButtonAvailability description
  windows/client-management/mdm/policy-csp-textinput.md
Labels: client management, Microsoft submitter

#10357 Update hello-faq.yml
  windows/security/identity-protection/hello-for-business/hello-faq.yml
Labels: hello-for-business, Microsoft submitter

#10397 Improve spelling and formatting for provisioning multivariant code blocks
  windows/configuration/provisioning-packages/provisioning-multivariant.md
Labels: configuration

#10404 [WDAC] Fix instructions order for UEFI deployment
  windows/security/threat-protection/windows-defender-application-control/deployment/deploy-wdac-policies-with-script.md
Labels: application control

#10388 Complexity requirements reduce password strength
  windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements.md
Labels: policy settings, threat-protection

#10279 Minor rewording for clarity & added detailed image descriptions
  windows/client-management/mdm/config-lock.md
Labels: client management, Microsoft submitter

#10274 Update virus-initiative-criteria.md
  windows/security/threat-protection/intelligence/virus-initiative-criteria.md
Labels: threat-protection, Microsoft submitter

#10260 Update info
  windows/security/identity-protection/hello-for-business/hello-faq.yml
Labels: hello-for-business

#10417 Update test-scenarios-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/test-scenarios-md-app-guard.md
Labels: application guard, Microsoft submitter

#10418 added some clarification
  windows/security/information-protection/bitlocker/bitlocker-security-faq.yml
Labels: bitlocker

#10419 added column to the table
  windows/client-management/mdm/config-lock.md
Labels: client management

#10421 Remove private preview link from MCC Docs
  windows/deployment/do/mcc-enterprise.md
  windows/deployment/do/mcc-isp.md
Labels: Microsoft submitter

#10423 Revert "Remove private preview link from MCC Docs"
  windows/deployment/do/mcc-enterprise.md
  windows/deployment/do/mcc-isp.md
Labels: Microsoft submitter

#10434 Applying feedback in IssueId 2233
  windows/client-management/mdm/policy-csp-update.md
Labels: client management

#10433 Update defender-csp.md as per feedback IssueId 2235
  windows/client-management/mdm/defender-csp.md
Labels: security

#10440 added note about 21h2
  windows/security/identity-protection/vpn/how-to-use-single-sign-on-sso-over-vpn-and-wi-fi-connections.md
Labels: identity protection

#10441 Typo
  windows/security/threat-protection/windows-defender-application-control/create-wdac-deny-policy.md
Labels: application control

#10437 now named "Allow pre-provisioned deployment" ?
  windows/deployment/windows-autopilot/demonstrate-deployment-on-vm.md
Labels: deployment

#10438 correct InTune and Office 365 names
  windows/deployment/windows-autopilot/demonstrate-deployment-on-vm.md
Labels: deployment

#10414 Add roles/permissions to section: Add Update Compliance to your Azure…
  windows/deployment/update/update-compliance-get-started.md
Labels: deployment

#10430 Update wip-learning.md
  windows/security/information-protection/windows-information-protection/wip-learning.md
Labels: information protection

#10439 Update trusted-platform-module-overview.md with adobe-target: true
  windows/security/information-protection/tpm/trusted-platform-module-overview.md
Labels: information protection, Microsoft submitter

#10448 moved image to right
  windows/security/threat-protection/auditing/event-4741.md
Labels: auditing

#10450 Update policy-csp-storage.md
  windows/client-management/mdm/policy-csp-storage.md
Labels: client management, Microsoft submitter

#10445 added screeshots
  windows/client-management/administrative-tools-in-windows-10.md
  windows/client-management/index.yml
  windows/client-management/media/win11-control-panel-windows-tools.png
  windows/client-management/media/win11-windows-tools.png
  windows/client-management/toc.yml
Labels: client management

#10452 Update minimum-password-length.md
  windows/security/threat-protection/security-policy-settings/minimum-password-length.md
Labels: policy settings, threat-protection, Microsoft submitter
