Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-06, with the labels that each got.

#10560 Update wufb-wsus.md
  windows/deployment/update/wufb-wsus.md
Labels: deployment

#10561 changed the registry path
  windows/deployment/update/deployment-service-overview.md
Labels: deployment

#10563 added applicability
  windows/security/threat-protection/security-policy-settings/network-security-restrict-ntlm-ntlm-authentication-in-this-domain.md
Labels: policy settings, threat-protection

#10566 Update bitlocker-overview-and-requirements-faq.yml
  windows/security/information-protection/bitlocker/bitlocker-overview-and-requirements-faq.yml
Labels: bitlocker

#10573 Update check name
  windows/deployment/windows-autopatch/prepare/windows-autopatch-fix-issues.md
Labels: deployment

#10577 Update Credential Guard Group Policy image and format file
  windows/security/identity-protection/credential-guard/credential-guard-manage.md
  windows/security/identity-protection/credential-guard/images/credguard-gp-2.png
  windows/security/identity-protection/credential-guard/images/credguard-gp.png
  windows/security/identity-protection/credential-guard/images/credguard-msinfo32.png
Labels: in progress, do not merge

#10598 Update faq-md-app-guard.yml
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.yml
Labels: application guard

#10636 Correct endpoints for kmwatson.
  windows/privacy/configure-windows-diagnostic-data-in-your-organization.md
Labels: Microsoft submitter

#10638 Resolve syncing conflicts from repo_sync_working_branch to public
  CODEOWNERS
  ContentOwners.txt
  windows/deployment/do/waas-delivery-optimization.md
  windows/deployment/windows-10-subscription-activation.md
  windows/deployment/windows-autopatch/deploy/windows-autopatch-register-devices.md
  windows/privacy/Microsoft-DiagnosticDataViewer.md
  windows/privacy/basic-level-windows-diagnostic-events-and-fields-1703.md
  windows/privacy/basic-level-windows-diagnostic-events-and-fields-1709.md
  windows/privacy/basic-level-windows-diagnostic-events-and-fields-1803.md
  windows/privacy/basic-level-windows-diagnostic-events-and-fields-1809.md
  windows/privacy/basic-level-windows-diagnostic-events-and-fields-1903.md
  windows/privacy/changes-to-windows-diagnostic-data-collection.md
  windows/privacy/configure-windows-diagnostic-data-in-your-organization.md
  windows/privacy/diagnostic-data-viewer-overview.md
  windows/privacy/enhanced-diagnostic-data-windows-analytics-events-and-fields.md
  windows/privacy/essential-services-and-connected-experiences.md
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services-using-MDM.md
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
  windows/privacy/manage-windows-11-endpoints.md
  windows/privacy/manage-windows-1809-endpoints.md
  windows/privacy/manage-windows-1903-endpoints.md
  windows/privacy/manage-windows-1909-endpoints.md
  windows/privacy/manage-windows-2004-endpoints.md
  windows/privacy/manage-windows-20H2-endpoints.md
  windows/privacy/manage-windows-21H1-endpoints.md
  windows/privacy/manage-windows-21h2-endpoints.md
  windows/privacy/required-windows-11-diagnostic-events-and-fields.md
  windows/privacy/required-windows-diagnostic-data-events-and-fields-2004.md
  windows/privacy/windows-10-and-privacy-compliance.md
  windows/privacy/windows-11-endpoints-non-enterprise-editions.md
  windows/privacy/windows-diagnostic-data-1703.md
  windows/privacy/windows-diagnostic-data.md
  windows/privacy/windows-endpoints-1809-non-enterprise-editions.md
  windows/privacy/windows-endpoints-1903-non-enterprise-editions.md
  windows/privacy/windows-endpoints-1909-non-enterprise-editions.md
  windows/privacy/windows-endpoints-2004-non-enterprise-editions.md
  windows/privacy/windows-endpoints-20H2-non-enterprise-editions.md
  windows/privacy/windows-endpoints-21H1-non-enterprise-editions.md
Labels: Microsoft submitter

#10643 Resolve syncing conflicts from repo_sync_working_branch to public
  browsers/internet-explorer/ie11-deploy-guide/choose-how-to-install-ie11.md
  browsers/internet-explorer/ie11-deploy-guide/deploy-ie11-using-software-distribution-tools.md
  education/windows/chromebook-migration-guide.md
  windows/application-management/app-v/appv-about-appv.md
  windows/client-management/manage-corporate-devices.md
  windows/deployment/deploy-windows-mdt/get-started-with-the-microsoft-deployment-toolkit.md
  windows/deployment/deploy-windows-mdt/simulate-a-windows-10-deployment-in-a-test-environment.md
  windows/deployment/deploy-windows-mdt/use-web-services-in-mdt.md
  windows/deployment/windows-10-poc-mdt.md
  windows/deployment/windows-deployment-scenarios-and-tools.md
Labels: Microsoft submitter

#10665 Update windows-autopatch-microsoft-365-apps-enterprise.md
  windows/deployment/windows-autopatch/operate/windows-autopatch-microsoft-365-apps-enterprise.md
Labels: Microsoft submitter
