Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-09, with the labels that each got.

#10805 Update policy-csp-internetexplorer.md
  windows/client-management/mdm/policy-csp-internetexplorer.md
Labels: client management, mdm, Microsoft submitter, Sign off

#10585 Add GitHub PR Template to encourage linking issues
  .github/pull_request_template.md
Labels: Admin review

#10827 Update windows-autopatch-register-devices.md
  windows/deployment/windows-autopatch/deploy/windows-autopatch-register-devices.md
Labels: update

#10828 Update windows-autopatch-update-management.md
  windows/deployment/windows-autopatch/operate/windows-autopatch-update-management.md
Labels: update

#10829 Update windows-autopatch-update-management.md
  windows/deployment/windows-autopatch/operate/windows-autopatch-update-management.md
Labels: update

#10824 Add warning notes
  windows/deployment/windows-autopatch/operate/windows-autopatch-update-management.md
Labels: update

#10839 Update hello-errors-during-pin-creation.md
  windows/security/identity-protection/hello-for-business/hello-errors-during-pin-creation.md
Labels: hello-for-business, Sign off

#10855 Update windowsdefenderapplicationguard-csp.md
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: application guard, mdm, Microsoft submitter

#10858 Fix typo in Hello for enterprise
  windows/security/identity-protection/hello-for-business/hello-biometrics-in-enterprise.md
Labels: hello-for-business

#10863 Update introduction-vamt.md
  windows/deployment/volume-activation/introduction-vamt.md
Labels: deployment

#10865 Update activate-using-active-directory-based-activation-client.md
  windows/deployment/volume-activation/activate-using-active-directory-based-activation-client.md
Labels: deployment

#10867 Update dg-readiness-tool.md
  windows/security/identity-protection/credential-guard/dg-readiness-tool.md
Labels: credential guard

#10868 Update dg-readiness-tool.md
  windows/security/identity-protection/credential-guard/dg-readiness-tool.md
Labels: credential guard

#10869 Update enroll-a-windows-10-device-automatically-using-group-policy.md
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: client management

#10873 Update bitlocker-recovery-guide-plan.md
  windows/security/information-protection/bitlocker/bitlocker-recovery-guide-plan.md
Labels: bitlocker, Microsoft submitter

#10874 Add files via upload
  windows/security/information-protection/bitlocker/images/bl-narrator.png
Labels: bitlocker, Microsoft submitter

#10877 Add doc for EnableESSwithSupportedPeripherals
  windows/client-management/mdm/passportforwork-csp.md
Labels: hello-for-business, Microsoft submitter

#10880 Update bitlocker-recovery-guide-plan.md
  windows/security/information-protection/bitlocker/bitlocker-recovery-guide-plan.md
Labels: bitlocker, Microsoft submitter

#10881 Update configure-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/configure-md-app-guard.md
Labels: application guard, Microsoft submitter

#10882 Update test-scenarios-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/test-scenarios-md-app-guard.md
Labels: application guard, Microsoft submitter
