Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-01, with the labels that each got.

#10251 Update description
  windows/security/threat-protection/auditing/event-4625.md
Labels: auditing

#10245 Update guidance as policy is enabled by default from Windows 10 1607
  windows/security/threat-protection/security-policy-settings/network-security-allow-pku2u-authentication-requests-to-this-computer-to-use-online-identities.md
Labels: threat-protection

#10248 Update quick-assist.md
  windows/client-management/quick-assist.md
Labels: deployment

#10241 Correction in the sentance
  windows/whats-new/ltsc/whats-new-windows-10-2021.md
Labels: deployment

#10236 clarification about certificate subject
  windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-prereqs.md
Labels: hello-for-business

#10256 Update audit-registry.md
  windows/security/threat-protection/auditing/audit-registry.md
Labels: auditing

#10264 Removing duplicated text within a sentence
  windows/client-management/mdm/policy-csp-update.md
Labels: client management, Microsoft submitter

#10258 Add info about KB5005010
  windows/security/threat-protection/security-policy-settings/devices-prevent-users-from-installing-printer-drivers.md
Labels: policy settings, threat-protection

#10129 Restriction Peer Selection Update
  windows/deployment/update/waas-delivery-optimization.md
Labels: deployment

#10214 Update waas-delivery-optimization-reference.md
  windows/deployment/update/waas-delivery-optimization-reference.md
Labels: deployment, Microsoft submitter

#10041 Update set-up-mdt-for-bitlocker.md
  windows/deployment/deploy-windows-mdt/set-up-mdt-for-bitlocker.md
Labels: deployment

#10056 Update demonstrate-deployment-on-vm.md
  windows/deployment/windows-autopilot/demonstrate-deployment-on-vm.md
Labels: deployment

#10128 Fixed version error
  windows/whats-new/ltsc/index.md
Labels: deployment

#10169 Added windows 10
  windows/whats-new/windows-11-prepare.md
Labels: deployment

#10182 Update resolution-procedures.md
  windows/deployment/upgrade/resolution-procedures.md
Labels: deployment

#10218 removed outdated step
  windows/deployment/windows-autopilot/demonstrate-deployment-on-vm.md
Labels: deployment

#10247 Update activate-using-active-directory-based-activation-client.md
  windows/deployment/volume-activation/activate-using-active-directory-based-activation-client.md
Labels: deployment

#10252 update licensing info
  windows/deployment/vda-subscription-activation.md
Labels: deployment

#10259 Add info
  windows/deployment/upgrade/resolution-procedures.md
Labels: deployment

#10283 Adding clarification to command execution requirements.
  windows/client-management/connect-to-remote-aadj-pc.md
Labels: client management, Microsoft submitter

#10293 Removing groups option from Windows 10 version 2004
  windows/client-management/connect-to-remote-aadj-pc.md
Labels: client management, Microsoft submitter

#10291 removed invalid link, added correct link
  windows/security/threat-protection/windows-firewall/protect-devices-from-unwanted-network-traffic.md
Labels: windows firewall

#10276 Update audit-registry.md
  windows/security/threat-protection/auditing/audit-registry.md
Labels: auditing

#10300 add detail this also logs event 4625
  windows/security/identity-protection/credential-guard/credential-guard-known-issues.md
Labels: credential guard, Microsoft submitter

#10312 Addition to note
  windows/security/threat-protection/windows-defender-security-center/wdsc-device-security.md
Labels: threat-protection

#10314 Document Formatting
  windows/security/threat-protection/auditing/event-4688.md
Labels: auditing

#10262 add info
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-new-install.md
Labels: hello-for-business

#10261 Add info about next version
  windows/security/threat-protection/windows-defender-application-control/use-device-guard-signing-portal-in-microsoft-store-for-business.md
Labels: application control

#10316 event ID wrong.
  windows/security/identity-protection/credential-guard/credential-guard-known-issues.md
Labels: credential guard, Microsoft submitter

#10317 Update in Zone Information
  windows/client-management/mdm/policy-csp-internetexplorer.md
Labels: client management

#10319 Add link to HVCI in WDAC context
  windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create.md
Labels: application control

#10323 update in note
  windows/client-management/troubleshoot-tcpip-netmon.md
Labels: client management
