Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-04, with the labels that each got.

#10427 updating the title according to feedback from pseudoid on 2Feb22
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: privacy

#10457 Update windows-10-subscription-activation.md
  windows/deployment/windows-10-subscription-activation.md
Labels: deployment, Microsoft submitter

#10460 Fixing Markdown errors that hid wildcards
  windows/deployment/update/windows-update-errors.md
Labels: deployment

#10454 fix redundant acronym
  windows/deployment/update/waas-quick-start.md
Labels: deployment

#10476 Update manage connections for new search binary
  windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services.md
Labels: privacy, Microsoft submitter

#10481 Fix typo
  windows/security/identity-protection/hello-for-business/hello-feature-dynamic-lock.md
Labels: hello-for-business

#10487 minor fix to close tag
  windows/client-management/mdm/policy-csp-mixedreality.md
Labels: client management, Microsoft submitter

#10470 Missing Event ID's 8028 - 8040
  windows/security/threat-protection/windows-defender-application-control/applocker/using-event-viewer-with-applocker.md
Labels: application control

#10507 enroll-a-windows-10-device-using-GPO
  windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.md
Labels: client management, Microsoft submitter
