Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-02, with the labels that each got.

#10342 Update bitlocker-csp.md
  windows/client-management/mdm/bitlocker-csp.md
Labels: client management, Microsoft submitter

#10223 Replaced old Azure AD Graph-based examples
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert.md
Labels: hello-for-business

#10348 Fix typos
  windows/client-management/troubleshoot-tcpip-port-exhaust.md
Labels: client management

#10318 Update BITS and Windows Update Security Descriptors
  windows/deployment/update/windows-update-resources.md
Labels: deployment

#10355 WDAC-Addins: fix a typo in executable name used in example
  windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-policy-to-control-specific-plug-ins-add-ins-and-modules.md
Labels: application control

#10360 Update security-compliance-toolkit-10.md
  windows/security/threat-protection/windows-security-configuration-framework/security-compliance-toolkit-10.md
Labels: threat-protection, Microsoft submitter

#10361 Update get-support-for-security-baselines.md
  windows/security/threat-protection/windows-security-configuration-framework/get-support-for-security-baselines.md
Labels: Microsoft submitter

#10363 Update hello-faq.yml
  windows/security/identity-protection/hello-for-business/hello-faq.yml
Labels: hello-for-business

#10367 Reduce the number of times Lockdown is mentioned in the documentation
  windows/security/identity-protection/vpn/vpn-guide.md
Labels: security, Microsoft submitter

#10374 Update HideExclusionsFromLocalAdmins scope
  windows/client-management/mdm/defender-csp.md
Labels: antivirus, Microsoft submitter

#10365 Minor formatting updates
  windows/security/identity-protection/hello-for-business/hello-hybrid-cloud-trust.md
Labels: hello-for-business
