Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-07, with the labels that each got.

#10591 M365 Business Premium update path
  windows/deployment/windows-10-subscription-activation.md
Labels: deployment

#10596 #10340
  windows/security/identity-protection/hello-for-business/hello-cert-trust-validate-ad-prereq.md
Labels: hello-for-business

#10597 #10356
  windows/security/identity-protection/hello-for-business/hello-cert-trust-policy-settings.md
Labels: hello-for-business

#10599 [WDAC] Fix indentation in XML code block
  windows/security/threat-protection/windows-defender-application-control/microsoft-recommended-block-rules.md
Labels: application control

#10600 added curly brackets
  windows/security/identity-protection/hello-for-business/passwordless-strategy.md
Labels: hello-for-business

#10605 Update hello-hybrid-cloud-trust.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-cloud-trust.md
Labels: hello-for-business, Microsoft submitter

#10607 small clarification
  windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-with-dynamic-code-security.md
Labels: application control

#10608 added missing options
  windows/client-management/system-failure-recovery-options.md
Labels: client management

#10609 Update hello-feature-dynamic-lock.md
  windows/security/identity-protection/hello-for-business/hello-feature-dynamic-lock.md
Labels: hello-for-business

#10620 #10364
  windows/security/threat-protection/windows-defender-application-control/applocker/script-rules-in-applocker.md
Labels: application control

#10621 #10384
  windows/security/threat-protection/security-policy-settings/network-security-restrict-ntlm-outgoing-ntlm-traffic-to-remote-servers.md
Labels: policy settings, threat-protection

#10626 Set Policy Driven Update path's are wrong
  windows/client-management/mdm/policy-csp-update.md
Labels: client management, mdm

#10629 removed support for win10
  windows/client-management/mdm/policy-csp-newsandinterests.md
Labels: client management

#10630 Update interactive-logon-do-not-require-ctrl-alt-del.md
  windows/security/threat-protection/security-policy-settings/interactive-logon-do-not-require-ctrl-alt-del.md
Labels: policy settings, threat-protection

#10644 Update enable-virtualization-based-protection-of-code-integrity.md
  windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity.md
Labels: Microsoft submitter

#10646 Update filter-origin-documentation with effective Windows versions.md
  windows/security/threat-protection/windows-firewall/filter-origin-documentation.md
Labels: Microsoft submitter

#10691 Update waas-delivery-optimization-faq.md
  windows/deployment/update/waas-delivery-optimization-faq.md
Labels: Microsoft submitter

#10693 Add new CSP node IcmpTypesAndCodes
  windows/client-management/mdm/firewall-csp.md
Labels: Microsoft submitter

#10675 Autopatch support for Windows Education
  windows/deployment/windows-autopatch/overview/windows-autopatch-faq.yml
Labels: update

#10712 PINComplexity - Minimum PIN length
  windows/security/identity-protection/hello-for-business/hello-manage-in-organization.md
Labels: Microsoft submitter

#10720 Update vpn-security-features.md
  windows/security/identity-protection/vpn/vpn-security-features.md
Labels: identity protection

#10721 Update mcc-enterprise.md
  windows/deployment/do/mcc-enterprise.md
Labels: update

#10722 Update mcc-enterprise.md
  windows/deployment/do/mcc-enterprise.md
Labels: update

#10724 Update UniversalPrint-csp.md to include Win10 info.
  windows/client-management/mdm/universalprint-csp.md
Labels: Microsoft submitter, Sign off

#10740 Update faq-md-app-guard.yml
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.yml
Labels: Microsoft submitter

#9911 added missed step
  windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert.md
Labels: hello-for-business, Sign off
