Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2022-08, with the labels that each got.

#10729 Add new content page for content endpoints and other minor edits.
  windows/deployment/do/TOC.yml
  windows/deployment/do/delivery-optimization-endpoints.md
  windows/deployment/do/delivery-optimization-proxy.md
  windows/deployment/do/index.yml
  windows/deployment/do/waas-delivery-optimization-setup.md
  windows/deployment/update/waas-delivery-optimization-faq.md
Labels: Microsoft submitter, do not merge

#10758 RDP to AADJ device using WHfB requires on-prem infrastructure and is …
  windows/security/identity-protection/hello-for-business/hello-feature-remote-desktop.md
Labels: hello-for-business, Microsoft submitter, Sign off

#10780 added Education,Enterprise Professional. editions
  windows/security/threat-protection/microsoft-defender-application-guard/reqs-md-app-guard.md
Labels: security, application guard

#10777 Update configure-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/configure-md-app-guard.md
Labels: security, application guard, Microsoft submitter

#10803 Update reqs-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/reqs-md-app-guard.md
Labels: application guard, Microsoft submitter

#10800 Add clearer guidance around registering devices
  windows/deployment/windows-autopatch/deploy/windows-autopatch-register-devices.md
Labels: update, Microsoft submitter

#10788 Added Settings Catalog and device name optional setting
  windows/deployment/update/update-compliance-v2-configuration-mem.md
Labels: update, Sign off

#10799 Update Language-pack-management-csp.md
  windows/client-management/mdm/Language-pack-management-csp.md
Labels: Microsoft submitter, Sign off

#10812 Update policy-csp-update.md
  windows/client-management/mdm/policy-csp-update.md
Labels: Sign off

#10804 Update configure-md-app-guard.md
  windows/security/threat-protection/microsoft-defender-application-guard/configure-md-app-guard.md
Labels: Microsoft submitter

#10817 Fixed a small typo in WaaSDeploymentStatus
  windows/deployment/TOC.yml
Labels: update
