Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-06, with the labels that each got.

#11552 Update network-security-restrict-ntlm-audit-ntlm-authentication-in-th…
  windows/security/threat-protection/security-policy-settings/network-security-restrict-ntlm-audit-ntlm-authentication-in-this-domain.md
Labels: windows-client/prod, itpro-security/tech

#11521 Update wufb-compliancedeadlines.md
  windows/deployment/update/wufb-compliancedeadlines.md
Labels: windows-client/prod, itpro-updates/tech

#11522 Update update-policies.md
  windows/deployment/update/update-policies.md
Labels: windows-client/prod, itpro-updates/tech

#11572 Clarified content around WDS as it relates to MDT.
  windows/deployment/wds-boot-support.md
Labels: Microsoft submitter, Sign off, windows-client/prod, itpro-deploy/tech

#11577 Update provisioning-packages.md
  windows/configuration/provisioning-packages/provisioning-packages.md
Labels: windows-client/prod, itpro-configure/tech, Tier2

#11581 Patch 2
  windows/whats-new/whats-new-windows-10-version-1909.md
Labels: Microsoft submitter, windows-client/prod, itpro-fundamentals/tech

#11586 clarifying that bypass is not recommended.
  windows/deployment/do/waas-delivery-optimization-reference.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech

#11585 Adding clarification about mode 100 - not recommended
  windows/deployment/do/waas-delivery-optimization-faq.yml
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech, Tier3
