Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-09, with the labels that each got.

#11694 Update windows-11-se-overview.md
  education/windows/windows-11-se-overview.md
Labels: Tier1

#11686 Update configure-md-app-guard.md
  windows/security/application-security/application-isolation/microsoft-defender-application-guard/configure-md-app-guard.md
Labels: Microsoft submitter

#11688 Update install-md-app-guard.md
  windows/security/application-security/application-isolation/microsoft-defender-application-guard/install-md-app-guard.md
Labels: Microsoft submitter, Tier2

#11710 Fix capitalization for RetryTimeInHours profilexml example
  windows/client-management/mdm/vpnv2-csp.md
Labels: Microsoft submitter, windows-client/prod, itpro-manage/tech

#11713 Update usmt-exclude-files-and-settings.md
  windows/deployment/usmt/usmt-exclude-files-and-settings.md
Labels: Sign off, windows-client/prod, itpro-deploy/tech

#11717 Fix spelling mistake: 'Allow system to be shut down without having to lg on'
  windows/security/threat-protection/security-policy-settings/security-options.md
Labels: windows-client/prod, itpro-security/tech

#11721 update steps to enable nested virtualization
  windows/security/application-security/application-isolation/windows-sandbox/windows-sandbox-overview.md
Labels: Tier2

#11706 Update feature-multifactor-unlock.md
  windows/security/identity-protection/hello-for-business/feature-multifactor-unlock.md
Labels: hello-for-business
