Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-03, with the labels that each got.

#11385 Update policy-csp-update.md
  windows/client-management/mdm/policy-csp-update.md
Labels: Microsoft submitter, windows-client/prod, itpro-manage/tech

#11370 Update event-4624.md
  windows/security/threat-protection/auditing/event-4624.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech, Tier3

#11389 Update event-4625.md
  windows/security/threat-protection/auditing/event-4625.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech, Tier3

#11388 Add documentation for ScanBeforeInitialLogonAllowed
  windows/deployment/update/waas-wu-settings.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech

#11392 Revert "Add documentation for ScanBeforeInitialLogonAllowed"
  windows/deployment/update/waas-wu-settings.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech

#11272 Update mcc-enterprise-deploy.md
  windows/deployment/do/mcc-enterprise-deploy.md
Labels: windows-client/prod, itpro-updates/tech

#11396 Fix URL
  windows/security/identity-protection/hello-for-business/hello-faq.yml
Labels: Tier1

#11406 Update windows-security-baselines.md
  windows/security/threat-protection/windows-security-configuration-framework/windows-security-baselines.md
Labels: windows-client/prod, itpro-security/tech, Tier3

#11409 Spelling correction
  windows/security/threat-protection/microsoft-defender-application-guard/reqs-md-app-guard.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech

#11405 Update kiosk-xml.md
  windows/configuration/kiosk-xml.md
Labels: windows-client/prod, itpro-configure/tech

#11404 hello-hybrid-cert-whfb-settings-adfs.md
  windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-adfs.md
Labels: Microsoft submitter

#11391 Remove references to Kerberos from authentication documentation
  windows/security/threat-protection/windows-firewall/configure-authentication-methods.md
  windows/security/threat-protection/windows-firewall/create-an-authentication-request-rule.md
Labels: Microsoft submitter, windows-client/prod

#11413 Update connect-to-remote-aadj-pc.md
  windows/client-management/connect-to-remote-aadj-pc.md
Labels: windows-client/prod, itpro-manage/tech, Tier2

#11415 Clarify when certificates are re-validated
  windows/security/identity-protection/vpn/vpn-conditional-access.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech

#11416 Update hello-faq.yml
  windows/security/identity-protection/hello-for-business/hello-faq.yml
Labels: Microsoft submitter, Tier1

#11417 Update event-4769.md
  windows/security/threat-protection/auditing/event-4769.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech

#11422 Update waas-delivery-optimization-reference.md
  windows/deployment/do/waas-delivery-optimization-reference.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech

#11423 Update delivery-optimization-endpoints.md
  windows/deployment/do/delivery-optimization-endpoints.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech
