Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-01, with the labels that each got.

#11089 Doc updates to Firewall CSP
  windows/client-management/mdm/firewall-csp.md
Labels: Microsoft submitter

#11256 Update windows-10-subscription-activation.md
  windows/deployment/windows-10-subscription-activation.md
Labels: Microsoft submitter, Sign off

#11259 Update kernel-dma-protection-for-thunderbolt.md
  windows/security/information-protection/kernel-dma-protection-for-thunderbolt.md
Labels: Microsoft submitter

#11266 Update understanding-admx-backed-policies.md
  windows/client-management/understanding-admx-backed-policies.md
Labels: windows-client/prod, itpro-manage/tech

#10987 Update encrypted-hard-drive.md
  windows/security/information-protection/encrypted-hard-drive.md
Labels: Sign off, windows-client/prod, itpro-security/tech

#11123 added windows 11
  windows/security/threat-protection/security-policy-settings/domain-controller-allow-server-operators-to-schedule-tasks.md
Labels: do not merge, windows-client/prod, itpro-security/tech

#11124 added windows 11
  windows/security/threat-protection/security-policy-settings/domain-controller-ldap-server-signing-requirements.md
Labels: do not merge, windows-client/prod, itpro-security/tech

#11125 added windows 11
  windows/security/threat-protection/security-policy-settings/domain-controller-refuse-machine-account-password-changes.md
Labels: do not merge, windows-client/prod, itpro-security/tech

#11163 added windows 11, adjusted format
  windows/security/threat-protection/security-policy-settings/network-security-configure-encryption-types-allowed-for-kerberos.md
Labels: windows-client/prod, itpro-security/tech

#11173 added windows 11
  windows/security/threat-protection/security-policy-settings/network-security-restrict-ntlm-audit-ntlm-authentication-in-this-domain.md
Labels: windows-client/prod, itpro-security/tech

#11175 added windows 11
  windows/security/threat-protection/security-policy-settings/network-security-restrict-ntlm-ntlm-authentication-in-this-domain.md
Labels: windows-client/prod, itpro-security/tech

#11202 added windows 11
  windows/security/threat-protection/security-policy-settings/add-workstations-to-domain.md
Labels: windows-client/prod, itpro-security/tech

#11281 Add missing link for EID 4902, 4907, 4904, 4905
  windows/security/threat-protection/auditing/audit-audit-policy-change.md
Labels: windows-client/prod, itpro-security/tech

#11282 Move Event Volume section
  windows/security/threat-protection/auditing/audit-authorization-policy-change.md
Labels: windows-client/prod, itpro-security/tech

#11287 Update windowsdefenderapplicationguard-csp.md
  windows/client-management/mdm/windowsdefenderapplicationguard-csp.md
Labels: Microsoft submitter, windows-client/prod, itpro-manage/tech

#11283 Added links for How to Articles for CA Policies
  windows/deployment/windows-10-subscription-activation.md
Labels: Microsoft submitter, windows-client/prod, itpro-fundamentals/tech

#11279 Replace 'without Intune' with 'using Intune'
  windows/security/identity-protection/hello-for-business/hello-aad-join-cloud-only-deploy.md
Labels: Microsoft submitter

#11297 Correct mistake in event-4670.md
  windows/security/threat-protection/auditing/event-4670.md
Labels: windows-client/prod, itpro-security/tech

#11303 Update windows-sandbox-configure-using-wsb-file.md
  windows/security/threat-protection/windows-sandbox/windows-sandbox-configure-using-wsb-file.md
Labels: windows-client/prod, itpro-security/tech

#11304 Typo fixes, style fixes
  windows/security/threat-protection/security-policy-settings/act-as-part-of-the-operating-system.md
  windows/security/threat-protection/security-policy-settings/create-symbolic-links.md
  windows/security/threat-protection/security-policy-settings/lock-pages-in-memory.md
Labels: windows-client/prod, itpro-security/tech
