Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-11, with the labels that each got.

#11789 Update secure-the-windows-10-boot-process.md
  windows/security/operating-system-security/system-security/secure-the-windows-10-boot-process.md
Labels: Tier1

#11788 Update deployment-service-overview.md
  windows/deployment/update/deployment-service-overview.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech, Tier1

#11793 Bulk update | 167121 - Azure AD PowerShell rebrand
  store-for-business/microsoft-store-for-business-education-powershell-module.md
Labels: Microsoft submitter

#11799 Fix typo in overview-windows-apps.md
  windows/application-management/overview-windows-apps.md
Labels: windows-client/prod, itpro-apps/tech

#11770 Edits and clarification based on customer feedback
  windows/deployment/do/images/assigning-ip-2.png
  windows/deployment/do/images/external-switch-1.jpg
  windows/deployment/do/images/installation-complete-7.png
  windows/deployment/do/images/installation-info-4.png
  windows/deployment/do/images/memory-storage-5.png
  windows/deployment/do/images/portal-installation-instructions-6.png
  windows/deployment/do/images/use-custom-dns-3.png
  windows/deployment/do/mcc-enterprise-deploy.md
  windows/deployment/do/mcc-enterprise-update-uninstall.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech, Tier3

#11821 Update event-4742.md
  windows/security/threat-protection/auditing/event-4742.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech

#11820 Update event-4720.md
  windows/security/threat-protection/auditing/event-4720.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech

#11818 Update event-4738.md
  windows/security/threat-protection/auditing/event-4738.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech

#11819 Update event-4741.md
  windows/security/threat-protection/auditing/event-4741.md
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech

#11827 Correction: Change 23H3 to 23H2
  windows/privacy/required-diagnostic-events-fields-windows-11-22H2.md
Labels: windows-client/prod, itpro-privacy/tech
