Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-12, with the labels that each got.

#11849 Update md-app-guard-browser-extension.md
  windows/security/application-security/application-isolation/microsoft-defender-application-guard/md-app-guard-browser-extension.md
Labels: Microsoft submitter

#11852 Fix typo in whats-new-windows-11-version-23h2.md
  windows/whats-new/whats-new-windows-11-version-23h2.md
Labels: windows-client/prod, itpro-fundamentals/tech, Tier2

#11857 Add issue template config file and update docfx.json
  .github/ISSUE_TEMPLATE/config.yml
  education/docfx.json
  windows/application-management/docfx.json
  windows/client-management/docfx.json
  windows/configuration/docfx.json
  windows/deployment/docfx.json
  windows/hub/docfx.json
  windows/privacy/docfx.json
  windows/security/docfx.json
  windows/whats-new/docfx.json
Labels: Microsoft submitter

#11804 Update mcc-enterprise-appendix.md
  windows/deployment/do/mcc-enterprise-appendix.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech, Tier3

#11803 Update mcc-enterprise-prerequisites.md
  windows/deployment/do/mcc-enterprise-prerequisites.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech
