Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-08, with the labels that each got.

#11641 Update wufb-reports-do.md
  windows/deployment/update/wufb-reports-do.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech

#11602 Update mcc-isp-signup.md
  windows/deployment/do/mcc-isp-signup.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech

#11626 Use the "/genconfig option" instead of "use the ScanState Syntax option"
  windows/deployment/usmt/getting-started-with-the-user-state-migration-tool.md
Labels: Sign off, windows-client/prod, itpro-deploy/tech

#11660 Fix typo in Bitlocker index.md file
  windows/security/operating-system-security/data-protection/bitlocker/index.md
Labels: Tier1
