Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-05, with the labels that each got.

#11495 Update event-4769.md
  windows/security/threat-protection/auditing/event-4769.md
Labels: windows-client/prod, itpro-security/tech

#11507 Update waas-delivery-optimization-faq.yml
  windows/deployment/do/waas-delivery-optimization-faq.yml
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech, Tier3

#11508 Update delivery-optimization-workflow.md
  windows/deployment/do/delivery-optimization-workflow.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech

#11526 Update note about using atomic blocks with firewall CSP
  windows/client-management/mdm/firewall-csp.md
Labels: Microsoft submitter, windows-client/prod, itpro-manage/tech

#11532 Update personalization-csp.md
  windows/client-management/mdm/personalization-csp.md
Labels: windows-client/prod, itpro-manage/tech

#11527 Update usmt-hard-link-migration-store.md
  windows/deployment/usmt/usmt-hard-link-migration-store.md
Labels: Sign off, windows-client/prod, itpro-deploy/tech

#11539 Update tpm-recommendations.md
  windows/security/information-protection/tpm/tpm-recommendations.md
Labels: windows-client/prod, itpro-security/tech, Tier1
