Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2023-02, with the labels that each got.

#11316 Update faq-md-app-guard.yml
  windows/security/threat-protection/microsoft-defender-application-guard/faq-md-app-guard.yml
Labels: Microsoft submitter, windows-client/prod, itpro-security/tech

#11318 Update user-account-control-behavior-of-the-elevation-prompt-for-stan…
  windows/security/threat-protection/security-policy-settings/user-account-control-behavior-of-the-elevation-prompt-for-standard-users.md
Labels: windows-client/prod, itpro-security/tech

#11329 Update remote-credential-guard.md
  windows/security/identity-protection/remote-credential-guard.md
Labels: windows-client/prod, itpro-security/tech

#11334 Update bitlocker-management-for-enterprises.md
  windows/security/information-protection/bitlocker/bitlocker-management-for-enterprises.md
Labels: Microsoft submitter, Sign off, windows-client/prod, itpro-security/tech

#11330 SHA256 PCR is a single bank
  windows/security/information-protection/tpm/switch-pcr-banks-on-tpm-2-0-devices.md
Labels: windows-client/prod, itpro-security/tech

#11336 Update windows-autopatch-update-management.md
  windows/deployment/windows-autopatch/operate/windows-autopatch-update-management.md
Labels: windows-client/prod, itpro-updates/tech

#11342 Clarification on GPO effect on restrictedAdmin
  windows/security/identity-protection/remote-credential-guard.md
Labels: windows-client/prod, itpro-security/tech

#11349 Update password-must-meet-complexity-requirements.md
  windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements.md
Labels: threat-protection, windows-client/prod, itpro-security/tech

#11346 Spelling error in the "Policy timeline" section
  windows/client-management/mdm/policy-csp-restrictedgroups.md
Labels: windows-client/prod, itpro-manage/tech

#11368 Update apply-a-basic-audit-policy-on-a-file-or-folder.md
  windows/security/threat-protection/auditing/apply-a-basic-audit-policy-on-a-file-or-folder.md
Labels: windows-client/prod, itpro-security/tech, Tier3

#11366 Update waas-delivery-optimization-reference.md
  windows/deployment/do/waas-delivery-optimization-reference.md
Labels: Microsoft submitter, windows-client/prod, itpro-updates/tech

#11372 Update wufb-wsus.md
  windows/deployment/update/wufb-wsus.md
Labels: windows-client/prod, itpro-updates/tech
