Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2024-06, with the labels that each got.

#11896 Update wufb-wsus.md
  windows/deployment/update/wufb-wsus.md
Labels: windows-client/svc, itpro-updates/subsvc

#11881 update FAQ questions about ports
  windows/deployment/do/waas-delivery-optimization-faq.yml
Labels: Microsoft submitter, Tier3, windows-client/svc, itpro-updates/subsvc

#11880 Clarify support for GCC
  windows/deployment/update/includes/wufb-deployment-limitations.md
Labels: Microsoft submitter, windows-client/svc, itpro-updates/subsvc

#11905 Fix case (VGpu -> vGpu)
  windows/security/application-security/application-isolation/windows-sandbox/windows-sandbox-configure-using-wsb-file.md
Labels: Microsoft submitter

#11914 removed migration info mcc-isp.md
  windows/deployment/do/mcc-isp.md
Labels: Microsoft submitter, windows-client/svc, itpro-updates/subsvc

#11915 Update update-other-microsoft-products.md
  windows/deployment/update/update-other-microsoft-products.md
Labels: Microsoft submitter, windows-client/svc, itpro-updates/subsvc

#11916 Update windows-11-se-overview.md
  education/windows/windows-11-se-overview.md
Labels: Tier1
