Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2024-10, with the labels that each got.

#11942 Update security-compliance-toolkit-10.md
  windows/security/operating-system-security/device-management/windows-security-configuration-framework/security-compliance-toolkit-10.md
Labels: Microsoft submitter

#11943 Update get-support-for-security-baselines.md
  windows/security/operating-system-security/device-management/windows-security-configuration-framework/get-support-for-security-baselines.md
Labels: Microsoft submitter

#11945 Update whats-new-do.md
  windows/deployment/do/whats-new-do.md
Labels: windows-client/svc, itpro-updates/subsvc

#11947 Update delivery-optimization-endpoints.md
  windows/deployment/do/delivery-optimization-endpoints.md
Labels: Microsoft submitter, Sign off, windows-client/svc, itpro-updates/subsvc

#11955 Update windows-autopatch-windows-quality-update-overview.md
  windows/deployment/windows-autopatch/manage/windows-autopatch-windows-quality-update-overview.md
Labels: Tier1, windows-client/svc, autopatch/subsvc

#11956 Clarified and sharpened language
  windows/security/application-security/application-control/app-control-for-business/appcontrol.md
Labels: Tier3
