Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2024-08, with the labels that each got.

#11926 Update policy-csp-update.md
  windows/client-management/mdm/policy-csp-update.md
Labels: Microsoft submitter

#11929 Update windows-autopatch-conflicting-configurations.md
  windows/deployment/windows-autopatch/references/windows-autopatch-conflicting-configurations.md
Labels: Microsoft submitter, Tier1, windows-client/svc, itpro-updates/subsvc

#11928 added an FAQ about error code 0x80d03002
  windows/deployment/do/waas-delivery-optimization-faq.yml
Labels: Microsoft submitter, Tier3, windows-client/svc, itpro-updates/subsvc
