Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2025-02, with the labels that each got.

#11998 Update windows-autopatch-configure-network.md
  windows/deployment/windows-autopatch/prepare/windows-autopatch-configure-network.md
Labels: Microsoft submitter, Tier2, windows-client/svc, autopatch/subsvc

#12006 Update recovery-process.md
  windows/security/operating-system-security/data-protection/bitlocker/recovery-process.md
Labels: Microsoft submitter

#12014 Update mcc-ent-prerequisites.md
  windows/deployment/do/mcc-ent-prerequisites.md
Labels: Microsoft submitter, windows-client/svc, itpro-updates/subsvc
