Repository MicrosoftDocs/windows-itpro-docs, pull requests merged in 2025-01, with the labels that each got.

#11983 Update windows-autopatch-manage-driver-and-firmware-updates.md
  windows/deployment/windows-autopatch/manage/windows-autopatch-manage-driver-and-firmware-updates.md
Labels: Microsoft submitter, Tier1, windows-client/svc, autopatch/subsvc

#11979 Removed a duplicate DeniedSigner from microsoft-recommended-driver-block-rules
  windows/security/application-security/application-control/app-control-for-business/design/microsoft-recommended-driver-block-rules.md
Labels: Tier3

#11987 replace deprecated Red Tiger videos
  README.md
  education/windows/tutorial-deploy-apps-winse/create-policies.md
Labels: Microsoft submitter

#11990 Update mcc-isp-support.md
  windows/deployment/do/mcc-isp-support.md
Labels: Microsoft submitter, windows-client/svc, itpro-updates/subsvc

#11988 Update mcc-isp-signup.md
  windows/deployment/do/mcc-isp-signup.md
Labels: Microsoft submitter, windows-client/svc, itpro-updates/subsvc

#11989 Update mcc-isp-faq.yml
  windows/deployment/do/mcc-isp-faq.yml
Labels: Microsoft submitter, Tier3, windows-client/svc, itpro-updates/subsvc

#11997 Update windows-autopatch-hotpatch-updates.md
  windows/deployment/windows-autopatch/manage/windows-autopatch-hotpatch-updates.md
Labels: Microsoft submitter, Tier1, windows-client/svc, autopatch/subsvc
